pipeline/memeber_details.json
{
	"name": "memeber_details",
	"properties": {
		"activities": [
			{
				"name": "member_details",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "member_details",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 16,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "End_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "End_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "pipelinerunstatus_copy1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "End_time",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "insert into fss.pipelinerunstatus\n(pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time,status,error_message)\nvalues (\n  '@{pipeline().Pipeline}',\n  '@{pipeline().RunId}',\n  '@{formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss')}',\n  '@{pipeline().TriggerType}',\n  '@{variables('End_time')}',\n  '@{variables('start_time')}',\n  '@{activity('member_details').status}',\n  '@{if(equals(activity('member_details').status, 'Failed'), activity('member_details').error_message, null)}'\n)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "member_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "memeber_details",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzurePostgreSqlSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"writeMethod": "CopyCommand"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PWC_Key",
									"type": "String"
								},
								"sink": {
									"name": "member_id",
									"type": "Int32",
									"physicalType": "integer"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String"
								},
								"sink": {
									"name": "last_name",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "STREET",
									"type": "String"
								},
								"sink": {
									"name": "address",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "CITY",
									"type": "String"
								},
								"sink": {
									"name": "city",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "STATE",
									"type": "String"
								},
								"sink": {
									"name": "state",
									"type": "String",
									"physicalType": "character"
								}
							},
							{
								"source": {
									"name": "ZIPCODE",
									"type": "String"
								},
								"sink": {
									"name": "zip_code",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "MBRSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "MBRCREATEDATE",
									"type": "String"
								},
								"sink": {
									"name": "start_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "member_details_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "member_details_sink",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"start_time": {
				"type": "String"
			},
			"End_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}