pipeline/PL_COMMENTS.json
{
	"name": "PL_COMMENTS",
	"properties": {
		"activities": [
			{
				"name": "comments",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_COMMENTS",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "end_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "job_run_status",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "end_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "insert into ch_fss.job_run_status\n(pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time,status,error_message)\nvalues (\n  '@{pipeline().Pipeline}',\n  '@{pipeline().RunId}',\n  '@{formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss')}',\n  '@{pipeline().TriggerType}',\n  '@{variables('end_time')}',\n  '@{variables('start_time')}',\n  '@{activity('comments').status}',\n  '@{if(equals(activity('comments').status, 'Failed'), activity('comments').error.message, null)}'\n)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "comments",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "comments_csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzurePostgreSqlSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"writeMethod": "CopyCommand"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"sink": {
									"name": "comment_id",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"sink": {
									"name": "post_date",
									"type": "DateTime",
									"physicalType": "timestamp without time zone"
								}
							},
							{
								"sink": {
									"name": "comment_value",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"sink": {
									"name": "created_date",
									"type": "DateTime",
									"physicalType": "timestamp without time zone"
								}
							},
							{
								"sink": {
									"name": "created_by",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"sink": {
									"name": "updated_date",
									"type": "DateTime",
									"physicalType": "timestamp without time zone"
								}
							},
							{
								"sink": {
									"name": "updated_by",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"sink": {
									"name": "transaction_id",
									"type": "Int32",
									"physicalType": "integer"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "comments_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "comments_sink",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"start_time": {
				"type": "String"
			},
			"end_time": {
				"type": "String"
			},
			"status": {
				"type": "String"
			},
			"error_message": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DATA_LOAD_PIPELINES"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-19T21:46:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}