pipeline/PL_calculation_monthly.json
{
	"name": "PL_calculation_monthly",
	"properties": {
		"activities": [
			{
				"name": "Start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Start_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LookupWatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "SELECT last_processed_date::text AS last_processed_date FROM ch_fss.watermark_table WHERE process_name = 'TransactionProcessing';"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LookupMonthsArray",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "WITH bounds AS (\n  SELECT \n    date_trunc('month', MIN(transaction_date)) AS min_month,\n    date_trunc('month', MAX(transaction_date)) AS max_month\n  FROM ch_fss.\"transaction\"\n),\nmonths AS (\n  SELECT \n    generate_series(min_month, max_month, interval '1 month') AS month_start\n  FROM bounds\n)\nSELECT \n  to_char(month_start, 'YYYY-MM-DD') AS month_start,\n  to_char(month_start + INTERVAL '1 month' - INTERVAL '0.001 second', 'YYYY-MM-DD') AS month_end\nFROM months\nORDER BY month_start;",
						"sqlReaderQuery": "\nWITH bounds AS (\n  SELECT date_trunc('month', COALESCE(:start_date::timestamp, '1900-01-01')) AS min_month,\n         date_trunc('month', NOW()) AS max_month\n), months AS (\n  SELECT generate_series(min_month, max_month, INTERVAL '1 month') AS month_start\n  FROM bounds\n), limited_months AS (\n  SELECT month_start,\n         CASE WHEN month_start + INTERVAL '1 month' > NOW() - INTERVAL '1 day' THEN NOW() - INTERVAL '1 day' ELSE month_start + INTERVAL '1 month' - INTERVAL '0.001 second' END AS month_end\n  FROM months\n)\nSELECT to_char(month_start, 'YYYY-MM-DD') AS month_start,\n       to_char(month_end, 'YYYY-MM-DD') AS month_end\nFROM limited_months\nWHERE month_start <= NOW() - INTERVAL '1 day'\nORDER BY month_start;",
						"parameters": {
							"start_date": "@activity('LookupWatermark').output.firstRow.last_processed_date"
						}
					},
					"dataset": {
						"referenceName": "transaction_sink",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMonthsArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMonthsArray').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CALCULATION_INITIAL_LOAD_copy1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"month_start": {
										"value": "@item().month_start",
										"type": "Expression"
									},
									"month_end": {
										"value": "@item().month_end",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SetLatestProcessedEndDateInForEach",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LatestProcessedEndDate",
								"value": {
									"value": "@item().month_end",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "End_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "updatewatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "End_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "updatewatermark",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "UPDATE ch_fss.watermark_table \r\nSET last_processed_date = TO_TIMESTAMP('@{variables('LatestProcessedEndDate')}', 'YYYY-MM-DD') + INTERVAL '1 day',\r\n    updated_date = now(),\r\n    updated_by = 'Admin'\r\nWHERE process_name = 'TransactionProcessing';"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"Start_time": {
				"type": "String"
			},
			"End_time": {
				"type": "String"
			},
			"ProcessedMonthEnds": {
				"type": "Array",
				"defaultValue": []
			},
			"LatestProcessedEndDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "batch_wise_cal"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}