pipeline/PL_FSS_CALCULATION.json
{
	"name": "PL_FSS_CALCULATION",
	"properties": {
		"activities": [
			{
				"name": "start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMonthsArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMonthsArray').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "share_financial_stat_table",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_SHARE_FIN_STAT",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"start_date": {
										"value": "@item().start_date",
										"type": "Expression"
									},
									"end_date": {
										"value": "@item().end_date",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SetLatestProcessedEndDateInForEach",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "account_group_fin_stat_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LatestProcessedEndDate",
								"value": {
									"value": "@item().end_date",
									"type": "Expression"
								}
							}
						},
						{
							"name": "account_group_fin_stat_table",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "share_financial_stat_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ACCOUNT_GRP_FIN_STAT",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"start_date": {
										"value": "@item().start_date",
										"type": "Expression"
									},
									"end_date": {
										"value": "@item().end_date",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "updatewatermark",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SetLatestProcessedEndDateInForEach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "CH_FSS_Postgres_sql",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "INSERT INTO ch_fss.watermark_table (process_name, last_processed_date,created_by,created_date, updated_date, updated_by)\nVALUES (\n    'activity('LookupMonthsArray').output.value',\n    TO_TIMESTAMP('@{variables('LatestProcessedEndDate')}', 'YYYY-MM-DD') + INTERVAL '1 day',\n    'Admin',\n    NOW(),\n    NOW(),\n    'Admin'\n);",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "end_time",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "updatewatermark",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "end_time",
								"value": {
									"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "job_run_status",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "end_time",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								},
								{
									"activity": "updatewatermark",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "CH_FSS_Postgres_sql",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat(\n  'insert into ch_fss.job_run_status (pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time, status, error_message) values (',\n  '''', pipeline().Pipeline, '''', ',',\n  '''', pipeline().RunId, '''', ',',\n  '''', formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss'), '''', ',',\n  '''', pipeline().TriggerType, '''', ',',\n  '''', variables('end_time'), '''', ',',\n  '''', variables('start_time'), '''', ',',\n  '''', activity('updatewatermark').status, '''', ',',\n  if(\n    equals(activity('updatewatermark').status, 'Failed'),\n    concat('''', replace(activity('updatewatermark').error.message.details, '''', ''''''), ''''),\n    'NULL'\n  ),\n  ')'\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "LookupMonthsArray",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "watermarktable_intial_insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "\nSELECT\n  gs.dt::date AS start_date,\n  CASE\n    WHEN (gs.dt::date + INTERVAL '1 month')::date > CURRENT_DATE\n      THEN CURRENT_DATE\n    ELSE (gs.dt::date + INTERVAL '1 month')::date\n  END AS end_date\nFROM (\n  SELECT\n    date_trunc('month', last_processed_date)::date AS start_date,\n    date_trunc('month', CURRENT_DATE)::date AS current_month_start\n  FROM ch_fss.watermark_table\n  WHERE process_name = 'TransactionProcessing'\n  ORDER BY created_date DESC\n  LIMIT 1\n) AS p\nCROSS JOIN LATERAL generate_series(\n  p.start_date::timestamp,\n  p.current_month_start::timestamp,\n  INTERVAL '1 month'\n) AS gs(dt)\nORDER BY start_date\n",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Lookupmonthsarray",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "watermarktable_intial_insert",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "CH_FSS_Postgres_sql",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "\nINSERT INTO ch_fss.watermark_table (\n    process_name, last_processed_date, created_by, created_date, updated_date, updated_by\n)\nVALUES (\n    'TransactionProcessing',\n    '2020-01-01'::timestamp,\n    'Admin',\n    NOW(),\n    NOW(),\n    'Admin'\n);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"start_time": {
				"type": "String"
			},
			"end_time": {
				"type": "String"
			},
			"LatestProcessedEndDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "FSS_CALCULATION_PL"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}