pipeline/Pl_load_blob_sql.json
{
	"name": "Pl_load_blob_sql",
	"properties": {
		"activities": [
			{
				"name": "Get folder metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "dataloaddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "incomingfilesfolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get folder metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get folder metadata').output.childItems",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "incomingfilesfolder",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Destination",
									"type": "DatasetReference",
									"parameters": {
										"dest_filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "dataloaddate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ETLSTARTTIME",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Notcopiedfiles",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "End_Audit",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "start_audit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ETLENDTIME",
					"value": [
						"@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')"
					]
				}
			},
			{
				"name": "start_audit",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEachfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "insert into fss1.sp_audit(batchid, datasetname, tablename, taskname, etlstarttime, etlendtime, deltacondition, deltarecordsread, status, errormessage,created_DTTM)\nvalues (''@{pipeline().parameters.BatchId}',\n'@{pipeline().parameters.datasetname}',\n'@{pipeline().parameters.tablename}',\n'@{pipeline().parameters.taskname}',\n'@{pipeline().parameters.etlstarttime}',\n'@{pipeline().parameters.etlendtime}',\n'@{pipeline().parameters.deltacondition}',\n'@{pipeline().parameters.deltarecordsread}',\n'@{pipeline().parameters.status}',\n'@{pipeline().parameters.errormessage}',\n'@{pipeline().parameters.Created_DTTM}'\n);",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "End_Audit",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEachfile",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "insert into fss1.sp_audit(batchid, datasetname, tablename, taskname, etlstarttime, etlendtime, deltacondition, deltarecordsread, [status], errormessage,created_DTTM)\nvalues (''@{pipeline().parameters.batchid}',\n'@{pipeline().parameters.datasetname}',\n'@{pipeline().parameters.tablename}',\n'@{pipeline().parameters.taskname}',\n'@{pipeline().parameters.etlstarttime}',\n'@{pipeline().parameters.etlendtime}',\n'@{pipeline().parameters.deltacondition}',\n'@{pipeline().parameters.deltarecordsread}',\n'@{pipeline().parameters.status}',\n'@{pipeline().parameters.errormessage}',\n'@{pipeline().parameters.created_DTTM}'\n);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "PostgreSqlTable",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"BatchId": {
				"type": "string",
				"defaultValue": "P"
			},
			"datasetname": {
				"type": "string",
				"defaultValue": "a"
			},
			"tablename": {
				"type": "string",
				"defaultValue": "b"
			},
			"taskname": {
				"type": "string",
				"defaultValue": "c"
			},
			"etlstarttime": {
				"type": "string",
				"defaultValue": "d"
			},
			"etlendtime": {
				"type": "string",
				"defaultValue": "e"
			},
			"deltacondition": {
				"type": "string",
				"defaultValue": "f"
			},
			"deltarecordsread": {
				"type": "string",
				"defaultValue": "g"
			},
			"status": {
				"type": "string",
				"defaultValue": "h"
			},
			"errormessage": {
				"type": "string",
				"defaultValue": "i"
			},
			"created_dttm": {
				"type": "string",
				"defaultValue": "j"
			}
		},
		"variables": {
			"ETLSTARTTIME": {
				"type": "String"
			},
			"ETLENDTIME": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-17T14:36:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}