pipeline/Pl_load_blob_sql.json
{
	"name": "Pl_load_blob_sql",
	"properties": {
		"activities": [
			{
				"name": "Get folder metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "data_load_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "incomingfilesfolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachfile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get folder metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get folder metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "transaction.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SEQUENCENUMBER",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "transaction_id",
												"type": "Int32",
												"physicalType": "integer"
											}
										},
										{
											"source": {
												"name": "BALANCECHANGE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "transaction_amount",
												"type": "Decimal",
												"physicalType": "numeric"
											}
										},
										{
											"source": {
												"name": "NEWBALANCE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "balance",
												"type": "Decimal",
												"physicalType": "numeric"
											}
										},
										{
											"source": {
												"name": "DESCRIPTION",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "description",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "SOURCECODE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "payment_method",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "ACTIONCODE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "transaction_type_code_id",
												"type": "Int32",
												"physicalType": "integer"
											}
										},
										{
											"source": {
												"name": "PWC_Key",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "share_id",
												"type": "Int64",
												"physicalType": "bigint"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "incomingfilesfolder",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzurePostgreSqlTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "data_load_date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ETLSTARTTIMEvariable",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Notcopiedfiles",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "End_Audit",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "start_audit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ETLENDTIMEvariable",
					"value": "[\"@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')\"]"
				}
			},
			{
				"name": "start_audit",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEachfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "insert into fss1.audit_pipeline(audit_id, batch_id, datasetname, tablename, taskname, etlstarttime, etlendtime, deltacondition, deltarecordsread, status, errormessage,created_DTTM)\nvalues ('@{pipeline().parameters.audit_id}',\n'@{pipeline().parameters.Batch_Id}',\n'@{pipeline().parameters.datasetname}',\n'@{pipeline().parameters.tablename}',\n'@{pipeline().parameters.taskname}',\n'@{pipeline().parameters.etlstarttime}',\n'@{pipeline().parameters.etlendtime}',\n'@{pipeline().parameters.deltacondition}',\n'@{pipeline().parameters.deltarecordsread}',\n'@{pipeline().parameters.status}',\n'@{pipeline().parameters.errormessage}',\n'@{pipeline().parameters.created_dttm}'\n);",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "End_Audit",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEachfile",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "insert into fss1.audit_pipeline(audit_id, batch_id, datasetname, tablename, taskname, etlstarttime, etlendtime, deltacondition, deltarecordsread, [status], errormessage,created_DTTM)\nvalues ('@{pipeline().parameters.audit_id}'\n'@{pipeline().parameters.Batch_Id}',\n'@{pipeline().parameters.datasetname}',\n'@{pipeline().parameters.tablename}',\n'@{pipeline().parameters.taskname}',\n'@{pipeline().parameters.etlstarttime}',\n'@{pipeline().parameters.etlendtime}',\n'@{pipeline().parameters.deltacondition}',\n'@{pipeline().parameters.deltarecordsread}',\n'@{pipeline().parameters.status}',\n'@{pipeline().parameters.errormessage}',\n'@{pipeline().parameters.created_dttm}'\n);",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"Batch_Id": {
				"type": "string",
				"defaultValue": "account"
			},
			"datasetname": {
				"type": "string",
				"defaultValue": "transaction"
			},
			"tablename": {
				"type": "string",
				"defaultValue": "account_idb"
			},
			"taskname": {
				"type": "string",
				"defaultValue": "updated"
			},
			"etlstarttime": {
				"type": "string",
				"defaultValue": "2025-10-27 09:30:50.725 +0530"
			},
			"etlendtime": {
				"type": "string",
				"defaultValue": "2025-10-27 09:30:50.725 +0530"
			},
			"deltacondition": {
				"type": "string",
				"defaultValue": "Null"
			},
			"deltarecordsread": {
				"type": "string",
				"defaultValue": "Null"
			},
			"status": {
				"type": "string",
				"defaultValue": "success"
			},
			"errormessage": {
				"type": "string"
			},
			"created_dttm": {
				"type": "string",
				"defaultValue": "2025-10-27 09:30:35.827 +0530"
			},
			"audit_id": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"ETLSTARTTIMEvariable": {
				"type": "String",
				"defaultValue": "2025-10-24 08:11:50.725 +0530"
			},
			"ETLENDTIMEvariable": {
				"type": "String",
				"defaultValue": "2025-10-24 08:11:50.725 +0530"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-17T14:36:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}