pipeline/PL_monthly calculation.json
{
	"name": "PL_monthly calculation",
	"properties": {
		"activities": [
			{
				"name": "LookupWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": "SELECT last_processed_year, last_processed_month\nFROM ch_fss.watermark_table\nWHERE process_name = 'monthly_calculation';",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "watremark_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LastProcessedYear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastProcessedYear",
					"value": {
						"value": "@if(\n  empty(activity('LookupWatermark').output.value), \n  0, \n  int(activity('LookupWatermark').output.value[0].last_processed_year)\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LastProcessedMonth",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastProcessedMonth",
					"value": {
						"value": "@if(\n  empty(activity('LookupWatermark').output.value), \n  0, \n  int(activity('LookupWatermark').output.value[0].last_processed_month)\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IsFirstRun",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LastProcessedMonth",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					},
					{
						"activity": "LastProcessedYear",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('LastProcessedYear'), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LookupMinTransactionDate",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": "SELECT EXTRACT(YEAR FROM MIN(transaction_date)) AS min_year,\n       EXTRACT(MONTH FROM MIN(transaction_date)) AS min_month\nFROM ch_fss.\"transaction\";",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "transaction",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Setlastprocessedyear",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookupMinTransactionDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastProcessedYear",
								"value": {
									"value": "@if(empty(activity('LookupWatermark').output.value), 0, int(activity('LookupWatermark').output.value[0].last_processed_year))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetLastProcessedMonth",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LookupMinTransactionDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastProcessedMonth",
								"value": {
									"value": "@if(\n  empty(activity('LookupWatermark').output.value), \n  0, \n  int(activity('LookupWatermark').output.value[0].last_processed_month)\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"LastProcessedYear": {
				"type": "Integer"
			},
			"LastProcessedMonth": {
				"type": "Integer"
			},
			"NextProcessingDate": {
				"type": "String"
			},
			"ProcessingYear": {
				"type": "Integer"
			},
			"ProcessingMonth": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}