pipeline/PL_sample_output.json
{
	"name": "PL_sample_output",
	"properties": {
		"activities": [
			{
				"name": "Start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Start_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "start_audit",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "End_time",
						"dependencyConditions": [
							"Completed",
							"Succeeded"
						]
					},
					{
						"activity": "status",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "error_message",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "insert into fss.pipelinerunstatus\n(pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time)\nvalues (\n  '@{pipeline().Pipeline}',\n  '@{pipeline().RunId}',\n  '@{formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss')}',\n  '@{pipeline().TriggerType}',\n  '@{variables('End_time')}',\n  '@{variables('Start_time')}',\n  '@{variables('status')}',\n  '@{variables('error_message')}'\n)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzurePostgreSqlSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"writeMethod": "BulkInsert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PWC_Key",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "account_id",
									"type": "Int32",
									"physicalType": "integer"
								}
							},
							{
								"source": {
									"name": "Shr",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "share_type",
									"type": "Int32",
									"physicalType": "integer"
								}
							},
							{
								"source": {
									"name": "Beg Balance",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "beg_balance",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "Dep Amount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dep_amount",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "With Amount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "with_amount",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "NSF CP Fees Amt",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "nsf_cp_fees_amt",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "End Balance",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "end_balance",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "Monthly Avg Balance",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "monthly_avg_balance",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "SType",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "stype",
									"type": "Int32",
									"physicalType": "integer"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "Orig Branch",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "orig_branch",
									"type": "Int32",
									"physicalType": "integer"
								}
							},
							{
								"source": {
									"name": "Cur Branch",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cur_branch",
									"type": "Int32",
									"physicalType": "integer"
								}
							},
							{
								"source": {
									"name": "Aggr Daily End Bal",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "aggr_daily_end_bal",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "# of Days Open During Month",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "days_open_during_month",
									"type": "Int32",
									"physicalType": "integer"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sample_output",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sample_output_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "End_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "End_time",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "error_message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": {
						"value": "@{activity('Copy data').Error.message}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": {
						"value": "@{activity('Copy data').status}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Start_time": {
				"type": "String"
			},
			"End_time": {
				"type": "String"
			},
			"status": {
				"type": "String"
			},
			"error_message": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-17T14:36:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}