adf-app-fss-tmp-dev-scus-001/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-app-fss-tmp-dev-scus-001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/member_details_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_BLOB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_MEMBERDETAILS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DEV_PWC_Extract_Name_2025_12_3.csv",
						"folderPath": "InitialData",
						"container": "fss"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PWC_Key",
						"type": "String"
					},
					{
						"name": "ORDINAL",
						"type": "String"
					},
					{
						"name": "TYPE",
						"type": "String"
					},
					{
						"name": "SUBTYPE",
						"type": "String"
					},
					{
						"name": "MAILOVERRIDE",
						"type": "String"
					},
					{
						"name": "SSNOVERRIDE",
						"type": "String"
					},
					{
						"name": "SSNCERTIFICATION",
						"type": "String"
					},
					{
						"name": "SSNTYPE",
						"type": "String"
					},
					{
						"name": "EFFECTIVEDATE",
						"type": "String"
					},
					{
						"name": "EXPIRATIONDATE",
						"type": "String"
					},
					{
						"name": "BIRTHDATE",
						"type": "String"
					},
					{
						"name": "TITLE",
						"type": "String"
					},
					{
						"name": "FIRST",
						"type": "String"
					},
					{
						"name": "MIDDLE",
						"type": "String"
					},
					{
						"name": "LAST",
						"type": "String"
					},
					{
						"name": "SUFFIX",
						"type": "String"
					},
					{
						"name": "EXTRAADDRESS",
						"type": "String"
					},
					{
						"name": "STREET",
						"type": "String"
					},
					{
						"name": "CITY",
						"type": "String"
					},
					{
						"name": "STATE",
						"type": "String"
					},
					{
						"name": "ZIPCODE",
						"type": "String"
					},
					{
						"name": "HOMEPHONE",
						"type": "String"
					},
					{
						"name": "SSN",
						"type": "String"
					},
					{
						"name": "WORKPHONE",
						"type": "String"
					},
					{
						"name": "LASTFMDATE",
						"type": "String"
					},
					{
						"name": "CARRIERROUTE",
						"type": "String"
					},
					{
						"name": "ADDRESSTYPE",
						"type": "String"
					},
					{
						"name": "BENEFICIARYPERCENT",
						"type": "String"
					},
					{
						"name": "IRSCORRECTION",
						"type": "String"
					},
					{
						"name": "WORKPHONEEXTENSION",
						"type": "String"
					},
					{
						"name": "CTREXEMPT",
						"type": "String"
					},
					{
						"name": "DEATHDATE",
						"type": "String"
					},
					{
						"name": "ECOACODE",
						"type": "String"
					},
					{
						"name": "COUNTRY",
						"type": "String"
					},
					{
						"name": "COUNTRYCODE",
						"type": "String"
					},
					{
						"name": "EMAIL",
						"type": "String"
					},
					{
						"name": "MOTHERSMAIDENNAME",
						"type": "String"
					},
					{
						"name": "EMPLOYERNAME",
						"type": "String"
					},
					{
						"name": "ALTEMAIL",
						"type": "String"
					},
					{
						"name": "LOCATOR",
						"type": "String"
					},
					{
						"name": "MOBILEPHONE",
						"type": "String"
					},
					{
						"name": "PAGERNUMBER",
						"type": "String"
					},
					{
						"name": "USPERSONFLAG",
						"type": "String"
					},
					{
						"name": "IDENTDOCFLAG1",
						"type": "String"
					},
					{
						"name": "IDENTDOCFLAG2",
						"type": "String"
					},
					{
						"name": "IDENTDOCFLAG3",
						"type": "String"
					},
					{
						"name": "IDENTIDTYPE1",
						"type": "String"
					},
					{
						"name": "IDENTIDTYPE2",
						"type": "String"
					},
					{
						"name": "IDENTIDTYPE3",
						"type": "String"
					},
					{
						"name": "IDENTIDDESCRIPTION1",
						"type": "String"
					},
					{
						"name": "IDENTIDDESCRIPTION2",
						"type": "String"
					},
					{
						"name": "IDENTIDDESCRIPTION3",
						"type": "String"
					},
					{
						"name": "IDENTIDNUMBER1",
						"type": "String"
					},
					{
						"name": "IDENTIDNUMBER2",
						"type": "String"
					},
					{
						"name": "IDENTIDNUMBER3",
						"type": "String"
					},
					{
						"name": "IDENTIDISSUEDATE1",
						"type": "String"
					},
					{
						"name": "IDENTIDISSUEDATE2",
						"type": "String"
					},
					{
						"name": "IDENTIDISSUEDATE3",
						"type": "String"
					},
					{
						"name": "IDENTIDEXPIREDATE1",
						"type": "String"
					},
					{
						"name": "IDENTIDEXPIREDATE2",
						"type": "String"
					},
					{
						"name": "IDENTIDEXPIREDATE3",
						"type": "String"
					},
					{
						"name": "IDENTIDVERIFYDATE1",
						"type": "String"
					},
					{
						"name": "IDENTIDVERIFYDATE2",
						"type": "String"
					},
					{
						"name": "IDENTIDVERIFYDATE3",
						"type": "String"
					},
					{
						"name": "OCCUPATION",
						"type": "String"
					},
					{
						"name": "USERCHAR1",
						"type": "String"
					},
					{
						"name": "USERCHAR2",
						"type": "String"
					},
					{
						"name": "USERCHAR3",
						"type": "String"
					},
					{
						"name": "USERCHAR4",
						"type": "String"
					},
					{
						"name": "USERAMOUNT1",
						"type": "String"
					},
					{
						"name": "USERAMOUNT2",
						"type": "String"
					},
					{
						"name": "USERDATE1",
						"type": "String"
					},
					{
						"name": "USERDATE2",
						"type": "String"
					},
					{
						"name": "LASTADDRVERIFDATE",
						"type": "String"
					},
					{
						"name": "CREDITREPORTCONSUMERINFO",
						"type": "String"
					},
					{
						"name": "NAMEFORMAT",
						"type": "String"
					},
					{
						"name": "EXTENDEDNAME",
						"type": "String"
					},
					{
						"name": "CREDITREPORTCONSUMERINFODATE",
						"type": "String"
					},
					{
						"name": "EXTRAINFO",
						"type": "String"
					},
					{
						"name": "RECORDCHANGEDATE",
						"type": "String"
					},
					{
						"name": "MEMBERNUMBER",
						"type": "String"
					},
					{
						"name": "MBRSTATUS",
						"type": "String"
					},
					{
						"name": "MBRSTATUSFMDATE",
						"type": "String"
					},
					{
						"name": "MBRCREATEDATE",
						"type": "String"
					},
					{
						"name": "MBRFMLASTDATE",
						"type": "String"
					},
					{
						"name": "MBREXPDATE",
						"type": "String"
					},
					{
						"name": "MBRACTIVITYDATE",
						"type": "String"
					},
					{
						"name": "PHONETYPE",
						"type": "String"
					},
					{
						"name": "MBRADDRNUMBER",
						"type": "String"
					},
					{
						"name": "ADDRCREATEDATE",
						"type": "String"
					},
					{
						"name": "ADDRFMLASTDATE",
						"type": "String"
					},
					{
						"name": "ADDREXPDATE",
						"type": "String"
					},
					{
						"name": "NONACCTNAMENUM",
						"type": "String"
					},
					{
						"name": "MEMBERNUMLINK",
						"type": "String"
					},
					{
						"name": "MBRADDRNUMLINK",
						"type": "String"
					},
					{
						"name": "CURRGROSSMONTHPAY",
						"type": "String"
					},
					{
						"name": "CURRNETMONTHPAY",
						"type": "String"
					},
					{
						"name": "MBRFMLASTPURGEDATE",
						"type": "String"
					},
					{
						"name": "ADDRFMLASTPURGEDATE",
						"type": "String"
					},
					{
						"name": "FMLASTPURGEDATE",
						"type": "String"
					},
					{
						"name": "MEMBERNUMLINKCHGDATE",
						"type": "String"
					},
					{
						"name": "MBRADDRNUMLINKCHGDATE",
						"type": "String"
					},
					{
						"name": "MBRRECORDCHANGEDATE",
						"type": "String"
					},
					{
						"name": "MBRDISCONNECTDATE",
						"type": "String"
					},
					{
						"name": "ADDRRECORDCHANGEDATE",
						"type": "String"
					},
					{
						"name": "ADDRDISCONNECTDATE",
						"type": "String"
					},
					{
						"name": "MBRFILETYPE",
						"type": "String"
					},
					{
						"name": "MBRADDRFILETYPE",
						"type": "String"
					},
					{
						"name": "RESTRICTACCESS",
						"type": "String"
					},
					{
						"name": "CONFIDENTIAL",
						"type": "String"
					},
					{
						"name": "MARKETINGADDRESS",
						"type": "String"
					},
					{
						"name": "CREDITREPORTADDRINDICATOR",
						"type": "String"
					},
					{
						"name": "CREDITREPORTADDRINDICATORDATE",
						"type": "String"
					},
					{
						"name": "DBANAMEFORMAT",
						"type": "String"
					},
					{
						"name": "DBATITLE",
						"type": "String"
					},
					{
						"name": "DBAFIRST",
						"type": "String"
					},
					{
						"name": "DBAMIDDLE",
						"type": "String"
					},
					{
						"name": "DBALAST",
						"type": "String"
					},
					{
						"name": "DBASUFFIX",
						"type": "String"
					},
					{
						"name": "DBAEXTENDEDNAME",
						"type": "String"
					},
					{
						"name": "SEX",
						"type": "String"
					},
					{
						"name": "IRSCOUNTRYCODE",
						"type": "String"
					},
					{
						"name": "NRATAXRATE",
						"type": "String"
					},
					{
						"name": "NRAEXEMPTIONCODE",
						"type": "String"
					},
					{
						"name": "FORMW8ONFILE",
						"type": "String"
					},
					{
						"name": "W8EXPIRATIONDATE",
						"type": "String"
					},
					{
						"name": "FOREIGNTIN",
						"type": "String"
					},
					{
						"name": "GIIN",
						"type": "String"
					},
					{
						"name": "SUBSTANTIALOWNER",
						"type": "String"
					},
					{
						"name": "CHAPTER4STATUSCODE",
						"type": "String"
					},
					{
						"name": "PREFERREDCONTACTMETHOD",
						"type": "String"
					},
					{
						"name": "ACTIVEDUTY",
						"type": "String"
					},
					{
						"name": "ACTIVEDUTYVERIFICATIONDATE",
						"type": "String"
					},
					{
						"name": "ACTIVEDUTYSTARTDATE",
						"type": "String"
					},
					{
						"name": "ACTIVEDUTYSEPARATIONDATE",
						"type": "String"
					},
					{
						"name": "LOB",
						"type": "String"
					},
					{
						"name": "LEI",
						"type": "String"
					},
					{
						"name": "BENEFICIALOWNER",
						"type": "String"
					},
					{
						"name": "BENEFICIALPERCENT",
						"type": "String"
					},
					{
						"name": "IRS1042SAMENDNUM",
						"type": "String"
					},
					{
						"name": "HEADQUARTERS",
						"type": "String"
					},
					{
						"name": "MBRVERSIONID",
						"type": "String"
					},
					{
						"name": "MBRUUID",
						"type": "String"
					},
					{
						"name": "MBRADDRVERSIONID",
						"type": "String"
					},
					{
						"name": "MBRADDRUUID",
						"type": "String"
					},
					{
						"name": "LASTADDRCHGDATE",
						"type": "String"
					},
					{
						"name": "CRNAMECHGDATE",
						"type": "String"
					},
					{
						"name": "CRADDRCHGDATE",
						"type": "String"
					},
					{
						"name": "CRSSNCHGDATE",
						"type": "String"
					},
					{
						"name": "CURRMTHPAYCHGDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/member_details_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_Postgres_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_MEMBERDETAILS"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "member_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "last_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "date_of_birth",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ssn",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "address",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "city",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "state",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "zip_code",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "phone",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "email",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "branch",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "start_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "created_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "updated_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "updated_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "ch_fss",
					"table": "member"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/member_stories_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_BLOB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_MEMBERSTORIES"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "memberstories",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "InitialData",
						"container": "fss"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Comments",
						"type": "String"
					},
					{
						"name": "DetailEntryValue",
						"type": "String"
					},
					{
						"name": "Value",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/member_stories_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_Postgres_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_MEMBERSTORIES"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "story_id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "story_details",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fhs_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fhs_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "branch_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "account_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "story_source_type_code_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "story_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "story_reason",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "ch_fss",
					"table": "member_story_summary"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/multiple_transaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_BLOB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TRANSACTION"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "transactiondata",
						"container": "fss"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/share_account_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_BLOB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_SHAREACCOUNT"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DEV_PWC_Extract_Savings_2025_12_3.csv",
						"folderPath": "InitialData",
						"container": "fss"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PWC_Key",
						"type": "String"
					},
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "CHECKDIGITS",
						"type": "String"
					},
					{
						"name": "TYPE",
						"type": "String"
					},
					{
						"name": "LASTFMDATE",
						"type": "String"
					},
					{
						"name": "LASTTRANDATE",
						"type": "String"
					},
					{
						"name": "OPENDATE",
						"type": "String"
					},
					{
						"name": "CLOSEDATE",
						"type": "String"
					},
					{
						"name": "REFERENCE",
						"type": "String"
					},
					{
						"name": "WARNINGCODE1",
						"type": "String"
					},
					{
						"name": "WARNINGCODE2",
						"type": "String"
					},
					{
						"name": "WARNINGCODE3",
						"type": "String"
					},
					{
						"name": "WARNINGCODE4",
						"type": "String"
					},
					{
						"name": "WARNINGCODE5",
						"type": "String"
					},
					{
						"name": "WARNINGCODE6",
						"type": "String"
					},
					{
						"name": "WARNINGCODE7",
						"type": "String"
					},
					{
						"name": "WARNINGCODE8",
						"type": "String"
					},
					{
						"name": "WARNINGCODE9",
						"type": "String"
					},
					{
						"name": "WARNINGCODE10",
						"type": "String"
					},
					{
						"name": "WARNINGCODE11",
						"type": "String"
					},
					{
						"name": "WARNINGCODE12",
						"type": "String"
					},
					{
						"name": "WARNINGCODE13",
						"type": "String"
					},
					{
						"name": "WARNINGCODE14",
						"type": "String"
					},
					{
						"name": "WARNINGCODE15",
						"type": "String"
					},
					{
						"name": "WARNINGCODE16",
						"type": "String"
					},
					{
						"name": "WARNINGCODE17",
						"type": "String"
					},
					{
						"name": "WARNINGCODE18",
						"type": "String"
					},
					{
						"name": "WARNINGCODE19",
						"type": "String"
					},
					{
						"name": "WARNINGCODE20",
						"type": "String"
					},
					{
						"name": "SERVICE1",
						"type": "String"
					},
					{
						"name": "SERVICE2",
						"type": "String"
					},
					{
						"name": "SERVICE3",
						"type": "String"
					},
					{
						"name": "SERVICE4",
						"type": "String"
					},
					{
						"name": "SERVICE5",
						"type": "String"
					},
					{
						"name": "SERVICE6",
						"type": "String"
					},
					{
						"name": "SERVICE7",
						"type": "String"
					},
					{
						"name": "SERVICE8",
						"type": "String"
					},
					{
						"name": "SHARECODE",
						"type": "String"
					},
					{
						"name": "IRSCODE",
						"type": "String"
					},
					{
						"name": "DIVPOSTCODE",
						"type": "String"
					},
					{
						"name": "LASTDIVDATE",
						"type": "String"
					},
					{
						"name": "LASTDIVAMOUNT",
						"type": "String"
					},
					{
						"name": "DIVYTD",
						"type": "String"
					},
					{
						"name": "DIVLASTYEAR",
						"type": "String"
					},
					{
						"name": "DIVFROMOPEN",
						"type": "String"
					},
					{
						"name": "DIVTYPE",
						"type": "String"
					},
					{
						"name": "DIVRATE",
						"type": "String"
					},
					{
						"name": "DIVACCRUALDATE",
						"type": "String"
					},
					{
						"name": "DIVACCRUAL",
						"type": "String"
					},
					{
						"name": "WITHHOLDINGCODE",
						"type": "String"
					},
					{
						"name": "WITHHOLDINGYTD",
						"type": "String"
					},
					{
						"name": "WITHHOLDINGLASTYEAR",
						"type": "String"
					},
					{
						"name": "PENALTYTYPE",
						"type": "String"
					},
					{
						"name": "PENALTYYTD",
						"type": "String"
					},
					{
						"name": "PENALTYLASTYEAR",
						"type": "String"
					},
					{
						"name": "BALANCE",
						"type": "String"
					},
					{
						"name": "ORIGINALBALANCE",
						"type": "String"
					},
					{
						"name": "MINIMUMBALANCE",
						"type": "String"
					},
					{
						"name": "INSURANCETYPE",
						"type": "String"
					},
					{
						"name": "INSURANCEMAXIMUM",
						"type": "String"
					},
					{
						"name": "INSURANCEBALANCEAGE1",
						"type": "String"
					},
					{
						"name": "INSURANCEBALANCEAGE2",
						"type": "String"
					},
					{
						"name": "INSURANCEBALANCEAGE3",
						"type": "String"
					},
					{
						"name": "INSURANCEBALANCEAGE4",
						"type": "String"
					},
					{
						"name": "MINIMUMDEPOSIT",
						"type": "String"
					},
					{
						"name": "MINIMUMWITHDRAWAL",
						"type": "String"
					},
					{
						"name": "WITHDRAWALLIMIT",
						"type": "String"
					},
					{
						"name": "WITHDRAWALCOUNT",
						"type": "String"
					},
					{
						"name": "WITHDRAWNFROMOPEN",
						"type": "String"
					},
					{
						"name": "WITHDRAWALFEETYPE",
						"type": "String"
					},
					{
						"name": "WITHDRAWALFEECOUNT",
						"type": "String"
					},
					{
						"name": "LASTPURGEDATE",
						"type": "String"
					},
					{
						"name": "STATEMENTGROUP",
						"type": "String"
					},
					{
						"name": "STATEMENTDATE",
						"type": "String"
					},
					{
						"name": "STATEMENTMAILCODE",
						"type": "String"
					},
					{
						"name": "REGECOUNT",
						"type": "String"
					},
					{
						"name": "REGDCHECKCOUNT",
						"type": "String"
					},
					{
						"name": "REGDTRANSFERCOUNT",
						"type": "String"
					},
					{
						"name": "MATURITYPOSTCODE",
						"type": "String"
					},
					{
						"name": "MATURITYDATE",
						"type": "String"
					},
					{
						"name": "TERMFREQUENCY",
						"type": "String"
					},
					{
						"name": "TERMPERIOD",
						"type": "String"
					},
					{
						"name": "CERTIFICATENUMBER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "LOANPAYMENTHOLD",
						"type": "String"
					},
					{
						"name": "STATEMENTPREVDATE",
						"type": "String"
					},
					{
						"name": "BONDINTYTD",
						"type": "String"
					},
					{
						"name": "BONDINTLASTYEAR",
						"type": "String"
					},
					{
						"name": "NSFMONTHTODATE",
						"type": "String"
					},
					{
						"name": "NSFYTD",
						"type": "String"
					},
					{
						"name": "NSFLASTYEAR",
						"type": "String"
					},
					{
						"name": "XFRMONTHTODATE",
						"type": "String"
					},
					{
						"name": "XFRYTD",
						"type": "String"
					},
					{
						"name": "XFRLASTYEAR",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION1",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION2",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION3",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION4",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION5",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION6",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION7",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION8",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION9",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION10",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION11",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION12",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION13",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION14",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION15",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION16",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION17",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION18",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION19",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION20",
						"type": "String"
					},
					{
						"name": "FEECOUNT1",
						"type": "String"
					},
					{
						"name": "FEECOUNT2",
						"type": "String"
					},
					{
						"name": "FEECOUNT3",
						"type": "String"
					},
					{
						"name": "FEECOUNT4",
						"type": "String"
					},
					{
						"name": "STATEWITHHOLDINGCODE",
						"type": "String"
					},
					{
						"name": "STATEWITHHOLDINGYTD",
						"type": "String"
					},
					{
						"name": "STATEWITHHOLDINGLASTYEAR",
						"type": "String"
					},
					{
						"name": "CUTOTALSUSECODE",
						"type": "String"
					},
					{
						"name": "DIVPERIODSTART",
						"type": "String"
					},
					{
						"name": "DIVPERIODBALDAYS",
						"type": "String"
					},
					{
						"name": "CHARGEOFFAMOUNT",
						"type": "String"
					},
					{
						"name": "CHARGEOFFDATE",
						"type": "String"
					},
					{
						"name": "CHARGEOFFTYPE",
						"type": "String"
					},
					{
						"name": "CREDITREPORTINGCODE",
						"type": "String"
					},
					{
						"name": "CREDITREPORTNUMBER",
						"type": "String"
					},
					{
						"name": "BRANCH",
						"type": "String"
					},
					{
						"name": "CREDITREPORTOCCURDATE",
						"type": "String"
					},
					{
						"name": "CREDITREPORTLASTSTATUS",
						"type": "String"
					},
					{
						"name": "CREDITREPORTCOMMENT",
						"type": "String"
					},
					{
						"name": "BUMPRATE",
						"type": "String"
					},
					{
						"name": "BUMPEFFECTIVEDATE",
						"type": "String"
					},
					{
						"name": "BUMPEXPIRATIONDATE",
						"type": "String"
					},
					{
						"name": "IRSPLAN",
						"type": "String"
					},
					{
						"name": "ORIGINALDEPOSITDATE",
						"type": "String"
					},
					{
						"name": "ORIGINALDEPOSIT",
						"type": "String"
					},
					{
						"name": "CREDITREPORTCONSUMERINFO",
						"type": "String"
					},
					{
						"name": "CREDITREPORTCOMPLIANCE",
						"type": "String"
					},
					{
						"name": "ACTIVITYDATE",
						"type": "String"
					},
					{
						"name": "COURTESYPAYMONTHTODATE",
						"type": "String"
					},
					{
						"name": "COURTESYPAYYTD",
						"type": "String"
					},
					{
						"name": "COURTESYPAYLASTYEAR",
						"type": "String"
					},
					{
						"name": "OVERDRAFTTOLERANCE",
						"type": "String"
					},
					{
						"name": "CDDIVACCRYTD",
						"type": "String"
					},
					{
						"name": "CDDIVACCRLASTYR",
						"type": "String"
					},
					{
						"name": "AMORTIZATIONSCHD",
						"type": "String"
					},
					{
						"name": "AMORTIZATIONSCHDTYPE",
						"type": "String"
					},
					{
						"name": "DIVIDENDRATEMARGINSIGN",
						"type": "String"
					},
					{
						"name": "DIVIDENDRATEPERIODDATE",
						"type": "String"
					},
					{
						"name": "DIVIDENDRATEPERIODFREQ",
						"type": "String"
					},
					{
						"name": "DIVIDENDRATEMARGIN",
						"type": "String"
					},
					{
						"name": "DIVIDENDRATEMAX",
						"type": "String"
					},
					{
						"name": "DIVIDENDRATEMIN",
						"type": "String"
					},
					{
						"name": "PERIODICCAP",
						"type": "String"
					},
					{
						"name": "PERIODICSTARTRATE",
						"type": "String"
					},
					{
						"name": "CALLITEMSCHD",
						"type": "String"
					},
					{
						"name": "CALLITEMSCHDTYPE",
						"type": "String"
					},
					{
						"name": "MEMBERUSERTRANSFERCODE",
						"type": "String"
					},
					{
						"name": "CORPORATEUSERTRANSFERCODE",
						"type": "String"
					},
					{
						"name": "MEMBERBRANCHSUPPORT",
						"type": "String"
					},
					{
						"name": "MCDIVYTD",
						"type": "String"
					},
					{
						"name": "MCDIVLASTYEAR",
						"type": "String"
					},
					{
						"name": "USERCHAR1",
						"type": "String"
					},
					{
						"name": "USERCHAR2",
						"type": "String"
					},
					{
						"name": "USERCHAR3",
						"type": "String"
					},
					{
						"name": "USERCHAR4",
						"type": "String"
					},
					{
						"name": "USERAMOUNT1",
						"type": "String"
					},
					{
						"name": "USERAMOUNT2",
						"type": "String"
					},
					{
						"name": "USERDATE1",
						"type": "String"
					},
					{
						"name": "USERDATE2",
						"type": "String"
					},
					{
						"name": "PUTITEMSCHD",
						"type": "String"
					},
					{
						"name": "PUTITEMSCHDTYPE",
						"type": "String"
					},
					{
						"name": "LEDGERACCRUAL",
						"type": "String"
					},
					{
						"name": "LEDGERACCRUALDATE",
						"type": "String"
					},
					{
						"name": "CURRDIVPAYABLE",
						"type": "String"
					},
					{
						"name": "CURRMONTHPAIDDIV",
						"type": "String"
					},
					{
						"name": "MTDPAIDDIVS",
						"type": "String"
					},
					{
						"name": "MTDACCRUEDDIVS",
						"type": "String"
					},
					{
						"name": "MTDEARNEDDIVS",
						"type": "String"
					},
					{
						"name": "PREMTHDIVPAID1",
						"type": "String"
					},
					{
						"name": "PREMTHDIVPAID2",
						"type": "String"
					},
					{
						"name": "PREMTHDIVPAID3",
						"type": "String"
					},
					{
						"name": "PREMTHDIVACCRUED1",
						"type": "String"
					},
					{
						"name": "PREMTHDIVACCRUED2",
						"type": "String"
					},
					{
						"name": "PREMTHDIVACCRUED3",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED1",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED2",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED3",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED4",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED5",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED6",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED7",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED8",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED9",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED10",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED11",
						"type": "String"
					},
					{
						"name": "PREMTHDIVEARNED12",
						"type": "String"
					},
					{
						"name": "MTDPRIORRATEACCRUAL",
						"type": "String"
					},
					{
						"name": "LASTACCRUALUPDATEDATE",
						"type": "String"
					},
					{
						"name": "UNPAIDFEEYTD",
						"type": "String"
					},
					{
						"name": "UNPAIDFEELASTYEAR",
						"type": "String"
					},
					{
						"name": "OVERDRAFTFEEYTD",
						"type": "String"
					},
					{
						"name": "OVERDRAFTFEELASTYR",
						"type": "String"
					},
					{
						"name": "LASTCRREPORTDATE",
						"type": "String"
					},
					{
						"name": "CREDITREPORTCONSUMERINFODATE",
						"type": "String"
					},
					{
						"name": "EXTACHXFRDAILYLIMITIN",
						"type": "String"
					},
					{
						"name": "EXTACHXFRDAILYLIMITOUT",
						"type": "String"
					},
					{
						"name": "STATEWITHHOLDINGQTD",
						"type": "String"
					},
					{
						"name": "STATEWITHHOLDINGLASTQTR",
						"type": "String"
					},
					{
						"name": "ANALYSISGROUPPRIMARYACCT",
						"type": "String"
					},
					{
						"name": "ANALYSISGROUPPRIMARYID",
						"type": "String"
					},
					{
						"name": "ANALYSISPMTACCT",
						"type": "String"
					},
					{
						"name": "ANALYSISPMTSLID",
						"type": "String"
					},
					{
						"name": "ANALYSISPMTIDTYPE",
						"type": "String"
					},
					{
						"name": "NICKNAME",
						"type": "String"
					},
					{
						"name": "RENEWSHARETYPE",
						"type": "String"
					},
					{
						"name": "RENEWTERMFREQ",
						"type": "String"
					},
					{
						"name": "RENEWTERMPERIOD",
						"type": "String"
					},
					{
						"name": "DIVDISBUPDTACTVTYD",
						"type": "String"
					},
					{
						"name": "SWEEPBALANCETYPE",
						"type": "String"
					},
					{
						"name": "SWEEPTARGETMINIMUM",
						"type": "String"
					},
					{
						"name": "SWEEPTARGETMAXIMUM",
						"type": "String"
					},
					{
						"name": "SWEEPPRIORITY",
						"type": "String"
					},
					{
						"name": "LASTDIRECTDEPDATE",
						"type": "String"
					},
					{
						"name": "LASTDIRECTDEPAMT",
						"type": "String"
					},
					{
						"name": "REGDCTRSTARTDAY",
						"type": "String"
					},
					{
						"name": "RECORDCHANGEDATE",
						"type": "String"
					},
					{
						"name": "CAPPEDFEESAMTPERIOD",
						"type": "String"
					},
					{
						"name": "CAPPEDFEESAMOUNTCAP",
						"type": "String"
					},
					{
						"name": "CAPPEDFEESCNTPERIOD",
						"type": "String"
					},
					{
						"name": "CAPPEDFEESCOUNTCAP",
						"type": "String"
					},
					{
						"name": "CREATEDBYUSER",
						"type": "String"
					},
					{
						"name": "CREATEDATBRANCH",
						"type": "String"
					},
					{
						"name": "ESCROWEDLOANID",
						"type": "String"
					},
					{
						"name": "AUTHFEEOPTION1",
						"type": "String"
					},
					{
						"name": "AUTHFEEOPTION2",
						"type": "String"
					},
					{
						"name": "AUTHFEEOPTION3",
						"type": "String"
					},
					{
						"name": "AUTHFEEOPTION4",
						"type": "String"
					},
					{
						"name": "AUTHFEEOPTION5",
						"type": "String"
					},
					{
						"name": "ODTAUTHFEESRCCODELIST1",
						"type": "String"
					},
					{
						"name": "ODTAUTHFEESRCCODELIST2",
						"type": "String"
					},
					{
						"name": "ODTAUTHFEESRCCODELIST3",
						"type": "String"
					},
					{
						"name": "ODTAUTHFEESRCCODELIST4",
						"type": "String"
					},
					{
						"name": "FEEEXEMPTCRTSYBAL",
						"type": "String"
					},
					{
						"name": "NSFFEEMTD",
						"type": "String"
					},
					{
						"name": "NSFFEEYTD",
						"type": "String"
					},
					{
						"name": "NSFFEELY",
						"type": "String"
					},
					{
						"name": "COURTESYFEEMTD",
						"type": "String"
					},
					{
						"name": "COURTESYFEEYTD",
						"type": "String"
					},
					{
						"name": "COURTESYFEELY",
						"type": "String"
					},
					{
						"name": "NEGATIVEBALANCEDATE",
						"type": "String"
					},
					{
						"name": "CREDITREPORTORIGINALAMOUNTRPTD",
						"type": "String"
					},
					{
						"name": "NEGATIVEBALANCENOTICETYPE",
						"type": "String"
					},
					{
						"name": "NEGATIVEBALANCENOTICENUMBER",
						"type": "String"
					},
					{
						"name": "NEGATIVEBALANCENOTICEDATE",
						"type": "String"
					},
					{
						"name": "ESCROWYTD",
						"type": "String"
					},
					{
						"name": "ESCROWLASTYEAR",
						"type": "String"
					},
					{
						"name": "CHAPTER4WITHHOLDINGCODE",
						"type": "String"
					},
					{
						"name": "CHAPTER4WITHHELDYTD",
						"type": "String"
					},
					{
						"name": "CHAPTER4WITHHELDLSTYR",
						"type": "String"
					},
					{
						"name": "YEARENDBALANCE",
						"type": "String"
					},
					{
						"name": "IRS1042SUFID",
						"type": "String"
					},
					{
						"name": "POSITIVEPAYDRAFT",
						"type": "String"
					},
					{
						"name": "VERSIONID",
						"type": "String"
					},
					{
						"name": "UUID",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/share_account_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_Postgres_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_SHAREACCOUNT"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "share_id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "min_balance",
						"type": "numeric",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "open_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "close_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "original_balance",
						"type": "numeric",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "available_balance",
						"type": "numeric",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "curr_balance",
						"type": "numeric",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "status",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "branch",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "account_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "created_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "updated_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "updated_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "share_type_code_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "product_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "account_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "ch_fss",
					"table": "share_account"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trans_comment_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_Postgres_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_COMMENTS"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "comment_id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "post_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "comment_value",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "created_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "updated_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "updated_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transaction_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "ch_fss",
					"table": "transaction_comment"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trans_comments_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_BLOB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_COMMENTS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "InitialData",
						"container": "fss"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TranId",
						"type": "String"
					},
					{
						"name": "CommentID",
						"type": "String"
					},
					{
						"name": "PARENTID",
						"type": "String"
					},
					{
						"name": "SEQUENCENUMBER",
						"type": "String"
					},
					{
						"name": "EFFECTIVEDATE",
						"type": "String"
					},
					{
						"name": "POSTDATE",
						"type": "String"
					},
					{
						"name": "POSTTIME",
						"type": "String"
					},
					{
						"name": "Comment",
						"type": "String"
					},
					{
						"name": "PWC_Key",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/transaction_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_BLOB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containerName": {
						"type": "String",
						"defaultValue": "fss"
					},
					"folderPath": {
						"type": "string",
						"defaultValue": "transactiondata"
					},
					"filePattern": {
						"type": "string",
						"defaultValue": "DEV_PWC_Trans_2*.csv"
					}
				},
				"folder": {
					"name": "DS_TRANSACTION"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filePattern",
							"type": "Expression"
						},
						"folderPath": "transactiondata",
						"container": "fss"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TranId",
						"type": "String"
					},
					{
						"name": "PARENTID",
						"type": "String"
					},
					{
						"name": "SEQUENCENUMBER",
						"type": "String"
					},
					{
						"name": "EFFECTIVEDATE",
						"type": "String"
					},
					{
						"name": "POSTDATE",
						"type": "String"
					},
					{
						"name": "POSTTIME",
						"type": "String"
					},
					{
						"name": "ACTIONCODE",
						"type": "String"
					},
					{
						"name": "SOURCECODE",
						"type": "String"
					},
					{
						"name": "BALANCECHANGE",
						"type": "String"
					},
					{
						"name": "INTEREST",
						"type": "String"
					},
					{
						"name": "NEWBALANCE",
						"type": "String"
					},
					{
						"name": "FEEAMOUNT",
						"type": "String"
					},
					{
						"name": "BRANCH",
						"type": "String"
					},
					{
						"name": "PWC_key",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/transaction_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_Postgres_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_TRANSACTION"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "transaction_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transaction_status",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transaction_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "transaction_amount",
						"type": "numeric",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "description",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "merchant",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "payment_method",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "created_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "updated_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "updated_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "transaction_type_code_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "share_id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "balance",
						"type": "numeric",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "ch_fss",
					"table": "transaction"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_FSS_CALCULATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "start_time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "start_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupMonthsArray",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupMonthsArray').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "share_financial_stat_table",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_SHARE_FIN_STAT",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"start_date": {
												"value": "@item().start_date",
												"type": "Expression"
											},
											"end_date": {
												"value": "@item().end_date",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SetLatestProcessedEndDateInForEach",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "account_group_fin_stat_table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "LatestProcessedEndDate",
										"value": {
											"value": "@item().end_date",
											"type": "Expression"
										}
									}
								},
								{
									"name": "account_group_fin_stat_table",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "share_financial_stat_table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_ACCOUNT_GRP_FIN_STAT",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"start_date": {
												"value": "@item().start_date",
												"type": "Expression"
											},
											"end_date": {
												"value": "@item().end_date",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "updatewatermark",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "SetLatestProcessedEndDateInForEach",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "CH_FSS_Postgres_sql",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "INSERT INTO ch_fss.watermark_table (process_name, last_processed_date,created_by,created_date, updated_date, updated_by)\nVALUES (\n    'TransactionProcessing',\n    TO_TIMESTAMP('@{variables('LatestProcessedEndDate')}', 'YYYY-MM-DD') + INTERVAL '1 day',\n    'Admin',\n    NOW(),\n    NOW(),\n    'Admin'\n);",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "end_time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "LookupMonthsArray",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "start_time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "WITH params AS (\n  SELECT\n    date_trunc('month', last_processed_date)::date AS start_date,\n    date_trunc('month', CURRENT_DATE)::date AS current_month_start,\n    CURRENT_DATE AS today\n  FROM ch_fss.watermark_table\n  WHERE process_name = 'TransactionProcessing'\n  order by created_date desc\n  LIMIT 1\n)\nSELECT\n  generate_series::date AS start_date,\n  LEAST(\n    (generate_series::date + INTERVAL '1 month')::date,\n    today\n  ) AS end_date\nFROM params,\nLATERAL generate_series(\n  start_date,\n  current_month_start,\n  interval '1 month'\n)\nORDER BY start_date;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Lookupmonthsarray",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "job_run_status",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "end_time",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n  'insert into ch_fss.job_run_status (pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time, status, error_message) values (',\n  '''', pipeline().Pipeline, '''', ',',\n  '''', pipeline().RunId, '''', ',',\n  '''', formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss'), '''', ',',\n  '''', pipeline().TriggerType, '''', ',',\n  '''', variables('end_time'), '''', ',',\n  '''', variables('start_time'), '''', ',',\n  '''', activity('updatewatermark').status, '''', ',',\n  if(\n    equals(activity('updatewatermark').status, 'Failed'),\n    concat('''', replace(activity('updatewatermark').error.message, '''', ''''''), ''''),\n    'NULL'\n  ),\n  ')'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					},
					"LatestProcessedEndDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "FSS_CALCULATION_PL"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_COMMENTS')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "FSS_DATAFLOW"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "trans_comments_csv",
								"type": "DatasetReference"
							},
							"name": "SOURCECOMMENTS"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "trans_comment_sink",
								"type": "DatasetReference"
							},
							"name": "COMMMENTSTABLE"
						}
					],
					"transformations": [
						{
							"name": "COLUMNSDERIVED"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TranId as string,",
						"          CommentID as string,",
						"          PARENTID as string,",
						"          SEQUENCENUMBER as string,",
						"          EFFECTIVEDATE as string,",
						"          POSTDATE as string,",
						"          POSTTIME as string,",
						"          Comment as string,",
						"          PWC_Key as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SOURCECOMMENTS",
						"SOURCECOMMENTS derive(comment_id = concat(TranId, CommentID),",
						"          transction_date = toTimestamp(\r",
						"    toString(POSTDATE) + ' ' + \r",
						"    substring(lpad(toString(POSTTIME), 4, '0'), 0, 2) + ':' + \r",
						"    substring(lpad(toString(POSTTIME), 4, '0'), 3, 4),\r",
						"    'yyyy-MM-dd HH:mm'\r",
						")) ~> COLUMNSDERIVED",
						"COLUMNSDERIVED sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          comment_id as long,",
						"          post_date as timestamp,",
						"          comment_value as string,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string,",
						"          transaction_id as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          comment_id,",
						"          post_date = transction_date,",
						"          comment_value = Comment,",
						"          transaction_id = TranId",
						"     ),",
						"     partitionBy('hash', 1)) ~> COMMMENTSTABLE"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/trans_comments_csv')]",
				"[concat(variables('factoryId'), '/datasets/trans_comment_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_MEMBERACCOUNT')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "FSS_DATAFLOW"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "member_account_csv",
								"type": "DatasetReference"
							},
							"name": "SOURCEMEMBER"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "member_account_sink",
								"type": "DatasetReference"
							},
							"name": "MEMBERSINKCSV",
							"rejectedDataLinkedService": {
								"referenceName": "CH_FSS_Blob_Storage",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "COLUMNSDERIVED"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PWC_Key as string,",
						"          TYPE as string,",
						"          LASTFMDATE as string,",
						"          OPENDATE as string,",
						"          CLOSEDATE as string,",
						"          BRANCH as string,",
						"          RESTRICTACCESS as string,",
						"          REFERENCE as string,",
						"          WARNINGCODE1 as string,",
						"          WARNINGCODE2 as string,",
						"          WARNINGCODE3 as string,",
						"          WARNINGCODE4 as string,",
						"          WARNINGCODE5 as string,",
						"          WARNINGCODE6 as string,",
						"          WARNINGCODE7 as string,",
						"          WARNINGCODE8 as string,",
						"          WARNINGCODE9 as string,",
						"          WARNINGCODE10 as string,",
						"          WARNINGCODE11 as string,",
						"          WARNINGCODE12 as string,",
						"          WARNINGCODE13 as string,",
						"          WARNINGCODE14 as string,",
						"          WARNINGCODE15 as string,",
						"          WARNINGCODE16 as string,",
						"          WARNINGCODE17 as string,",
						"          WARNINGCODE18 as string,",
						"          WARNINGCODE19 as string,",
						"          WARNINGCODE20 as string,",
						"          PAYMENTHISTORY1 as string,",
						"          PAYMENTHISTORY2 as string,",
						"          PAYMENTHISTORY3 as string,",
						"          PAYMENTHISTORY4 as string,",
						"          PAYMENTHISTORY5 as string,",
						"          PAYMENTHISTORY6 as string,",
						"          MEMBERSTATUS as string,",
						"          CORRESPONDDATE as string,",
						"          PROXYDATE as string,",
						"          HEADOFHOUSEHOLD as string,",
						"          WARNINGEXPIRATION1 as string,",
						"          WARNINGEXPIRATION2 as string,",
						"          WARNINGEXPIRATION3 as string,",
						"          WARNINGEXPIRATION4 as string,",
						"          WARNINGEXPIRATION5 as string,",
						"          WARNINGEXPIRATION6 as string,",
						"          WARNINGEXPIRATION7 as string,",
						"          WARNINGEXPIRATION8 as string,",
						"          WARNINGEXPIRATION9 as string,",
						"          WARNINGEXPIRATION10 as string,",
						"          WARNINGEXPIRATION11 as string,",
						"          WARNINGEXPIRATION12 as string,",
						"          WARNINGEXPIRATION13 as string,",
						"          WARNINGEXPIRATION14 as string,",
						"          WARNINGEXPIRATION15 as string,",
						"          WARNINGEXPIRATION16 as string,",
						"          WARNINGEXPIRATION17 as string,",
						"          WARNINGEXPIRATION18 as string,",
						"          WARNINGEXPIRATION19 as string,",
						"          WARNINGEXPIRATION20 as string,",
						"          NSFMONTHLYCOUNT1 as string,",
						"          NSFMONTHLYCOUNT2 as string,",
						"          NSFMONTHLYCOUNT3 as string,",
						"          NSFMONTHLYCOUNT4 as string,",
						"          NSFMONTHLYCOUNT5 as string,",
						"          NSFMONTHLYCOUNT6 as string,",
						"          NSFMONTHLYCOUNT7 as string,",
						"          NSFMONTHLYCOUNT8 as string,",
						"          NSFMONTHLYCOUNT9 as string,",
						"          NSFMONTHLYCOUNT10 as string,",
						"          NSFMONTHLYCOUNT11 as string,",
						"          NSFMONTHLYCOUNT12 as string,",
						"          NSFMONTHLYCOUNT13 as string,",
						"          NSFMONTHLYCOUNT14 as string,",
						"          NSFMONTHLYCOUNT15 as string,",
						"          NSFMONTHLYCOUNT16 as string,",
						"          NSFMONTHLYCOUNT17 as string,",
						"          NSFMONTHLYCOUNT18 as string,",
						"          NSFMONTHLYCOUNT19 as string,",
						"          NSFMONTHLYCOUNT20 as string,",
						"          NSFMONTHLYCOUNT21 as string,",
						"          NSFMONTHLYCOUNT22 as string,",
						"          NSFMONTHLYCOUNT23 as string,",
						"          NSFMONTHLYCOUNT24 as string,",
						"          NSFTODAY as string,",
						"          MEMBERGROUP as string,",
						"          COMMERCIALCODE as string,",
						"          FMLASTPURGEDATE as string,",
						"          STATEREPORTING as string,",
						"          HOUSEHOLDACCOUNT as string,",
						"          HOUSEHOLDSTATEMENT as string,",
						"          FROZENMODE as string,",
						"          INVALIDATTEMPTCOUNT as string,",
						"          INVALIDATTEMPTDATE as string,",
						"          INVALIDATTEMPTTIME as string,",
						"          STATEMENTMAILCODE as string,",
						"          RELATIONSHIPCODE as string,",
						"          RELATIONSHIPOVERRIDE as string,",
						"          RELATIONSHIPOVERRIDEEFFDATE as string,",
						"          RELATIONSHIPOVERRIDEEXPDATE as string,",
						"          KRHOLDBASEAMOUNT as string,",
						"          KRTOTALAMOUNT as string,",
						"          KRTOTALDATE as string,",
						"          ESTMTNOTIFY as string,",
						"          ESTMTENABLE as string,",
						"          CRTOTALAMOUNT as string,",
						"          CDTOTALAMOUNT as string,",
						"          FRCRTOTALAMOUNT as string,",
						"          FRCDTOTALAMOUNT as string,",
						"          USERCHAR1 as string,",
						"          USERCHAR2 as string,",
						"          USERCHAR3 as string,",
						"          USERCHAR4 as string,",
						"          USERAMOUNT1 as string,",
						"          USERAMOUNT2 as string,",
						"          USERDATE1 as string,",
						"          USERDATE2 as string,",
						"          ENABLEFLOAT as string,",
						"          FRCRUNITS as string,",
						"          FRCDUNITS as string,",
						"          PRGDRECACTIVITYDT as string,",
						"          RECORDCHANGEDATE as string,",
						"          CAPPEDFEESCOUNTCAP as string,",
						"          CAPPEDFEESAMOUNTCAP as string,",
						"          CREATEDBYUSER as string,",
						"          CREATEDATBRANCH as string,",
						"          WRTOTALAMOUNT as string,",
						"          WDTOTALAMOUNT as string,",
						"          NONREGCCCHECKHOLDBASEAMT as string,",
						"          NONREGCCCHECKTOTALAMT as string,",
						"          LIMITUSAGEDATE as string,",
						"          COUNTLIMIT1 as string,",
						"          COUNTLIMIT2 as string,",
						"          COUNTLIMIT3 as string,",
						"          COUNTLIMIT4 as string,",
						"          COUNTLIMIT5 as string,",
						"          COUNTLIMIT6 as string,",
						"          LIMITCOUNT1 as string,",
						"          LIMITCOUNT2 as string,",
						"          LIMITCOUNT3 as string,",
						"          LIMITCOUNT4 as string,",
						"          LIMITCOUNT5 as string,",
						"          LIMITCOUNT6 as string,",
						"          LIMIT1 as string,",
						"          LIMIT2 as string,",
						"          LIMIT3 as string,",
						"          LIMIT4 as string,",
						"          LIMIT5 as string,",
						"          LIMIT6 as string,",
						"          LIMITAMOUNT1 as string,",
						"          LIMITAMOUNT2 as string,",
						"          LIMITAMOUNT3 as string,",
						"          LIMITAMOUNT4 as string,",
						"          LIMITAMOUNT5 as string,",
						"          LIMITAMOUNT6 as string,",
						"          PERITEMLIMIT1 as string,",
						"          PERITEMLIMIT2 as string,",
						"          PERITEMLIMIT3 as string,",
						"          PERITEMLIMIT4 as string,",
						"          PERITEMLIMIT5 as string,",
						"          PERITEMLIMIT6 as string,",
						"          VERSIONID as string,",
						"          UUID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SOURCEMEMBER",
						"SOURCEMEMBER derive(product_id = iifNull(TYPE,'p'),",
						"     partitionBy('hash', 1)) ~> COLUMNSDERIVED",
						"COLUMNSDERIVED sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          account_id as integer,",
						"          open_date as date,",
						"          close_date as date,",
						"          branch as string,",
						"          status as string,",
						"          household_account_number as string,",
						"          member_group_name as string,",
						"          product_id as integer,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string,",
						"          account_type_id as integer,",
						"          anonymized_member_id as long",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     postSQLs:['INSERT INTO ch_fss.anonymized_member (anonymized_member_id, member_id)\\nSELECT account_id, account_id\\nFROM ch_fss.member_account\\nWHERE account_id IS NOT NULL;'],",
						"     outputAssertFailedRows: true,",
						"     assertFailure_fileSystem: 'fss',",
						"     assertFailure_folderPath: 'error',",
						"     mapColumn(",
						"          account_id = PWC_Key,",
						"          open_date = OPENDATE,",
						"          close_date = CLOSEDATE,",
						"          branch = BRANCH,",
						"          status = MEMBERSTATUS,",
						"          account_type_id = TYPE,",
						"          product_id",
						"     ),",
						"     partitionBy('hash', 1)) ~> MEMBERSINKCSV"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_MEMBERDETAILS')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "FSS_DATAFLOW"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "member_details_csv",
								"type": "DatasetReference"
							},
							"name": "MEMBERDETAILSSOURCE"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "member_details_sink",
								"type": "DatasetReference"
							},
							"name": "MEMBERDETAILSTABLE",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "COLUMNSDERIVED"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PWC_Key as integer,",
						"          ORDINAL as string,",
						"          TYPE as string,",
						"          SUBTYPE as string,",
						"          MAILOVERRIDE as string,",
						"          SSNOVERRIDE as string,",
						"          SSNCERTIFICATION as string,",
						"          SSNTYPE as string,",
						"          EFFECTIVEDATE as string,",
						"          EXPIRATIONDATE as string,",
						"          BIRTHDATE as string,",
						"          TITLE as string,",
						"          FIRST as string,",
						"          MIDDLE as string,",
						"          LAST as string,",
						"          SUFFIX as string,",
						"          EXTRAADDRESS as string,",
						"          STREET as string,",
						"          CITY as string,",
						"          STATE as string,",
						"          ZIPCODE as string,",
						"          HOMEPHONE as string,",
						"          SSN as string,",
						"          WORKPHONE as string,",
						"          LASTFMDATE as string,",
						"          CARRIERROUTE as string,",
						"          ADDRESSTYPE as string,",
						"          BENEFICIARYPERCENT as string,",
						"          IRSCORRECTION as string,",
						"          WORKPHONEEXTENSION as string,",
						"          CTREXEMPT as string,",
						"          DEATHDATE as string,",
						"          ECOACODE as string,",
						"          COUNTRY as string,",
						"          COUNTRYCODE as string,",
						"          EMAIL as string,",
						"          MOTHERSMAIDENNAME as string,",
						"          EMPLOYERNAME as string,",
						"          ALTEMAIL as string,",
						"          LOCATOR as string,",
						"          MOBILEPHONE as string,",
						"          PAGERNUMBER as string,",
						"          USPERSONFLAG as string,",
						"          IDENTDOCFLAG1 as string,",
						"          IDENTDOCFLAG2 as string,",
						"          IDENTDOCFLAG3 as string,",
						"          IDENTIDTYPE1 as string,",
						"          IDENTIDTYPE2 as string,",
						"          IDENTIDTYPE3 as string,",
						"          IDENTIDDESCRIPTION1 as string,",
						"          IDENTIDDESCRIPTION2 as string,",
						"          IDENTIDDESCRIPTION3 as string,",
						"          IDENTIDNUMBER1 as string,",
						"          IDENTIDNUMBER2 as string,",
						"          IDENTIDNUMBER3 as string,",
						"          IDENTIDISSUEDATE1 as string,",
						"          IDENTIDISSUEDATE2 as string,",
						"          IDENTIDISSUEDATE3 as string,",
						"          IDENTIDEXPIREDATE1 as string,",
						"          IDENTIDEXPIREDATE2 as string,",
						"          IDENTIDEXPIREDATE3 as string,",
						"          IDENTIDVERIFYDATE1 as string,",
						"          IDENTIDVERIFYDATE2 as string,",
						"          IDENTIDVERIFYDATE3 as string,",
						"          OCCUPATION as string,",
						"          USERCHAR1 as string,",
						"          USERCHAR2 as string,",
						"          USERCHAR3 as string,",
						"          USERCHAR4 as string,",
						"          USERAMOUNT1 as string,",
						"          USERAMOUNT2 as string,",
						"          USERDATE1 as string,",
						"          USERDATE2 as string,",
						"          LASTADDRVERIFDATE as string,",
						"          CREDITREPORTCONSUMERINFO as string,",
						"          NAMEFORMAT as string,",
						"          EXTENDEDNAME as string,",
						"          CREDITREPORTCONSUMERINFODATE as string,",
						"          EXTRAINFO as string,",
						"          RECORDCHANGEDATE as string,",
						"          MEMBERNUMBER as string,",
						"          MBRSTATUS as string,",
						"          MBRSTATUSFMDATE as string,",
						"          MBRCREATEDATE as date,",
						"          MBRFMLASTDATE as string,",
						"          MBREXPDATE as string,",
						"          MBRACTIVITYDATE as string,",
						"          PHONETYPE as string,",
						"          MBRADDRNUMBER as string,",
						"          ADDRCREATEDATE as string,",
						"          ADDRFMLASTDATE as string,",
						"          ADDREXPDATE as string,",
						"          NONACCTNAMENUM as string,",
						"          MEMBERNUMLINK as string,",
						"          MBRADDRNUMLINK as string,",
						"          CURRGROSSMONTHPAY as string,",
						"          CURRNETMONTHPAY as string,",
						"          MBRFMLASTPURGEDATE as string,",
						"          ADDRFMLASTPURGEDATE as string,",
						"          FMLASTPURGEDATE as string,",
						"          MEMBERNUMLINKCHGDATE as string,",
						"          MBRADDRNUMLINKCHGDATE as string,",
						"          MBRRECORDCHANGEDATE as string,",
						"          MBRDISCONNECTDATE as string,",
						"          ADDRRECORDCHANGEDATE as string,",
						"          ADDRDISCONNECTDATE as string,",
						"          MBRFILETYPE as string,",
						"          MBRADDRFILETYPE as string,",
						"          RESTRICTACCESS as string,",
						"          CONFIDENTIAL as string,",
						"          MARKETINGADDRESS as string,",
						"          CREDITREPORTADDRINDICATOR as string,",
						"          CREDITREPORTADDRINDICATORDATE as string,",
						"          DBANAMEFORMAT as string,",
						"          DBATITLE as string,",
						"          DBAFIRST as string,",
						"          DBAMIDDLE as string,",
						"          DBALAST as string,",
						"          DBASUFFIX as string,",
						"          DBAEXTENDEDNAME as string,",
						"          SEX as string,",
						"          IRSCOUNTRYCODE as string,",
						"          NRATAXRATE as string,",
						"          NRAEXEMPTIONCODE as string,",
						"          FORMW8ONFILE as string,",
						"          W8EXPIRATIONDATE as string,",
						"          FOREIGNTIN as string,",
						"          GIIN as string,",
						"          SUBSTANTIALOWNER as string,",
						"          CHAPTER4STATUSCODE as string,",
						"          PREFERREDCONTACTMETHOD as string,",
						"          ACTIVEDUTY as string,",
						"          ACTIVEDUTYVERIFICATIONDATE as string,",
						"          ACTIVEDUTYSTARTDATE as string,",
						"          ACTIVEDUTYSEPARATIONDATE as string,",
						"          LOB as string,",
						"          LEI as string,",
						"          BENEFICIALOWNER as string,",
						"          BENEFICIALPERCENT as string,",
						"          IRS1042SAMENDNUM as string,",
						"          HEADQUARTERS as string,",
						"          MBRVERSIONID as string,",
						"          MBRUUID as string,",
						"          MBRADDRVERSIONID as string,",
						"          MBRADDRUUID as string,",
						"          LASTADDRCHGDATE as string,",
						"          CRNAMECHGDATE as string,",
						"          CRADDRCHGDATE as string,",
						"          CRSSNCHGDATE as string,",
						"          CURRMTHPAYCHGDATE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> MEMBERDETAILSSOURCE",
						"MEMBERDETAILSSOURCE derive(name = replace(FIRST, char(0), ''),",
						"          state = substring(rtrim(STATE), 1, 2),",
						"     partitionBy('hash', 1)) ~> COLUMNSDERIVED",
						"COLUMNSDERIVED sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          member_id as integer,",
						"          name as string,",
						"          last_name as string,",
						"          date_of_birth as date,",
						"          ssn as string,",
						"          address as string,",
						"          city as string,",
						"          state as string,",
						"          zip_code as string,",
						"          phone as string,",
						"          email as string,",
						"          branch as string,",
						"          status as string,",
						"          start_date as date,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     mapColumn(",
						"          member_id = PWC_Key,",
						"          name,",
						"          last_name = LAST,",
						"          address = STREET,",
						"          city = CITY,",
						"          state = COLUMNSDERIVED@state,",
						"          zip_code = ZIPCODE,",
						"          start_date = MBRCREATEDATE,",
						"          email = EMAIL,",
						"          phone = MOBILEPHONE",
						"     ),",
						"     partitionBy('hash', 1)) ~> MEMBERDETAILSTABLE"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/member_details_csv')]",
				"[concat(variables('factoryId'), '/datasets/member_details_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_MEMBERSTORIES')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "FSS_DATAFLOW"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "member_stories_csv",
								"type": "DatasetReference"
							},
							"name": "MEMBERSTORIESSOURCE"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "member_stories_sink",
								"type": "DatasetReference"
							},
							"name": "MEMBERSTORIESTABLE",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "COLUMNSDERIVED1"
						},
						{
							"name": "COMMENTSFLATTEN"
						},
						{
							"name": "COMMENTSARRAYFILTER"
						},
						{
							"name": "COLUMNSDERIVED2"
						},
						{
							"name": "STORYID"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Comments as string,",
						"          DetailEntryValue as string,",
						"          Value as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> MEMBERSTORIESSOURCE",
						"MEMBERSTORIESSOURCE derive(fsh_name = substring(\r",
						"    Comments,\r",
						"    locate('Added by: ', Comments) + length('Added by: '),\r",
						"    locate(' - ', Comments) - (locate('Added by: ', Comments) + length('Added by: '))\r",
						"),",
						"          id = substring(\r",
						"    Comments,\r",
						"    locate(' - ', Comments) + length(' - '),\r",
						"    locate(' -- ', Comments) - (locate(' - ', Comments) + length(' - '))\r",
						"),",
						"          branch_id = substring(\r",
						"    Comments,\r",
						"    locate(' -- ', Comments) + length(' -- '),\r",
						"    locate(' On: ', Comments) - (locate(' -- ', Comments) + length(' -- '))\r",
						"),",
						"          story_date = substring(\r",
						"    Comments,\r",
						"    locate('On: ', Comments) + length('On: '),\r",
						"    locate('***', Comments, locate('***', Comments) + 1) - (locate('On: ', Comments) + length('On: '))\r",
						"),",
						"          comments_array = split(Comments, '***')) ~> COLUMNSDERIVED1",
						"COLUMNSDERIVED1 foldDown(unroll(comments_array),",
						"     mapColumn(",
						"          Comments,",
						"          DetailEntryValue,",
						"          Value,",
						"          fsh_name,",
						"          id,",
						"          branch_id,",
						"          story_date,",
						"          comments_array",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> COMMENTSFLATTEN",
						"COLUMNSDERIVED2 filter(length(replace(toString(comments_array), ' ', '')) > 0",
						"&& !startsWith(toString(comments_array), 'Added by:')) ~> COMMENTSARRAYFILTER",
						"COMMENTSFLATTEN derive(story_id = id,",
						"          story_reason = comments_array,",
						"          story_date = toString(toTimestamp(story_date, 'MM/dd/yyyy hh:mm:ss a'), 'yyyy-MM-dd HH:mm:ss.SSS')) ~> COLUMNSDERIVED2",
						"COMMENTSARRAYFILTER keyGenerate(output(story_id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> STORYID",
						"STORYID sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          story_id as long,",
						"          story_details as string,",
						"          fhs_name as string,",
						"          fhs_id as string,",
						"          branch_id as string,",
						"          account_id as integer,",
						"          story_source_type_code_id as integer,",
						"          story_date as timestamp,",
						"          story_reason as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     saveOrder: 1,",
						"     mapColumn(",
						"          story_id,",
						"          story_date,",
						"          story_details = Value,",
						"          fhs_name = fsh_name,",
						"          fhs_id = id,",
						"          branch_id,",
						"          story_reason",
						"     )) ~> MEMBERSTORIESTABLE"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/member_stories_csv')]",
				"[concat(variables('factoryId'), '/datasets/member_stories_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SHARE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "FSS_DATAFLOW"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "share_account_csv",
								"type": "DatasetReference"
							},
							"name": "SHAREACCOUNTSOURCE"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "share_account_sink",
								"type": "DatasetReference"
							},
							"name": "SHAREACCOUNTTABLE",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "COLUMNSDERIVED"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PWC_Key as string,",
						"          ID as string,",
						"          CHECKDIGITS as string,",
						"          TYPE as string,",
						"          LASTFMDATE as string,",
						"          LASTTRANDATE as string,",
						"          OPENDATE as string,",
						"          CLOSEDATE as string,",
						"          REFERENCE as string,",
						"          WARNINGCODE1 as string,",
						"          WARNINGCODE2 as string,",
						"          WARNINGCODE3 as string,",
						"          WARNINGCODE4 as string,",
						"          WARNINGCODE5 as string,",
						"          WARNINGCODE6 as string,",
						"          WARNINGCODE7 as string,",
						"          WARNINGCODE8 as string,",
						"          WARNINGCODE9 as string,",
						"          WARNINGCODE10 as string,",
						"          WARNINGCODE11 as string,",
						"          WARNINGCODE12 as string,",
						"          WARNINGCODE13 as string,",
						"          WARNINGCODE14 as string,",
						"          WARNINGCODE15 as string,",
						"          WARNINGCODE16 as string,",
						"          WARNINGCODE17 as string,",
						"          WARNINGCODE18 as string,",
						"          WARNINGCODE19 as string,",
						"          WARNINGCODE20 as string,",
						"          SERVICE1 as string,",
						"          SERVICE2 as string,",
						"          SERVICE3 as string,",
						"          SERVICE4 as string,",
						"          SERVICE5 as string,",
						"          SERVICE6 as string,",
						"          SERVICE7 as string,",
						"          SERVICE8 as string,",
						"          SHARECODE as string,",
						"          IRSCODE as string,",
						"          DIVPOSTCODE as string,",
						"          LASTDIVDATE as string,",
						"          LASTDIVAMOUNT as string,",
						"          DIVYTD as string,",
						"          DIVLASTYEAR as string,",
						"          DIVFROMOPEN as string,",
						"          DIVTYPE as string,",
						"          DIVRATE as string,",
						"          DIVACCRUALDATE as string,",
						"          DIVACCRUAL as string,",
						"          WITHHOLDINGCODE as string,",
						"          WITHHOLDINGYTD as string,",
						"          WITHHOLDINGLASTYEAR as string,",
						"          PENALTYTYPE as string,",
						"          PENALTYYTD as string,",
						"          PENALTYLASTYEAR as string,",
						"          BALANCE as string,",
						"          ORIGINALBALANCE as string,",
						"          MINIMUMBALANCE as string,",
						"          INSURANCETYPE as string,",
						"          INSURANCEMAXIMUM as string,",
						"          INSURANCEBALANCEAGE1 as string,",
						"          INSURANCEBALANCEAGE2 as string,",
						"          INSURANCEBALANCEAGE3 as string,",
						"          INSURANCEBALANCEAGE4 as string,",
						"          MINIMUMDEPOSIT as string,",
						"          MINIMUMWITHDRAWAL as string,",
						"          WITHDRAWALLIMIT as string,",
						"          WITHDRAWALCOUNT as string,",
						"          WITHDRAWNFROMOPEN as string,",
						"          WITHDRAWALFEETYPE as string,",
						"          WITHDRAWALFEECOUNT as string,",
						"          LASTPURGEDATE as string,",
						"          STATEMENTGROUP as string,",
						"          STATEMENTDATE as string,",
						"          STATEMENTMAILCODE as string,",
						"          REGECOUNT as string,",
						"          REGDCHECKCOUNT as string,",
						"          REGDTRANSFERCOUNT as string,",
						"          MATURITYPOSTCODE as string,",
						"          MATURITYDATE as string,",
						"          TERMFREQUENCY as string,",
						"          TERMPERIOD as string,",
						"          CERTIFICATENUMBER as string,",
						"          DESCRIPTION as string,",
						"          LOANPAYMENTHOLD as string,",
						"          STATEMENTPREVDATE as string,",
						"          BONDINTYTD as string,",
						"          BONDINTLASTYEAR as string,",
						"          NSFMONTHTODATE as string,",
						"          NSFYTD as string,",
						"          NSFLASTYEAR as string,",
						"          XFRMONTHTODATE as string,",
						"          XFRYTD as string,",
						"          XFRLASTYEAR as string,",
						"          WARNINGEXPIRATION1 as string,",
						"          WARNINGEXPIRATION2 as string,",
						"          WARNINGEXPIRATION3 as string,",
						"          WARNINGEXPIRATION4 as string,",
						"          WARNINGEXPIRATION5 as string,",
						"          WARNINGEXPIRATION6 as string,",
						"          WARNINGEXPIRATION7 as string,",
						"          WARNINGEXPIRATION8 as string,",
						"          WARNINGEXPIRATION9 as string,",
						"          WARNINGEXPIRATION10 as string,",
						"          WARNINGEXPIRATION11 as string,",
						"          WARNINGEXPIRATION12 as string,",
						"          WARNINGEXPIRATION13 as string,",
						"          WARNINGEXPIRATION14 as string,",
						"          WARNINGEXPIRATION15 as string,",
						"          WARNINGEXPIRATION16 as string,",
						"          WARNINGEXPIRATION17 as string,",
						"          WARNINGEXPIRATION18 as string,",
						"          WARNINGEXPIRATION19 as string,",
						"          WARNINGEXPIRATION20 as string,",
						"          FEECOUNT1 as string,",
						"          FEECOUNT2 as string,",
						"          FEECOUNT3 as string,",
						"          FEECOUNT4 as string,",
						"          STATEWITHHOLDINGCODE as string,",
						"          STATEWITHHOLDINGYTD as string,",
						"          STATEWITHHOLDINGLASTYEAR as string,",
						"          CUTOTALSUSECODE as string,",
						"          DIVPERIODSTART as string,",
						"          DIVPERIODBALDAYS as string,",
						"          CHARGEOFFAMOUNT as string,",
						"          CHARGEOFFDATE as string,",
						"          CHARGEOFFTYPE as string,",
						"          CREDITREPORTINGCODE as string,",
						"          CREDITREPORTNUMBER as string,",
						"          BRANCH as string,",
						"          CREDITREPORTOCCURDATE as string,",
						"          CREDITREPORTLASTSTATUS as string,",
						"          CREDITREPORTCOMMENT as string,",
						"          BUMPRATE as string,",
						"          BUMPEFFECTIVEDATE as string,",
						"          BUMPEXPIRATIONDATE as string,",
						"          IRSPLAN as string,",
						"          ORIGINALDEPOSITDATE as string,",
						"          ORIGINALDEPOSIT as string,",
						"          CREDITREPORTCONSUMERINFO as string,",
						"          CREDITREPORTCOMPLIANCE as string,",
						"          ACTIVITYDATE as string,",
						"          COURTESYPAYMONTHTODATE as string,",
						"          COURTESYPAYYTD as string,",
						"          COURTESYPAYLASTYEAR as string,",
						"          OVERDRAFTTOLERANCE as string,",
						"          CDDIVACCRYTD as string,",
						"          CDDIVACCRLASTYR as string,",
						"          AMORTIZATIONSCHD as string,",
						"          AMORTIZATIONSCHDTYPE as string,",
						"          DIVIDENDRATEMARGINSIGN as string,",
						"          DIVIDENDRATEPERIODDATE as string,",
						"          DIVIDENDRATEPERIODFREQ as string,",
						"          DIVIDENDRATEMARGIN as string,",
						"          DIVIDENDRATEMAX as string,",
						"          DIVIDENDRATEMIN as string,",
						"          PERIODICCAP as string,",
						"          PERIODICSTARTRATE as string,",
						"          CALLITEMSCHD as string,",
						"          CALLITEMSCHDTYPE as string,",
						"          MEMBERUSERTRANSFERCODE as string,",
						"          CORPORATEUSERTRANSFERCODE as string,",
						"          MEMBERBRANCHSUPPORT as string,",
						"          MCDIVYTD as string,",
						"          MCDIVLASTYEAR as string,",
						"          USERCHAR1 as string,",
						"          USERCHAR2 as string,",
						"          USERCHAR3 as string,",
						"          USERCHAR4 as string,",
						"          USERAMOUNT1 as string,",
						"          USERAMOUNT2 as string,",
						"          USERDATE1 as string,",
						"          USERDATE2 as string,",
						"          PUTITEMSCHD as string,",
						"          PUTITEMSCHDTYPE as string,",
						"          LEDGERACCRUAL as string,",
						"          LEDGERACCRUALDATE as string,",
						"          CURRDIVPAYABLE as string,",
						"          CURRMONTHPAIDDIV as string,",
						"          MTDPAIDDIVS as string,",
						"          MTDACCRUEDDIVS as string,",
						"          MTDEARNEDDIVS as string,",
						"          PREMTHDIVPAID1 as string,",
						"          PREMTHDIVPAID2 as string,",
						"          PREMTHDIVPAID3 as string,",
						"          PREMTHDIVACCRUED1 as string,",
						"          PREMTHDIVACCRUED2 as string,",
						"          PREMTHDIVACCRUED3 as string,",
						"          PREMTHDIVEARNED1 as string,",
						"          PREMTHDIVEARNED2 as string,",
						"          PREMTHDIVEARNED3 as string,",
						"          PREMTHDIVEARNED4 as string,",
						"          PREMTHDIVEARNED5 as string,",
						"          PREMTHDIVEARNED6 as string,",
						"          PREMTHDIVEARNED7 as string,",
						"          PREMTHDIVEARNED8 as string,",
						"          PREMTHDIVEARNED9 as string,",
						"          PREMTHDIVEARNED10 as string,",
						"          PREMTHDIVEARNED11 as string,",
						"          PREMTHDIVEARNED12 as string,",
						"          MTDPRIORRATEACCRUAL as string,",
						"          LASTACCRUALUPDATEDATE as string,",
						"          UNPAIDFEEYTD as string,",
						"          UNPAIDFEELASTYEAR as string,",
						"          OVERDRAFTFEEYTD as string,",
						"          OVERDRAFTFEELASTYR as string,",
						"          LASTCRREPORTDATE as string,",
						"          CREDITREPORTCONSUMERINFODATE as string,",
						"          EXTACHXFRDAILYLIMITIN as string,",
						"          EXTACHXFRDAILYLIMITOUT as string,",
						"          STATEWITHHOLDINGQTD as string,",
						"          STATEWITHHOLDINGLASTQTR as string,",
						"          ANALYSISGROUPPRIMARYACCT as string,",
						"          ANALYSISGROUPPRIMARYID as string,",
						"          ANALYSISPMTACCT as string,",
						"          ANALYSISPMTSLID as string,",
						"          ANALYSISPMTIDTYPE as string,",
						"          NICKNAME as string,",
						"          RENEWSHARETYPE as string,",
						"          RENEWTERMFREQ as string,",
						"          RENEWTERMPERIOD as string,",
						"          DIVDISBUPDTACTVTYD as string,",
						"          SWEEPBALANCETYPE as string,",
						"          SWEEPTARGETMINIMUM as string,",
						"          SWEEPTARGETMAXIMUM as string,",
						"          SWEEPPRIORITY as string,",
						"          LASTDIRECTDEPDATE as string,",
						"          LASTDIRECTDEPAMT as string,",
						"          REGDCTRSTARTDAY as string,",
						"          RECORDCHANGEDATE as string,",
						"          CAPPEDFEESAMTPERIOD as string,",
						"          CAPPEDFEESAMOUNTCAP as string,",
						"          CAPPEDFEESCNTPERIOD as string,",
						"          CAPPEDFEESCOUNTCAP as string,",
						"          CREATEDBYUSER as string,",
						"          CREATEDATBRANCH as string,",
						"          ESCROWEDLOANID as string,",
						"          AUTHFEEOPTION1 as string,",
						"          AUTHFEEOPTION2 as string,",
						"          AUTHFEEOPTION3 as string,",
						"          AUTHFEEOPTION4 as string,",
						"          AUTHFEEOPTION5 as string,",
						"          ODTAUTHFEESRCCODELIST1 as string,",
						"          ODTAUTHFEESRCCODELIST2 as string,",
						"          ODTAUTHFEESRCCODELIST3 as string,",
						"          ODTAUTHFEESRCCODELIST4 as string,",
						"          FEEEXEMPTCRTSYBAL as string,",
						"          NSFFEEMTD as string,",
						"          NSFFEEYTD as string,",
						"          NSFFEELY as string,",
						"          COURTESYFEEMTD as string,",
						"          COURTESYFEEYTD as string,",
						"          COURTESYFEELY as string,",
						"          NEGATIVEBALANCEDATE as string,",
						"          CREDITREPORTORIGINALAMOUNTRPTD as string,",
						"          NEGATIVEBALANCENOTICETYPE as string,",
						"          NEGATIVEBALANCENOTICENUMBER as string,",
						"          NEGATIVEBALANCENOTICEDATE as string,",
						"          ESCROWYTD as string,",
						"          ESCROWLASTYEAR as string,",
						"          CHAPTER4WITHHOLDINGCODE as string,",
						"          CHAPTER4WITHHELDYTD as string,",
						"          CHAPTER4WITHHELDLSTYR as string,",
						"          YEARENDBALANCE as string,",
						"          IRS1042SUFID as string,",
						"          POSITIVEPAYDRAFT as string,",
						"          VERSIONID as string,",
						"          UUID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> SHAREACCOUNTSOURCE",
						"SHAREACCOUNTSOURCE derive(share_id = concat(PWC_Key, ID),",
						"     partitionBy('hash', 1)) ~> COLUMNSDERIVED",
						"COLUMNSDERIVED sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          share_id as long,",
						"          min_balance as decimal(10,2),",
						"          open_date as date,",
						"          close_date as date,",
						"          original_balance as decimal(10,0),",
						"          available_balance as decimal(10,0),",
						"          curr_balance as decimal(10,0),",
						"          status as string,",
						"          branch as string,",
						"          account_type as string,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string,",
						"          share_type_code_id as integer,",
						"          product_id as integer,",
						"          account_id as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     mapColumn(",
						"          share_id,",
						"          account_id = PWC_Key,",
						"          min_balance = MINIMUMBALANCE,",
						"          open_date = OPENDATE,",
						"          close_date = CLOSEDATE,",
						"          share_type_code_id = TYPE,",
						"          original_balance = ORIGINALBALANCE,",
						"          available_balance = BALANCE,",
						"          product_id = TYPE",
						"     ),",
						"     partitionBy('hash', 1)) ~> SHAREACCOUNTTABLE"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/share_account_csv')]",
				"[concat(variables('factoryId'), '/datasets/share_account_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_TRANSACTIONDATA')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "FSS_DATAFLOW"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "transaction_csv",
								"type": "DatasetReference"
							},
							"name": "TRANSACTIONSOURCE"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "transaction_sink",
								"type": "DatasetReference"
							},
							"name": "TRANSACTIONTABLE",
							"description": "Export data to ",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "COLUMNSDERIVED"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TranId as string,",
						"          PARENTID as string,",
						"          SEQUENCENUMBER as string,",
						"          EFFECTIVEDATE as string,",
						"          POSTDATE as string,",
						"          POSTTIME as string,",
						"          ACTIONCODE as string,",
						"          SOURCECODE as string,",
						"          BALANCECHANGE as string,",
						"          INTEREST as string,",
						"          NEWBALANCE as string,",
						"          FEEAMOUNT as string,",
						"          BRANCH as string,",
						"          PWC_key as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     moveFiles: ['InitialData','archive'],",
						"     fileList: true,",
						"     partitionBy('hash', 1)) ~> TRANSACTIONSOURCE",
						"TRANSACTIONSOURCE derive(transaction_code = case(\r",
						"  toString(ACTIONCODE) == 'D', 1,\r",
						"  toString(SOURCECODE) == 'F', 3,\r",
						"  toString(ACTIONCODE) == 'W', 2\r",
						"),",
						"          SHARE_ID = concat(PWC_key,PARENTID),",
						"          transaction_date = toTimestamp(toString(POSTDATE) + ' ' +     substring(lpad(toString(POSTTIME), 4, '0'), 0, 2) + ':' +     substring(lpad(toString(POSTTIME), 4, '0'), 3, 4),    'yyyy-MM-dd HH:mm'),",
						"     partitionBy('hash', 1)) ~> COLUMNSDERIVED",
						"COLUMNSDERIVED sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          transaction_id as integer,",
						"          transaction_status as string,",
						"          transaction_date as timestamp,",
						"          transaction_amount as decimal(10,2),",
						"          description as string,",
						"          merchant as string,",
						"          payment_method as string,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string,",
						"          transaction_type_code_id as integer,",
						"          share_id as long,",
						"          balance as decimal(10,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     mapColumn(",
						"          transaction_id = TranId,",
						"          transaction_date,",
						"          transaction_amount = BALANCECHANGE,",
						"          balance = NEWBALANCE,",
						"          payment_method = SOURCECODE,",
						"          transaction_type_code_id = transaction_code,",
						"          share_id = SHARE_ID",
						"     ),",
						"     partitionBy('hash', 1)) ~> TRANSACTIONTABLE"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/transaction_csv')]",
				"[concat(variables('factoryId'), '/datasets/transaction_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MEMBERACCOUNT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "member_account_data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "truncate anonymized member",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_MEMBERACCOUNT",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SOURCEMEMBER": {},
									"MEMBERSINKCSV": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 16,
								"computeType": "General"
							},
							"traceLevel": "None",
							"cacheSinks": {
								"firstRowOnly": true
							}
						}
					},
					{
						"name": "start_time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "start_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "end_time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "member_account_data",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "job_run_status",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "member_account_data",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "end_time",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n  'insert into ch_fss.job_run_status (pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time, status, error_message) values (',\n  '''', pipeline().Pipeline, '''', ',',\n  '''', pipeline().RunId, '''', ',',\n  '''', formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss'), '''', ',',\n  '''', pipeline().TriggerType, '''', ',',\n  '''', variables('end_time'), '''', ',',\n  '''', variables('start_time'), '''', ',',\n  '''', activity('member_account_data').status, '''', ',',\n  if(\n    equals(activity('member_account_data').status, 'Failed'),\n    concat('''', replace(activity('member_account_data').error.message.details, '''', ''''''), ''''),\n    'NULL'\n  ),\n  ')'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "truncate member account",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "start_time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE ch_fss.member_account CASCADE;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "truncate anonymized member",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "truncate member account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "truncate table ch_fss.anonymized_member cascade;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					},
					"status": {
						"type": "String"
					},
					"Error.message": {
						"type": "String"
					},
					"output": {
						"type": "String"
					}
				},
				"folder": {
					"name": "FSS_DATALOAD_PL"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-08T19:05:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_MEMBERACCOUNT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MEMBERACCOUNT_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "member_account_data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "start_time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_MEMBERACCOUNT",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SOURCEMEMBER": {},
									"MEMBERSINKCSV": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "start_time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "start_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "end_time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "member_account_data",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "job_run_status",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "member_account_data",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "end_time",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n  'insert into ch_fss.job_run_status (pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time, status, error_message) values (',\n  '''', pipeline().Pipeline, '''', ',',\n  '''', pipeline().RunId, '''', ',',\n  '''', formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss'), '''', ',',\n  '''', pipeline().TriggerType, '''', ',',\n  '''', variables('end_time'), '''', ',',\n  '''', variables('start_time'), '''', ',',\n  '''', activity('member_account_data').status, '''', ',',\n  if(\n    equals(activity('member_account_data').status, 'Failed'),\n    concat('''', replace(activity('member_account_data').error.message, '''', ''''''), ''''),\n    'NULL'\n  ),\n  ')'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"start_time": {
						"type": "String"
					},
					"end_time": {
						"type": "String"
					},
					"status": {
						"type": "String"
					},
					"Error.message": {
						"type": "String"
					},
					"output": {
						"type": "String"
					}
				},
				"folder": {
					"name": "incremetal_pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-08T19:05:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_MEMBERACCOUNT')]"
			]
		}
	]
}