adf-app-fss-tmp-dev-scus-001/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-app-fss-tmp-dev-scus-001"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvappfsstmpdevscus001.vault.azure.net/"
		},
		"AzureDataLakeStorage568_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/954e6be0-9b93-4a14-8954-8eeb9fd3b065/resourceGroups/rg-app-fss-tmp-dev-scus-001/providers/Microsoft.Storage/storageAccounts/sachappfsstmpdevscus001"
		},
		"AzureDataLakeStorage568_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"AzureDataLakeStorage568_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sachappfsstmpdevscus001.dfs.core.windows.net"
			]
		},
		"pe-kvappfsstmpdevscus001_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/954e6be0-9b93-4a14-8954-8eeb9fd3b065/resourceGroups/rg-app-fss-tmp-dev-scus-001/providers/Microsoft.KeyVault/vaults/kvappfsstmpdevscus001"
		},
		"pe-kvappfsstmpdevscus001_properties_groupId": {
			"type": "string",
			"defaultValue": "vault"
		},
		"pe-kvappfsstmpdevscus001_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"kvappfsstmpdevscus001.vault.azure.net"
			]
		},
		"pe-psql-app-fss-tmp-dev-scus-001_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/954e6be0-9b93-4a14-8954-8eeb9fd3b065/resourceGroups/rg-app-fss-tmp-dev-scus-001/providers/Microsoft.DBforPostgreSQL/flexibleServers/psql-app-fss-tmp-dev-scus-001"
		},
		"pe-psql-app-fss-tmp-dev-scus-001_properties_groupId": {
			"type": "string",
			"defaultValue": "postgresqlServer"
		},
		"pe-psql-app-fss-tmp-dev-scus-001_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"psql-app-fss-tmp-dev-scus-001.postgres.database.azure.com"
			]
		},
		"pe-sachappfsstmpdevscus001_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/954e6be0-9b93-4a14-8954-8eeb9fd3b065/resourceGroups/rg-app-fss-tmp-dev-scus-001/providers/Microsoft.Storage/storageAccounts/sachappfsstmpdevscus001"
		},
		"pe-sachappfsstmpdevscus001_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"pe-sachappfsstmpdevscus001_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sachappfsstmpdevscus001.blob.core.windows.net"
			]
		},
		"AzureBlobStorage1_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://sachappfsstmpdevtest123scus001.blob.core.windows.net/"
		},
		"AzurePostgreSql1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "psql-app-fss-tmp-dev-scus-001.postgres.database.azure.com"
		},
		"AzurePostgreSql1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"AzurePostgreSql1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "sqaladmin"
		},
		"CH_FSS_BLOB_properties_typeProperties_serviceEndpoint": {
			"type": "object",
			"defaultValue": {
				"type": "AzureKeyVaultSecret",
				"store": {
					"referenceName": "AzureKeyVault1",
					"type": "LinkedServiceReference"
				},
				"secretName": "FSS-BLOB-ENDPOINT"
			}
		},
		"CH_FSS_Blob_Storage_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://sachappfsstmpdevscus001.blob.core.windows.net/"
		},
		"CH_FSS_POSTGRES_DB_properties_typeProperties_server": {
			"type": "object",
			"defaultValue": {
				"type": "AzureKeyVaultSecret",
				"store": {
					"referenceName": "AzureKeyVault1",
					"type": "LinkedServiceReference"
				},
				"secretName": "FSS-DB-URL"
			}
		},
		"CH_FSS_POSTGRES_DB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"CH_FSS_Postgres_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "psql-app-fss-tmp-dev-scus-001.postgres.database.azure.com"
		},
		"CH_FSS_Postgres_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"CH_FSS_Postgres_sql_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "sqladmin"
		},
		"CH_TST_DB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "psql-app-fss-tmp-dev-scus-001.postgres.database.azure.com"
		},
		"CH_TST_DB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "postgres"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureDataLakeStorage568')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureDataLakeStorage568_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureDataLakeStorage568_properties_groupId')]",
				"fqdns": "[parameters('AzureDataLakeStorage568_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/pe-kvappfsstmpdevscus001')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('pe-kvappfsstmpdevscus001_properties_privateLinkResourceId')]",
				"groupId": "[parameters('pe-kvappfsstmpdevscus001_properties_groupId')]",
				"fqdns": "[parameters('pe-kvappfsstmpdevscus001_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/pe-psql-app-fss-tmp-dev-scus-001')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('pe-psql-app-fss-tmp-dev-scus-001_properties_privateLinkResourceId')]",
				"groupId": "[parameters('pe-psql-app-fss-tmp-dev-scus-001_properties_groupId')]",
				"fqdns": "[parameters('pe-psql-app-fss-tmp-dev-scus-001_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/pe-sachappfsstmpdevscus001')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('pe-sachappfsstmpdevscus001_properties_privateLinkResourceId')]",
				"groupId": "[parameters('pe-sachappfsstmpdevscus001_properties_groupId')]",
				"fqdns": "[parameters('pe-sachappfsstmpdevscus001_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage1_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('AzurePostgreSql1_properties_typeProperties_server')]",
					"port": "5432",
					"database": "[parameters('AzurePostgreSql1_properties_typeProperties_database')]",
					"sslMode": 2,
					"username": "[parameters('AzurePostgreSql1_properties_typeProperties_username')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "db-password"
					},
					"authenticationType": "Basic"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CH_FSS_BLOB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzureBlobStorage",
				"annotations": [],
				"typeProperties": {
					"serviceEndpoint": "[parameters('CH_FSS_BLOB_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CH_FSS_Blob_Storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('CH_FSS_Blob_Storage_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CH_FSS_POSTGRES_DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzurePostgreSql",
				"annotations": [],
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('CH_FSS_POSTGRES_DB_properties_typeProperties_server')]",
					"port": "5432",
					"database": "[parameters('CH_FSS_POSTGRES_DB_properties_typeProperties_database')]",
					"sslMode": 2,
					"authenticationType": "SystemAssignedManagedIdentity"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CH_FSS_Postgres_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('CH_FSS_Postgres_sql_properties_typeProperties_server')]",
					"port": "5432",
					"database": "[parameters('CH_FSS_Postgres_sql_properties_typeProperties_database')]",
					"sslMode": 2,
					"username": "[parameters('CH_FSS_Postgres_sql_properties_typeProperties_username')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "db-password"
					},
					"authenticationType": "Basic"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CH_TST_DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('CH_TST_DB_properties_typeProperties_server')]",
					"port": "5432",
					"database": "[parameters('CH_TST_DB_properties_typeProperties_database')]",
					"sslMode": 2,
					"authenticationType": "SystemAssignedManagedIdentity"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ACCOUNT_GRP_FIN_STAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transaction_daily",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "truncate_account_group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'INSERT INTO ch_fss.account_group_financial_stat(\n  scoring_group_id,\n  financial_stat_type_code_id,\n  date,\n  value\n)\nSELECT\n  s.scoring_group_id,\n  t.transaction_type_code_id AS financial_stat_type_code_id,\n  t.transaction_date::date AS date,\n  SUM(t.transaction_amount) AS value\nFROM ch_fss.\"transaction\" t\nJOIN ch_fss.share_account sa ON t.share_id = sa.share_id\nJOIN ch_fss.scoring_group s ON sa.account_id = s.account_id\nWHERE t.transaction_date >= ''',\npipeline().parameters.start_date,\n'''\nAND t.transaction_date < ''',\npipeline().parameters.end_date,\n'''\nGROUP BY s.scoring_group_id, date, financial_stat_type_code_id;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ending_bal",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "transaction_daily",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'INSERT INTO ch_fss.account_group_financial_stat(scoring_group_id, date, value, financial_stat_type_code_id, created_date, created_by)\nSELECT\n    sg.scoring_group_id,\n    agg.date,\n    agg.total_value,\n    4,\n    NOW() AS created_date,\n    ''system'' AS created_by\nFROM\n(\n    SELECT sa.account_id, sfs.date, SUM(sfs.value) AS total_value\n    FROM ch_fss.share_financial_stat sfs\n    JOIN ch_fss.share_account sa ON sa.share_id = sfs.share_id\n    WHERE sfs.\"date\" >= ''',\n    pipeline().parameters.start_date,\n    '''\n    AND sfs.\"date\" < ''',\n    pipeline().parameters.end_date,\n    '''\n    AND sfs.financial_stat_type_code_id = 4\n    GROUP BY sa.account_id, sfs.date\n) agg\nJOIN ch_fss.scoring_group sg ON sg.account_id = agg.account_id;'\n)\n ",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "avg_multiple_dates",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "ending_bal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'INSERT INTO ch_fss.account_group_financial_stat\n(\n   scoring_group_id,\n   financial_stat_type_code_id,\n   date,\n   value\n)\nWITH date_series AS (\n  SELECT generate_series::date AS dt\n  FROM generate_series(''',\npipeline().parameters.start_date,\n'''::date, ''',\npipeline().parameters.end_date,\n'''::date - interval ''1 day'', interval ''1 day'')\n),\navg_values AS (\n    SELECT\n        sfs.scoring_group_id,\n        sfs.financial_stat_type_code_id,\n        ds.dt AS date,\n        SUM(sfs.value)/30 AS avg_value\n    FROM ch_fss.account_group_financial_stat sfs \n    CROSS JOIN date_series ds\n    WHERE sfs.financial_stat_type_code_id IN (1, 2, 3, 4)\n      AND sfs.date BETWEEN ds.dt - INTERVAL ''29 days'' AND ds.dt  -- last 30 days including the day\n    GROUP BY sfs.scoring_group_id, sfs.financial_stat_type_code_id, ds.dt\n),\nmapped_avg AS (\n    SELECT\n        scoring_group_id,\n        CASE financial_stat_type_code_id\n            WHEN 1 THEN 5\n            WHEN 2 THEN 6\n            WHEN 3 THEN 7\n            WHEN 4 THEN 8\n        END AS financial_stat_type_code_id,\n        date,\n        avg_value\n    FROM avg_values\n)\nSELECT\n    scoring_group_id,\n    financial_stat_type_code_id,\n    date,\n    avg_value AS value\nFROM mapped_avg\nWHERE avg_value IS NOT NULL;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "slack_score_with_fee",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "avg_multiple_dates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'WITH denominators AS (\n  SELECT\n    scoring_group_id,\n    date,\n    SUM(abs(value)) AS denom_sum\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\n pipeline().parameters.start_date,\n  ''' \n    AND sfs.\"date\" < ''',\n  pipeline().parameters.end_date,\n  '''\n    AND financial_stat_type_code_id IN (6, 7)\n  GROUP BY scoring_group_id, date\n),\nnumerators AS (\n  SELECT\n    scoring_group_id,\n    date,\n    value::numeric AS numerator\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\n  pipeline().parameters.start_date,\n  '''\n    AND sfs.\"date\" < ''',\n  pipeline().parameters.end_date,\n  '''\n    AND financial_stat_type_code_id = 8\n),\nvals AS (\n  SELECT\n    n.scoring_group_id,\n    n.date,\n    n.numerator,\n    d.denom_sum,\n    CASE \n      WHEN d.denom_sum = 0 THEN NULL\n      ELSE n.numerator / d.denom_sum\n    END AS ratio\n  FROM numerators n\n  JOIN denominators d\n    ON n.scoring_group_id = d.scoring_group_id\n    AND n.date = d.date\n)\nINSERT INTO ch_fss.account_group_financial_stat (\n  scoring_group_id,\n  financial_stat_type_code_id,\n  date,\n  value\n)\nSELECT \n  scoring_group_id,\n  9,\n  date,\n  ratio\nFROM vals;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "slack score without fee",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "slack_score_with_fee",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'WITH denominators AS (\n  SELECT\n    scoring_group_id,\n    date,\n    SUM(abs(value)) AS denom_sum\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\n  pipeline().parameters.start_date,\n  '''\n    AND sfs.\"date\" < ''',\n  pipeline().parameters.end_date,\n  '''\n    AND financial_stat_type_code_id IN (6)\n  GROUP BY scoring_group_id, date\n),\nnumerators AS (\n  SELECT\n    scoring_group_id,\n    date,\n    SUM(\n      CASE \n        WHEN financial_stat_type_code_id = 7 THEN abs(value)\n        WHEN financial_stat_type_code_id = 8 THEN value\n        ELSE 0 -- in case other codes appear\n      END\n    )::numeric AS numerator\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\n  pipeline().parameters.start_date,\n  '''\n    AND sfs.\"date\" < ''',\n pipeline().parameters.end_date,\n  '''\n    AND financial_stat_type_code_id IN (7, 8)\n  GROUP BY scoring_group_id, date\n),\nvals AS (\n  SELECT\n    n.scoring_group_id,\n    n.date,\n    n.numerator,\n    d.denom_sum,\n    CASE \n      WHEN d.denom_sum = 0 THEN NULL\n      ELSE n.numerator / d.denom_sum\n    END AS ratio\n  FROM numerators n\n  JOIN denominators d\n    ON n.scoring_group_id = d.scoring_group_id\n    AND n.date = d.date\n)\nINSERT INTO ch_fss.account_group_financial_stat(\n  scoring_group_id,\n  financial_stat_type_code_id,\n  date,\n  value\n)\nSELECT \n  scoring_group_id,\n  10,\n  date,\n  ratio\nFROM vals;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "spot slack",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "slack score without fee",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'WITH denominators AS (\n  SELECT\n    scoring_group_id,\n    date,\n    SUM(abs(value)) AS denom_sum\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\n  pipeline().parameters.start_date,\n  '''\n    AND sfs.\"date\" < ''',\n  pipeline().parameters.end_date,\n  '''\n    AND financial_stat_type_code_id IN (6, 7)\n  GROUP BY scoring_group_id, date\n),\nnumerators AS (\n  SELECT\n    scoring_group_id,\n    date,\n    value::numeric AS numerator\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\n  pipeline().parameters.start_date,\n  '''\n    AND sfs.\"date\" < ''',\n  pipeline().parameters.end_date,\n  '''\n    AND financial_stat_type_code_id = 4\n),\nvals AS (\n  SELECT\n    n.scoring_group_id,\n    n.date,\n    n.numerator,\n    d.denom_sum,\n    CASE \n      WHEN d.denom_sum = 0 THEN NULL\n      ELSE n.numerator / d.denom_sum\n    END AS ratio\n  FROM numerators n\n  JOIN denominators d\n    ON n.scoring_group_id = d.scoring_group_id\n    AND n.date = d.date\n)\nINSERT INTO ch_fss.account_group_financial_stat(\n  scoring_group_id,\n  financial_stat_type_code_id,\n  date,\n  value\n)\nSELECT \n  scoring_group_id,\n  11,\n  date,\n  ratio\nFROM vals;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "flow slack",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "spot slack",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'WITH expenses AS (\n  SELECT\n    scoring_group_id,\n    date,\n    SUM(ABS(value)) AS total_expense\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\n  pipeline().parameters.start_date,\n  '''\n    AND sfs.\"date\" < ''',\n  pipeline().parameters.end_date,\n  '''\n    AND financial_stat_type_code_id IN (6, 7)\n  GROUP BY scoring_group_id, date\n),\ndeposits AS (\n  SELECT\n    scoring_group_id,\n    date,\n    value::numeric AS income\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\n  pipeline().parameters.start_date,\n  '''\n    AND sfs.\"date\" < ''',\n  pipeline().parameters.end_date,\n  '''\n    AND financial_stat_type_code_id = 5\n),\nvals AS (\n  SELECT\n    n.scoring_group_id,\n    n.date,\n    d.income - n.total_expense AS diff\n  FROM expenses n\n  LEFT JOIN deposits d\n    ON n.scoring_group_id = d.scoring_group_id\n    AND n.date = d.date\n)\nINSERT INTO ch_fss.account_group_financial_stat(\n  scoring_group_id,\n  financial_stat_type_code_id,\n  date,\n  value\n)\nSELECT \n  scoring_group_id,\n  12,\n  date,\n  diff*30\nFROM vals;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "stock slack",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "flow slack",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'WITH expenses AS (\n  SELECT\n    scoring_group_id,\n    date,\n    SUM(ABS(value)) * 30 AS total_expense\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\npipeline().parameters.start_date,\n'''\n    AND sfs.\"date\" < ''',\npipeline().parameters.end_date,\n'''\n    AND financial_stat_type_code_id IN (6, 7)\n  GROUP BY scoring_group_id, date\n),\nbalances AS (\n  SELECT\n    scoring_group_id,\n    date,\n    value::numeric AS balance\n  FROM ch_fss.account_group_financial_stat sfs\n  WHERE sfs.\"date\" >= ''',\npipeline().parameters.start_date,\n'''\n    AND sfs.\"date\" < ''',\npipeline().parameters.end_date,\n'''\n    AND financial_stat_type_code_id = 8\n),\nvals AS (\n  SELECT\n    n.scoring_group_id,\n    n.date,\n    d.balance - n.total_expense AS diff\n  FROM expenses n\n  LEFT JOIN balances d\n    ON n.scoring_group_id = d.scoring_group_id\n    AND n.date = d.date\n)\nINSERT INTO ch_fss.account_group_financial_stat(\n  scoring_group_id,\n  financial_stat_type_code_id,\n  date,\n  value\n)\nSELECT \n  scoring_group_id,\n  13,\n  date,\n  diff\nFROM vals;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "truncate_account_group",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\r\n'DELETE FROM ch_fss.account_group_financial_stat\r\nWHERE date >= ''',\r\npipeline().parameters.start_date,\r\n''' \r\nAND date < ''',\r\npipeline().parameters.end_date,\r\n''';'\r\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"start_date": {
						"type": "string",
						"defaultValue": "@item().start_date"
					},
					"end_date": {
						"type": "string",
						"defaultValue": "@item().end_date"
					}
				},
				"folder": {
					"name": "FSS_CALCULATION_PL"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-20T05:27:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CH_FSS_Postgres_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SHARE_FIN_STAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transaction_daily",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Truncate_table_financial_stat",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat('\nINSERT INTO ch_fss.share_financial_stat (\n  share_id,\n  financial_stat_type_code_id,\n  date,\n  value\n)\nSELECT\n  t.share_id,\n  t.transaction_type_code_id AS financial_stat_type_code_id,\n  t.transaction_date::date AS date,\n  SUM(t.transaction_amount) AS value\nFROM ch_fss.\"transaction\" t\nWHERE t.transaction_date::date >= ''',\n pipeline().parameters.start_date,\n '''::date\n  AND t.transaction_date::date <= ''',\n pipeline().parameters.end_date,\n '''::date\n  AND t.transaction_type_code_id IN (1, 2, 3)\nGROUP BY t.share_id, t.transaction_date::date, t.transaction_type_code_id;\n')",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ending_bal_cal",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "transaction_daily",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'INSERT INTO ch_fss.share_financial_stat (\n  share_id,\n  financial_stat_type_code_id,\n  date,\n  value\n)\nSELECT\n  sub.share_id,\n  4 AS financial_stat_type_code_id,\n  sub.transaction_date::date AS date,\n  sub.balance AS value\nFROM (\n  SELECT DISTINCT ON (t.share_id, t.transaction_date::date)\n    t.share_id,\n    t.transaction_date,\n    t.balance,\n    t.transaction_id\n  FROM ch_fss.\"transaction\" t\n  WHERE t.transaction_date >= ''',\n  pipeline().parameters.start_date,\n  ''' \n  and t.transaction_date  < ''',\n  pipeline().parameters.end_date,\n  '''\n  ORDER BY t.share_id, t.transaction_date::date, t.transaction_id DESC\n) sub;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "stg_ending_bal",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "truncate_stg_table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'WITH date_range AS (\n  SELECT generate_series::date AS dt\n  FROM generate_series(''',\n  pipeline().parameters.start_date,\n  '''::date, ''',\n  pipeline().parameters.end_date,\n  '''::date - interval ''1 day'', interval ''1 day'')\n),\ngroups AS (\n  SELECT DISTINCT share_id\n  FROM ch_fss.share_account sa\n  WHERE sa.close_date IS NULL\n),\nall_combinations AS (\n  SELECT g.share_id, d.dt AS date\n  FROM groups g CROSS JOIN date_range d\n)\nINSERT INTO fss_stg.stg_missing_share_ending_bal(\n  share_id, \n  date\n) \nSELECT ac.share_id, ac.date\nFROM all_combinations ac\nLEFT JOIN ch_fss.share_financial_stat agfs\n  ON agfs.share_id = ac.share_id\n  AND agfs.date = ac.date\n  AND agfs.financial_stat_type_code_id = 4\nWHERE agfs.financial_stat_id IS NULL;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Insert_missing_ending_bal",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "stg_ending_bal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'INSERT INTO ch_fss.share_financial_stat (\n  value,\n  date,\n  financial_stat_type_code_id,\n  share_id,\n  created_date,\n  created_by\n)\nSELECT\n  prev.value,\n  tm.date,\n  4,\n  tm.share_id,\n  NOW() AS created_date,\n  ''system'' AS created_by\nFROM fss_stg.stg_missing_share_ending_bal tm\nLEFT JOIN LATERAL (\n  SELECT value\n  FROM  ch_fss.share_financial_stat agfs\n  WHERE agfs.share_id = tm.share_id\n    AND agfs.financial_stat_type_code_id = 4\n    AND agfs.date < tm.date\n  ORDER BY date DESC\n  LIMIT 1\n) prev ON true\nAND prev.value IS NOT null;'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "truncate_stg_table",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "ending_bal_cal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE fss_stg.stg_missing_share_ending_bal CASCADE;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Truncate_table_financial_stat",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "CH_FSS_Postgres_sql",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n'truncate table ch_fss.share_financial_stat\nWHERE date >= ''',\npipeline().parameters.start_date,\n''' \nAND date < ''',\npipeline().parameters.end_date,\n''';'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"start_date": {
						"type": "string",
						"defaultValue": "@item().start_date"
					},
					"end_date": {
						"type": "string",
						"defaultValue": "@item().end_date"
					}
				},
				"folder": {
					"name": "FSS_CALCULATION_PL"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-20T05:27:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CH_FSS_Postgres_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lookupmonthsarray')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_Postgres_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_CALCULATION"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "process_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "last_processed_date",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "ch_fss",
					"table": "transaction"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CH_FSS_Postgres_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/member_account_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_Blob_Storage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_MEMBERACCOUNT"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DEV_PWC_Extract_Account_2025_12_3.csv",
						"folderPath": "InitialData",
						"container": "fss"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PWC_Key",
						"type": "String"
					},
					{
						"name": "TYPE",
						"type": "String"
					},
					{
						"name": "LASTFMDATE",
						"type": "String"
					},
					{
						"name": "OPENDATE",
						"type": "String"
					},
					{
						"name": "CLOSEDATE",
						"type": "String"
					},
					{
						"name": "BRANCH",
						"type": "String"
					},
					{
						"name": "RESTRICTACCESS",
						"type": "String"
					},
					{
						"name": "REFERENCE",
						"type": "String"
					},
					{
						"name": "WARNINGCODE1",
						"type": "String"
					},
					{
						"name": "WARNINGCODE2",
						"type": "String"
					},
					{
						"name": "WARNINGCODE3",
						"type": "String"
					},
					{
						"name": "WARNINGCODE4",
						"type": "String"
					},
					{
						"name": "WARNINGCODE5",
						"type": "String"
					},
					{
						"name": "WARNINGCODE6",
						"type": "String"
					},
					{
						"name": "WARNINGCODE7",
						"type": "String"
					},
					{
						"name": "WARNINGCODE8",
						"type": "String"
					},
					{
						"name": "WARNINGCODE9",
						"type": "String"
					},
					{
						"name": "WARNINGCODE10",
						"type": "String"
					},
					{
						"name": "WARNINGCODE11",
						"type": "String"
					},
					{
						"name": "WARNINGCODE12",
						"type": "String"
					},
					{
						"name": "WARNINGCODE13",
						"type": "String"
					},
					{
						"name": "WARNINGCODE14",
						"type": "String"
					},
					{
						"name": "WARNINGCODE15",
						"type": "String"
					},
					{
						"name": "WARNINGCODE16",
						"type": "String"
					},
					{
						"name": "WARNINGCODE17",
						"type": "String"
					},
					{
						"name": "WARNINGCODE18",
						"type": "String"
					},
					{
						"name": "WARNINGCODE19",
						"type": "String"
					},
					{
						"name": "WARNINGCODE20",
						"type": "String"
					},
					{
						"name": "PAYMENTHISTORY1",
						"type": "String"
					},
					{
						"name": "PAYMENTHISTORY2",
						"type": "String"
					},
					{
						"name": "PAYMENTHISTORY3",
						"type": "String"
					},
					{
						"name": "PAYMENTHISTORY4",
						"type": "String"
					},
					{
						"name": "PAYMENTHISTORY5",
						"type": "String"
					},
					{
						"name": "PAYMENTHISTORY6",
						"type": "String"
					},
					{
						"name": "MEMBERSTATUS",
						"type": "String"
					},
					{
						"name": "CORRESPONDDATE",
						"type": "String"
					},
					{
						"name": "PROXYDATE",
						"type": "String"
					},
					{
						"name": "HEADOFHOUSEHOLD",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION1",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION2",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION3",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION4",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION5",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION6",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION7",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION8",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION9",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION10",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION11",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION12",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION13",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION14",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION15",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION16",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION17",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION18",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION19",
						"type": "String"
					},
					{
						"name": "WARNINGEXPIRATION20",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT1",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT2",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT3",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT4",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT5",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT6",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT7",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT8",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT9",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT10",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT11",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT12",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT13",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT14",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT15",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT16",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT17",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT18",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT19",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT20",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT21",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT22",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT23",
						"type": "String"
					},
					{
						"name": "NSFMONTHLYCOUNT24",
						"type": "String"
					},
					{
						"name": "NSFTODAY",
						"type": "String"
					},
					{
						"name": "MEMBERGROUP",
						"type": "String"
					},
					{
						"name": "COMMERCIALCODE",
						"type": "String"
					},
					{
						"name": "FMLASTPURGEDATE",
						"type": "String"
					},
					{
						"name": "STATEREPORTING",
						"type": "String"
					},
					{
						"name": "HOUSEHOLDACCOUNT",
						"type": "String"
					},
					{
						"name": "HOUSEHOLDSTATEMENT",
						"type": "String"
					},
					{
						"name": "FROZENMODE",
						"type": "String"
					},
					{
						"name": "INVALIDATTEMPTCOUNT",
						"type": "String"
					},
					{
						"name": "INVALIDATTEMPTDATE",
						"type": "String"
					},
					{
						"name": "INVALIDATTEMPTTIME",
						"type": "String"
					},
					{
						"name": "STATEMENTMAILCODE",
						"type": "String"
					},
					{
						"name": "RELATIONSHIPCODE",
						"type": "String"
					},
					{
						"name": "RELATIONSHIPOVERRIDE",
						"type": "String"
					},
					{
						"name": "RELATIONSHIPOVERRIDEEFFDATE",
						"type": "String"
					},
					{
						"name": "RELATIONSHIPOVERRIDEEXPDATE",
						"type": "String"
					},
					{
						"name": "KRHOLDBASEAMOUNT",
						"type": "String"
					},
					{
						"name": "KRTOTALAMOUNT",
						"type": "String"
					},
					{
						"name": "KRTOTALDATE",
						"type": "String"
					},
					{
						"name": "ESTMTNOTIFY",
						"type": "String"
					},
					{
						"name": "ESTMTENABLE",
						"type": "String"
					},
					{
						"name": "CRTOTALAMOUNT",
						"type": "String"
					},
					{
						"name": "CDTOTALAMOUNT",
						"type": "String"
					},
					{
						"name": "FRCRTOTALAMOUNT",
						"type": "String"
					},
					{
						"name": "FRCDTOTALAMOUNT",
						"type": "String"
					},
					{
						"name": "USERCHAR1",
						"type": "String"
					},
					{
						"name": "USERCHAR2",
						"type": "String"
					},
					{
						"name": "USERCHAR3",
						"type": "String"
					},
					{
						"name": "USERCHAR4",
						"type": "String"
					},
					{
						"name": "USERAMOUNT1",
						"type": "String"
					},
					{
						"name": "USERAMOUNT2",
						"type": "String"
					},
					{
						"name": "USERDATE1",
						"type": "String"
					},
					{
						"name": "USERDATE2",
						"type": "String"
					},
					{
						"name": "ENABLEFLOAT",
						"type": "String"
					},
					{
						"name": "FRCRUNITS",
						"type": "String"
					},
					{
						"name": "FRCDUNITS",
						"type": "String"
					},
					{
						"name": "PRGDRECACTIVITYDT",
						"type": "String"
					},
					{
						"name": "RECORDCHANGEDATE",
						"type": "String"
					},
					{
						"name": "CAPPEDFEESCOUNTCAP",
						"type": "String"
					},
					{
						"name": "CAPPEDFEESAMOUNTCAP",
						"type": "String"
					},
					{
						"name": "CREATEDBYUSER",
						"type": "String"
					},
					{
						"name": "CREATEDATBRANCH",
						"type": "String"
					},
					{
						"name": "WRTOTALAMOUNT",
						"type": "String"
					},
					{
						"name": "WDTOTALAMOUNT",
						"type": "String"
					},
					{
						"name": "NONREGCCCHECKHOLDBASEAMT",
						"type": "String"
					},
					{
						"name": "NONREGCCCHECKTOTALAMT",
						"type": "String"
					},
					{
						"name": "LIMITUSAGEDATE",
						"type": "String"
					},
					{
						"name": "COUNTLIMIT1",
						"type": "String"
					},
					{
						"name": "COUNTLIMIT2",
						"type": "String"
					},
					{
						"name": "COUNTLIMIT3",
						"type": "String"
					},
					{
						"name": "COUNTLIMIT4",
						"type": "String"
					},
					{
						"name": "COUNTLIMIT5",
						"type": "String"
					},
					{
						"name": "COUNTLIMIT6",
						"type": "String"
					},
					{
						"name": "LIMITCOUNT1",
						"type": "String"
					},
					{
						"name": "LIMITCOUNT2",
						"type": "String"
					},
					{
						"name": "LIMITCOUNT3",
						"type": "String"
					},
					{
						"name": "LIMITCOUNT4",
						"type": "String"
					},
					{
						"name": "LIMITCOUNT5",
						"type": "String"
					},
					{
						"name": "LIMITCOUNT6",
						"type": "String"
					},
					{
						"name": "LIMIT1",
						"type": "String"
					},
					{
						"name": "LIMIT2",
						"type": "String"
					},
					{
						"name": "LIMIT3",
						"type": "String"
					},
					{
						"name": "LIMIT4",
						"type": "String"
					},
					{
						"name": "LIMIT5",
						"type": "String"
					},
					{
						"name": "LIMIT6",
						"type": "String"
					},
					{
						"name": "LIMITAMOUNT1",
						"type": "String"
					},
					{
						"name": "LIMITAMOUNT2",
						"type": "String"
					},
					{
						"name": "LIMITAMOUNT3",
						"type": "String"
					},
					{
						"name": "LIMITAMOUNT4",
						"type": "String"
					},
					{
						"name": "LIMITAMOUNT5",
						"type": "String"
					},
					{
						"name": "LIMITAMOUNT6",
						"type": "String"
					},
					{
						"name": "PERITEMLIMIT1",
						"type": "String"
					},
					{
						"name": "PERITEMLIMIT2",
						"type": "String"
					},
					{
						"name": "PERITEMLIMIT3",
						"type": "String"
					},
					{
						"name": "PERITEMLIMIT4",
						"type": "String"
					},
					{
						"name": "PERITEMLIMIT5",
						"type": "String"
					},
					{
						"name": "PERITEMLIMIT6",
						"type": "String"
					},
					{
						"name": "VERSIONID",
						"type": "String"
					},
					{
						"name": "UUID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CH_FSS_Blob_Storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/member_account_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_Postgres_sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_MEMBERACCOUNT"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "account_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "open_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "close_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "branch",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "status",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "household_account_number",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "member_group_name",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "product_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "created_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "created_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "updated_date",
						"type": "timestamp without time zone",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "updated_by",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "account_type_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "anonymized_member_id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "ch_fss",
					"table": "member_account"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CH_FSS_Postgres_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/member_details_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CH_FSS_Blob_Storage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_MEMBERDETAILS"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DEV_PWC_Extract_Name_2025_12_3.csv",
						"folderPath": "InitialData",
						"container": "fss"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PWC_Key",
						"type": "String"
					},
					{
						"name": "ORDINAL",
						"type": "String"
					},
					{
						"name": "TYPE",
						"type": "String"
					},
					{
						"name": "SUBTYPE",
						"type": "String"
					},
					{
						"name": "MAILOVERRIDE",
						"type": "String"
					},
					{
						"name": "SSNOVERRIDE",
						"type": "String"
					},
					{
						"name": "SSNCERTIFICATION",
						"type": "String"
					},
					{
						"name": "SSNTYPE",
						"type": "String"
					},
					{
						"name": "EFFECTIVEDATE",
						"type": "String"
					},
					{
						"name": "EXPIRATIONDATE",
						"type": "String"
					},
					{
						"name": "BIRTHDATE",
						"type": "String"
					},
					{
						"name": "TITLE",
						"type": "String"
					},
					{
						"name": "FIRST",
						"type": "String"
					},
					{
						"name": "MIDDLE",
						"type": "String"
					},
					{
						"name": "LAST",
						"type": "String"
					},
					{
						"name": "SUFFIX",
						"type": "String"
					},
					{
						"name": "EXTRAADDRESS",
						"type": "String"
					},
					{
						"name": "STREET",
						"type": "String"
					},
					{
						"name": "CITY",
						"type": "String"
					},
					{
						"name": "STATE",
						"type": "String"
					},
					{
						"name": "ZIPCODE",
						"type": "String"
					},
					{
						"name": "HOMEPHONE",
						"type": "String"
					},
					{
						"name": "SSN",
						"type": "String"
					},
					{
						"name": "WORKPHONE",
						"type": "String"
					},
					{
						"name": "LASTFMDATE",
						"type": "String"
					},
					{
						"name": "CARRIERROUTE",
						"type": "String"
					},
					{
						"name": "ADDRESSTYPE",
						"type": "String"
					},
					{
						"name": "BENEFICIARYPERCENT",
						"type": "String"
					},
					{
						"name": "IRSCORRECTION",
						"type": "String"
					},
					{
						"name": "WORKPHONEEXTENSION",
						"type": "String"
					},
					{
						"name": "CTREXEMPT",
						"type": "String"
					},
					{
						"name": "DEATHDATE",
						"type": "String"
					},
					{
						"name": "ECOACODE",
						"type": "String"
					},
					{
						"name": "COUNTRY",
						"type": "String"
					},
					{
						"name": "COUNTRYCODE",
						"type": "String"
					},
					{
						"name": "EMAIL",
						"type": "String"
					},
					{
						"name": "MOTHERSMAIDENNAME",
						"type": "String"
					},
					{
						"name": "EMPLOYERNAME",
						"type": "String"
					},
					{
						"name": "ALTEMAIL",
						"type": "String"
					},
					{
						"name": "LOCATOR",
						"type": "String"
					},
					{
						"name": "MOBILEPHONE",
						"type": "String"
					},
					{
						"name": "PAGERNUMBER",
						"type": "String"
					},
					{
						"name": "USPERSONFLAG",
						"type": "String"
					},
					{
						"name": "IDENTDOCFLAG1",
						"type": "String"
					},
					{
						"name": "IDENTDOCFLAG2",
						"type": "String"
					},
					{
						"name": "IDENTDOCFLAG3",
						"type": "String"
					},
					{
						"name": "IDENTIDTYPE1",
						"type": "String"
					},
					{
						"name": "IDENTIDTYPE2",
						"type": "String"
					},
					{
						"name": "IDENTIDTYPE3",
						"type": "String"
					},
					{
						"name": "IDENTIDDESCRIPTION1",
						"type": "String"
					},
					{
						"name": "IDENTIDDESCRIPTION2",
						"type": "String"
					},
					{
						"name": "IDENTIDDESCRIPTION3",
						"type": "String"
					},
					{
						"name": "IDENTIDNUMBER1",
						"type": "String"
					},
					{
						"name": "IDENTIDNUMBER2",
						"type": "String"
					},
					{
						"name": "IDENTIDNUMBER3",
						"type": "String"
					},
					{
						"name": "IDENTIDISSUEDATE1",
						"type": "String"
					},
					{
						"name": "IDENTIDISSUEDATE2",
						"type": "String"
					},
					{
						"name": "IDENTIDISSUEDATE3",
						"type": "String"
					},
					{
						"name": "IDENTIDEXPIREDATE1",
						"type": "String"
					},
					{
						"name": "IDENTIDEXPIREDATE2",
						"type": "String"
					},
					{
						"name": "IDENTIDEXPIREDATE3",
						"type": "String"
					},
					{
						"name": "IDENTIDVERIFYDATE1",
						"type": "String"
					},
					{
						"name": "IDENTIDVERIFYDATE2",
						"type": "String"
					},
					{
						"name": "IDENTIDVERIFYDATE3",
						"type": "String"
					},
					{
						"name": "OCCUPATION",
						"type": "String"
					},
					{
						"name": "USERCHAR1",
						"type": "String"
					},
					{
						"name": "USERCHAR2",
						"type": "String"
					},
					{
						"name": "USERCHAR3",
						"type": "String"
					},
					{
						"name": "USERCHAR4",
						"type": "String"
					},
					{
						"name": "USERAMOUNT1",
						"type": "String"
					},
					{
						"name": "USERAMOUNT2",
						"type": "String"
					},
					{
						"name": "USERDATE1",
						"type": "String"
					},
					{
						"name": "USERDATE2",
						"type": "String"
					},
					{
						"name": "LASTADDRVERIFDATE",
						"type": "String"
					},
					{
						"name": "CREDITREPORTCONSUMERINFO",
						"type": "String"
					},
					{
						"name": "NAMEFORMAT",
						"type": "String"
					},
					{
						"name": "EXTENDEDNAME",
						"type": "String"
					},
					{
						"name": "CREDITREPORTCONSUMERINFODATE",
						"type": "String"
					},
					{
						"name": "EXTRAINFO",
						"type": "String"
					},
					{
						"name": "RECORDCHANGEDATE",
						"type": "String"
					},
					{
						"name": "MEMBERNUMBER",
						"type": "String"
					},
					{
						"name": "MBRSTATUS",
						"type": "String"
					},
					{
						"name": "MBRSTATUSFMDATE",
						"type": "String"
					},
					{
						"name": "MBRCREATEDATE",
						"type": "String"
					},
					{
						"name": "MBRFMLASTDATE",
						"type": "String"
					},
					{
						"name": "MBREXPDATE",
						"type": "String"
					},
					{
						"name": "MBRACTIVITYDATE",
						"type": "String"
					},
					{
						"name": "PHONETYPE",
						"type": "String"
					},
					{
						"name": "MBRADDRNUMBER",
						"type": "String"
					},
					{
						"name": "ADDRCREATEDATE",
						"type": "String"
					},
					{
						"name": "ADDRFMLASTDATE",
						"type": "String"
					},
					{
						"name": "ADDREXPDATE",
						"type": "String"
					},
					{
						"name": "NONACCTNAMENUM",
						"type": "String"
					},
					{
						"name": "MEMBERNUMLINK",
						"type": "String"
					},
					{
						"name": "MBRADDRNUMLINK",
						"type": "String"
					},
					{
						"name": "CURRGROSSMONTHPAY",
						"type": "String"
					},
					{
						"name": "CURRNETMONTHPAY",
						"type": "String"
					},
					{
						"name": "MBRFMLASTPURGEDATE",
						"type": "String"
					},
					{
						"name": "ADDRFMLASTPURGEDATE",
						"type": "String"
					},
					{
						"name": "FMLASTPURGEDATE",
						"type": "String"
					},
					{
						"name": "MEMBERNUMLINKCHGDATE",
						"type": "String"
					},
					{
						"name": "MBRADDRNUMLINKCHGDATE",
						"type": "String"
					},
					{
						"name": "MBRRECORDCHANGEDATE",
						"type": "String"
					},
					{
						"name": "MBRDISCONNECTDATE",
						"type": "String"
					},
					{
						"name": "ADDRRECORDCHANGEDATE",
						"type": "String"
					},
					{
						"name": "ADDRDISCONNECTDATE",
						"type": "String"
					},
					{
						"name": "MBRFILETYPE",
						"type": "String"
					},
					{
						"name": "MBRADDRFILETYPE",
						"type": "String"
					},
					{
						"name": "RESTRICTACCESS",
						"type": "String"
					},
					{
						"name": "CONFIDENTIAL",
						"type": "String"
					},
					{
						"name": "MARKETINGADDRESS",
						"type": "String"
					},
					{
						"name": "CREDITREPORTADDRINDICATOR",
						"type": "String"
					},
					{
						"name": "CREDITREPORTADDRINDICATORDATE",
						"type": "String"
					},
					{
						"name": "DBANAMEFORMAT",
						"type": "String"
					},
					{
						"name": "DBATITLE",
						"type": "String"
					},
					{
						"name": "DBAFIRST",
						"type": "String"
					},
					{
						"name": "DBAMIDDLE",
						"type": "String"
					},
					{
						"name": "DBALAST",
						"type": "String"
					},
					{
						"name": "DBASUFFIX",
						"type": "String"
					},
					{
						"name": "DBAEXTENDEDNAME",
						"type": "String"
					},
					{
						"name": "SEX",
						"type": "String"
					},
					{
						"name": "IRSCOUNTRYCODE",
						"type": "String"
					},
					{
						"name": "NRATAXRATE",
						"type": "String"
					},
					{
						"name": "NRAEXEMPTIONCODE",
						"type": "String"
					},
					{
						"name": "FORMW8ONFILE",
						"type": "String"
					},
					{
						"name": "W8EXPIRATIONDATE",
						"type": "String"
					},
					{
						"name": "FOREIGNTIN",
						"type": "String"
					},
					{
						"name": "GIIN",
						"type": "String"
					},
					{
						"name": "SUBSTANTIALOWNER",
						"type": "String"
					},
					{
						"name": "CHAPTER4STATUSCODE",
						"type": "String"
					},
					{
						"name": "PREFERREDCONTACTMETHOD",
						"type": "String"
					},
					{
						"name": "ACTIVEDUTY",
						"type": "String"
					},
					{
						"name": "ACTIVEDUTYVERIFICATIONDATE",
						"type": "String"
					},
					{
						"name": "ACTIVEDUTYSTARTDATE",
						"type": "String"
					},
					{
						"name": "ACTIVEDUTYSEPARATIONDATE",
						"type": "String"
					},
					{
						"name": "LOB",
						"type": "String"
					},
					{
						"name": "LEI",
						"type": "String"
					},
					{
						"name": "BENEFICIALOWNER",
						"type": "String"
					},
					{
						"name": "BENEFICIALPERCENT",
						"type": "String"
					},
					{
						"name": "IRS1042SAMENDNUM",
						"type": "String"
					},
					{
						"name": "HEADQUARTERS",
						"type": "String"
					},
					{
						"name": "MBRVERSIONID",
						"type": "String"
					},
					{
						"name": "MBRUUID",
						"type": "String"
					},
					{
						"name": "MBRADDRVERSIONID",
						"type": "String"
					},
					{
						"name": "MBRADDRUUID",
						"type": "String"
					},
					{
						"name": "LASTADDRCHGDATE",
						"type": "String"
					},
					{
						"name": "CRNAMECHGDATE",
						"type": "String"
					},
					{
						"name": "CRADDRCHGDATE",
						"type": "String"
					},
					{
						"name": "CRSSNCHGDATE",
						"type": "String"
					},
					{
						"name": "CURRMTHPAYCHGDATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CH_FSS_Blob_Storage')]"
			]
		}
	]
}