credithumandf/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "credithumandf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/multiple_copy_activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_data_from_blob",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"fieldList": []
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get_data_from_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "incomingfilesfolder",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzurePostgreSqlTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookupfilemapping",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "select * from [fss1].[filemapping_mast] where active = 1",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "AzurePostgreSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-24T15:26:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Member_account')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "member_accountcsv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "member_account",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PWC_Key as string,",
						"          TYPE as string,",
						"          LASTFMDATE as string,",
						"          OPENDATE as string,",
						"          CLOSEDATE as string,",
						"          BRANCH as string,",
						"          RESTRICTACCESS as string,",
						"          REFERENCE as string,",
						"          WARNINGCODE1 as string,",
						"          WARNINGCODE2 as string,",
						"          WARNINGCODE3 as string,",
						"          WARNINGCODE4 as string,",
						"          WARNINGCODE5 as string,",
						"          WARNINGCODE6 as string,",
						"          WARNINGCODE7 as string,",
						"          WARNINGCODE8 as string,",
						"          WARNINGCODE9 as string,",
						"          WARNINGCODE10 as string,",
						"          WARNINGCODE11 as string,",
						"          WARNINGCODE12 as string,",
						"          WARNINGCODE13 as string,",
						"          WARNINGCODE14 as string,",
						"          WARNINGCODE15 as string,",
						"          WARNINGCODE16 as string,",
						"          WARNINGCODE17 as string,",
						"          WARNINGCODE18 as string,",
						"          WARNINGCODE19 as string,",
						"          WARNINGCODE20 as string,",
						"          PAYMENTHISTORY1 as string,",
						"          PAYMENTHISTORY2 as string,",
						"          PAYMENTHISTORY3 as string,",
						"          PAYMENTHISTORY4 as string,",
						"          PAYMENTHISTORY5 as string,",
						"          PAYMENTHISTORY6 as string,",
						"          MEMBERSTATUS as string,",
						"          CORRESPONDDATE as string,",
						"          PROXYDATE as string,",
						"          HEADOFHOUSEHOLD as string,",
						"          WARNINGEXPIRATION1 as string,",
						"          WARNINGEXPIRATION2 as string,",
						"          WARNINGEXPIRATION3 as string,",
						"          WARNINGEXPIRATION4 as string,",
						"          WARNINGEXPIRATION5 as string,",
						"          WARNINGEXPIRATION6 as string,",
						"          WARNINGEXPIRATION7 as string,",
						"          WARNINGEXPIRATION8 as string,",
						"          WARNINGEXPIRATION9 as string,",
						"          WARNINGEXPIRATION10 as string,",
						"          WARNINGEXPIRATION11 as string,",
						"          WARNINGEXPIRATION12 as string,",
						"          WARNINGEXPIRATION13 as string,",
						"          WARNINGEXPIRATION14 as string,",
						"          WARNINGEXPIRATION15 as string,",
						"          WARNINGEXPIRATION16 as string,",
						"          WARNINGEXPIRATION17 as string,",
						"          WARNINGEXPIRATION18 as string,",
						"          WARNINGEXPIRATION19 as string,",
						"          WARNINGEXPIRATION20 as string,",
						"          NSFMONTHLYCOUNT1 as string,",
						"          NSFMONTHLYCOUNT2 as string,",
						"          NSFMONTHLYCOUNT3 as string,",
						"          NSFMONTHLYCOUNT4 as string,",
						"          NSFMONTHLYCOUNT5 as string,",
						"          NSFMONTHLYCOUNT6 as string,",
						"          NSFMONTHLYCOUNT7 as string,",
						"          NSFMONTHLYCOUNT8 as string,",
						"          NSFMONTHLYCOUNT9 as string,",
						"          NSFMONTHLYCOUNT10 as string,",
						"          NSFMONTHLYCOUNT11 as string,",
						"          NSFMONTHLYCOUNT12 as string,",
						"          NSFMONTHLYCOUNT13 as string,",
						"          NSFMONTHLYCOUNT14 as string,",
						"          NSFMONTHLYCOUNT15 as string,",
						"          NSFMONTHLYCOUNT16 as string,",
						"          NSFMONTHLYCOUNT17 as string,",
						"          NSFMONTHLYCOUNT18 as string,",
						"          NSFMONTHLYCOUNT19 as string,",
						"          NSFMONTHLYCOUNT20 as string,",
						"          NSFMONTHLYCOUNT21 as string,",
						"          NSFMONTHLYCOUNT22 as string,",
						"          NSFMONTHLYCOUNT23 as string,",
						"          NSFMONTHLYCOUNT24 as string,",
						"          NSFTODAY as string,",
						"          MEMBERGROUP as string,",
						"          COMMERCIALCODE as string,",
						"          FMLASTPURGEDATE as string,",
						"          STATEREPORTING as string,",
						"          HOUSEHOLDACCOUNT as string,",
						"          HOUSEHOLDSTATEMENT as string,",
						"          FROZENMODE as string,",
						"          INVALIDATTEMPTCOUNT as string,",
						"          INVALIDATTEMPTDATE as string,",
						"          INVALIDATTEMPTTIME as string,",
						"          STATEMENTMAILCODE as string,",
						"          RELATIONSHIPCODE as string,",
						"          RELATIONSHIPOVERRIDE as string,",
						"          RELATIONSHIPOVERRIDEEFFDATE as string,",
						"          RELATIONSHIPOVERRIDEEXPDATE as string,",
						"          KRHOLDBASEAMOUNT as string,",
						"          KRTOTALAMOUNT as string,",
						"          KRTOTALDATE as string,",
						"          ESTMTNOTIFY as string,",
						"          ESTMTENABLE as string,",
						"          CRTOTALAMOUNT as string,",
						"          CDTOTALAMOUNT as string,",
						"          FRCRTOTALAMOUNT as string,",
						"          FRCDTOTALAMOUNT as string,",
						"          USERCHAR1 as string,",
						"          USERCHAR2 as string,",
						"          USERCHAR3 as string,",
						"          USERCHAR4 as string,",
						"          USERAMOUNT1 as string,",
						"          USERAMOUNT2 as string,",
						"          USERDATE1 as string,",
						"          USERDATE2 as string,",
						"          ENABLEFLOAT as string,",
						"          FRCRUNITS as string,",
						"          FRCDUNITS as string,",
						"          PRGDRECACTIVITYDT as string,",
						"          RECORDCHANGEDATE as string,",
						"          CAPPEDFEESCOUNTCAP as string,",
						"          CAPPEDFEESAMOUNTCAP as string,",
						"          CREATEDBYUSER as string,",
						"          CREATEDATBRANCH as string,",
						"          WRTOTALAMOUNT as string,",
						"          WDTOTALAMOUNT as string,",
						"          NONREGCCCHECKHOLDBASEAMT as string,",
						"          NONREGCCCHECKTOTALAMT as string,",
						"          LIMITUSAGEDATE as string,",
						"          COUNTLIMIT1 as string,",
						"          COUNTLIMIT2 as string,",
						"          COUNTLIMIT3 as string,",
						"          COUNTLIMIT4 as string,",
						"          COUNTLIMIT5 as string,",
						"          COUNTLIMIT6 as string,",
						"          LIMITCOUNT1 as string,",
						"          LIMITCOUNT2 as string,",
						"          LIMITCOUNT3 as string,",
						"          LIMITCOUNT4 as string,",
						"          LIMITCOUNT5 as string,",
						"          LIMITCOUNT6 as string,",
						"          LIMIT1 as string,",
						"          LIMIT2 as string,",
						"          LIMIT3 as string,",
						"          LIMIT4 as string,",
						"          LIMIT5 as string,",
						"          LIMIT6 as string,",
						"          LIMITAMOUNT1 as string,",
						"          LIMITAMOUNT2 as string,",
						"          LIMITAMOUNT3 as string,",
						"          LIMITAMOUNT4 as string,",
						"          LIMITAMOUNT5 as string,",
						"          LIMITAMOUNT6 as string,",
						"          PERITEMLIMIT1 as string,",
						"          PERITEMLIMIT2 as string,",
						"          PERITEMLIMIT3 as string,",
						"          PERITEMLIMIT4 as string,",
						"          PERITEMLIMIT5 as string,",
						"          PERITEMLIMIT6 as string,",
						"          VERSIONID as string,",
						"          UUID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(product_id = iifNull(TYPE,'p')) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          account_id as integer,",
						"          min_balance as decimal(10,2),",
						"          open_date as date,",
						"          close_date as date,",
						"          branch as string,",
						"          status as string,",
						"          household_account_number as string,",
						"          member_group_name as string,",
						"          product_id as integer,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string,",
						"          account_type_id as integer,",
						"          anonymized_member_id as long",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     mapColumn(",
						"          account_id = PWC_Key,",
						"          open_date = OPENDATE,",
						"          close_date = CLOSEDATE,",
						"          account_type_id = TYPE,",
						"          branch = BRANCH,",
						"          product_id",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_share_account')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Share_accountcsv",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Share_account",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PWC_Key as string,",
						"          ID as string,",
						"          CHECKDIGITS as string,",
						"          TYPE as string,",
						"          LASTFMDATE as string,",
						"          LASTTRANDATE as string,",
						"          OPENDATE as string,",
						"          CLOSEDATE as string,",
						"          REFERENCE as string,",
						"          WARNINGCODE1 as string,",
						"          WARNINGCODE2 as string,",
						"          WARNINGCODE3 as string,",
						"          WARNINGCODE4 as string,",
						"          WARNINGCODE5 as string,",
						"          WARNINGCODE6 as string,",
						"          WARNINGCODE7 as string,",
						"          WARNINGCODE8 as string,",
						"          WARNINGCODE9 as string,",
						"          WARNINGCODE10 as string,",
						"          WARNINGCODE11 as string,",
						"          WARNINGCODE12 as string,",
						"          WARNINGCODE13 as string,",
						"          WARNINGCODE14 as string,",
						"          WARNINGCODE15 as string,",
						"          WARNINGCODE16 as string,",
						"          WARNINGCODE17 as string,",
						"          WARNINGCODE18 as string,",
						"          WARNINGCODE19 as string,",
						"          WARNINGCODE20 as string,",
						"          SERVICE1 as string,",
						"          SERVICE2 as string,",
						"          SERVICE3 as string,",
						"          SERVICE4 as string,",
						"          SERVICE5 as string,",
						"          SERVICE6 as string,",
						"          SERVICE7 as string,",
						"          SERVICE8 as string,",
						"          SHARECODE as string,",
						"          IRSCODE as string,",
						"          DIVPOSTCODE as string,",
						"          LASTDIVDATE as string,",
						"          LASTDIVAMOUNT as string,",
						"          DIVYTD as string,",
						"          DIVLASTYEAR as string,",
						"          DIVFROMOPEN as string,",
						"          DIVTYPE as string,",
						"          DIVRATE as string,",
						"          DIVACCRUALDATE as string,",
						"          DIVACCRUAL as string,",
						"          WITHHOLDINGCODE as string,",
						"          WITHHOLDINGYTD as string,",
						"          WITHHOLDINGLASTYEAR as string,",
						"          PENALTYTYPE as string,",
						"          PENALTYYTD as string,",
						"          PENALTYLASTYEAR as string,",
						"          BALANCE as string,",
						"          ORIGINALBALANCE as string,",
						"          MINIMUMBALANCE as string,",
						"          INSURANCETYPE as string,",
						"          INSURANCEMAXIMUM as string,",
						"          INSURANCEBALANCEAGE1 as string,",
						"          INSURANCEBALANCEAGE2 as string,",
						"          INSURANCEBALANCEAGE3 as string,",
						"          INSURANCEBALANCEAGE4 as string,",
						"          MINIMUMDEPOSIT as string,",
						"          MINIMUMWITHDRAWAL as string,",
						"          WITHDRAWALLIMIT as string,",
						"          WITHDRAWALCOUNT as string,",
						"          WITHDRAWNFROMOPEN as string,",
						"          WITHDRAWALFEETYPE as string,",
						"          WITHDRAWALFEECOUNT as string,",
						"          LASTPURGEDATE as string,",
						"          STATEMENTGROUP as string,",
						"          STATEMENTDATE as string,",
						"          STATEMENTMAILCODE as string,",
						"          REGECOUNT as string,",
						"          REGDCHECKCOUNT as string,",
						"          REGDTRANSFERCOUNT as string,",
						"          MATURITYPOSTCODE as string,",
						"          MATURITYDATE as string,",
						"          TERMFREQUENCY as string,",
						"          TERMPERIOD as string,",
						"          CERTIFICATENUMBER as string,",
						"          DESCRIPTION as string,",
						"          LOANPAYMENTHOLD as string,",
						"          STATEMENTPREVDATE as string,",
						"          BONDINTYTD as string,",
						"          BONDINTLASTYEAR as string,",
						"          NSFMONTHTODATE as string,",
						"          NSFYTD as string,",
						"          NSFLASTYEAR as string,",
						"          XFRMONTHTODATE as string,",
						"          XFRYTD as string,",
						"          XFRLASTYEAR as string,",
						"          WARNINGEXPIRATION1 as string,",
						"          WARNINGEXPIRATION2 as string,",
						"          WARNINGEXPIRATION3 as string,",
						"          WARNINGEXPIRATION4 as string,",
						"          WARNINGEXPIRATION5 as string,",
						"          WARNINGEXPIRATION6 as string,",
						"          WARNINGEXPIRATION7 as string,",
						"          WARNINGEXPIRATION8 as string,",
						"          WARNINGEXPIRATION9 as string,",
						"          WARNINGEXPIRATION10 as string,",
						"          WARNINGEXPIRATION11 as string,",
						"          WARNINGEXPIRATION12 as string,",
						"          WARNINGEXPIRATION13 as string,",
						"          WARNINGEXPIRATION14 as string,",
						"          WARNINGEXPIRATION15 as string,",
						"          WARNINGEXPIRATION16 as string,",
						"          WARNINGEXPIRATION17 as string,",
						"          WARNINGEXPIRATION18 as string,",
						"          WARNINGEXPIRATION19 as string,",
						"          WARNINGEXPIRATION20 as string,",
						"          FEECOUNT1 as string,",
						"          FEECOUNT2 as string,",
						"          FEECOUNT3 as string,",
						"          FEECOUNT4 as string,",
						"          STATEWITHHOLDINGCODE as string,",
						"          STATEWITHHOLDINGYTD as string,",
						"          STATEWITHHOLDINGLASTYEAR as string,",
						"          CUTOTALSUSECODE as string,",
						"          DIVPERIODSTART as string,",
						"          DIVPERIODBALDAYS as string,",
						"          CHARGEOFFAMOUNT as string,",
						"          CHARGEOFFDATE as string,",
						"          CHARGEOFFTYPE as string,",
						"          CREDITREPORTINGCODE as string,",
						"          CREDITREPORTNUMBER as string,",
						"          BRANCH as string,",
						"          CREDITREPORTOCCURDATE as string,",
						"          CREDITREPORTLASTSTATUS as string,",
						"          CREDITREPORTCOMMENT as string,",
						"          BUMPRATE as string,",
						"          BUMPEFFECTIVEDATE as string,",
						"          BUMPEXPIRATIONDATE as string,",
						"          IRSPLAN as string,",
						"          ORIGINALDEPOSITDATE as string,",
						"          ORIGINALDEPOSIT as string,",
						"          CREDITREPORTCONSUMERINFO as string,",
						"          CREDITREPORTCOMPLIANCE as string,",
						"          ACTIVITYDATE as string,",
						"          COURTESYPAYMONTHTODATE as string,",
						"          COURTESYPAYYTD as string,",
						"          COURTESYPAYLASTYEAR as string,",
						"          OVERDRAFTTOLERANCE as string,",
						"          CDDIVACCRYTD as string,",
						"          CDDIVACCRLASTYR as string,",
						"          AMORTIZATIONSCHD as string,",
						"          AMORTIZATIONSCHDTYPE as string,",
						"          DIVIDENDRATEMARGINSIGN as string,",
						"          DIVIDENDRATEPERIODDATE as string,",
						"          DIVIDENDRATEPERIODFREQ as string,",
						"          DIVIDENDRATEMARGIN as string,",
						"          DIVIDENDRATEMAX as string,",
						"          DIVIDENDRATEMIN as string,",
						"          PERIODICCAP as string,",
						"          PERIODICSTARTRATE as string,",
						"          CALLITEMSCHD as string,",
						"          CALLITEMSCHDTYPE as string,",
						"          MEMBERUSERTRANSFERCODE as string,",
						"          CORPORATEUSERTRANSFERCODE as string,",
						"          MEMBERBRANCHSUPPORT as string,",
						"          MCDIVYTD as string,",
						"          MCDIVLASTYEAR as string,",
						"          USERCHAR1 as string,",
						"          USERCHAR2 as string,",
						"          USERCHAR3 as string,",
						"          USERCHAR4 as string,",
						"          USERAMOUNT1 as string,",
						"          USERAMOUNT2 as string,",
						"          USERDATE1 as string,",
						"          USERDATE2 as string,",
						"          PUTITEMSCHD as string,",
						"          PUTITEMSCHDTYPE as string,",
						"          LEDGERACCRUAL as string,",
						"          LEDGERACCRUALDATE as string,",
						"          CURRDIVPAYABLE as string,",
						"          CURRMONTHPAIDDIV as string,",
						"          MTDPAIDDIVS as string,",
						"          MTDACCRUEDDIVS as string,",
						"          MTDEARNEDDIVS as string,",
						"          PREMTHDIVPAID1 as string,",
						"          PREMTHDIVPAID2 as string,",
						"          PREMTHDIVPAID3 as string,",
						"          PREMTHDIVACCRUED1 as string,",
						"          PREMTHDIVACCRUED2 as string,",
						"          PREMTHDIVACCRUED3 as string,",
						"          PREMTHDIVEARNED1 as string,",
						"          PREMTHDIVEARNED2 as string,",
						"          PREMTHDIVEARNED3 as string,",
						"          PREMTHDIVEARNED4 as string,",
						"          PREMTHDIVEARNED5 as string,",
						"          PREMTHDIVEARNED6 as string,",
						"          PREMTHDIVEARNED7 as string,",
						"          PREMTHDIVEARNED8 as string,",
						"          PREMTHDIVEARNED9 as string,",
						"          PREMTHDIVEARNED10 as string,",
						"          PREMTHDIVEARNED11 as string,",
						"          PREMTHDIVEARNED12 as string,",
						"          MTDPRIORRATEACCRUAL as string,",
						"          LASTACCRUALUPDATEDATE as string,",
						"          UNPAIDFEEYTD as string,",
						"          UNPAIDFEELASTYEAR as string,",
						"          OVERDRAFTFEEYTD as string,",
						"          OVERDRAFTFEELASTYR as string,",
						"          LASTCRREPORTDATE as string,",
						"          CREDITREPORTCONSUMERINFODATE as string,",
						"          EXTACHXFRDAILYLIMITIN as string,",
						"          EXTACHXFRDAILYLIMITOUT as string,",
						"          STATEWITHHOLDINGQTD as string,",
						"          STATEWITHHOLDINGLASTQTR as string,",
						"          ANALYSISGROUPPRIMARYACCT as string,",
						"          ANALYSISGROUPPRIMARYID as string,",
						"          ANALYSISPMTACCT as string,",
						"          ANALYSISPMTSLID as string,",
						"          ANALYSISPMTIDTYPE as string,",
						"          NICKNAME as string,",
						"          RENEWSHARETYPE as string,",
						"          RENEWTERMFREQ as string,",
						"          RENEWTERMPERIOD as string,",
						"          DIVDISBUPDTACTVTYD as string,",
						"          SWEEPBALANCETYPE as string,",
						"          SWEEPTARGETMINIMUM as string,",
						"          SWEEPTARGETMAXIMUM as string,",
						"          SWEEPPRIORITY as string,",
						"          LASTDIRECTDEPDATE as string,",
						"          LASTDIRECTDEPAMT as string,",
						"          REGDCTRSTARTDAY as string,",
						"          RECORDCHANGEDATE as string,",
						"          CAPPEDFEESAMTPERIOD as string,",
						"          CAPPEDFEESAMOUNTCAP as string,",
						"          CAPPEDFEESCNTPERIOD as string,",
						"          CAPPEDFEESCOUNTCAP as string,",
						"          CREATEDBYUSER as string,",
						"          CREATEDATBRANCH as string,",
						"          ESCROWEDLOANID as string,",
						"          AUTHFEEOPTION1 as string,",
						"          AUTHFEEOPTION2 as string,",
						"          AUTHFEEOPTION3 as string,",
						"          AUTHFEEOPTION4 as string,",
						"          AUTHFEEOPTION5 as string,",
						"          ODTAUTHFEESRCCODELIST1 as string,",
						"          ODTAUTHFEESRCCODELIST2 as string,",
						"          ODTAUTHFEESRCCODELIST3 as string,",
						"          ODTAUTHFEESRCCODELIST4 as string,",
						"          FEEEXEMPTCRTSYBAL as string,",
						"          NSFFEEMTD as string,",
						"          NSFFEEYTD as string,",
						"          NSFFEELY as string,",
						"          COURTESYFEEMTD as string,",
						"          COURTESYFEEYTD as string,",
						"          COURTESYFEELY as string,",
						"          NEGATIVEBALANCEDATE as string,",
						"          CREDITREPORTORIGINALAMOUNTRPTD as string,",
						"          NEGATIVEBALANCENOTICETYPE as string,",
						"          NEGATIVEBALANCENOTICENUMBER as string,",
						"          NEGATIVEBALANCENOTICEDATE as string,",
						"          ESCROWYTD as string,",
						"          ESCROWLASTYEAR as string,",
						"          CHAPTER4WITHHOLDINGCODE as string,",
						"          CHAPTER4WITHHELDYTD as string,",
						"          CHAPTER4WITHHELDLSTYR as string,",
						"          YEARENDBALANCE as string,",
						"          IRS1042SUFID as string,",
						"          POSITIVEPAYDRAFT as string,",
						"          VERSIONID as string,",
						"          UUID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source",
						"source derive(share_id = concat(PWC_Key, ID),",
						"     partitionBy('hash', 1)) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          share_id as long,",
						"          min_balance as decimal(10,2),",
						"          open_date as date,",
						"          close_date as date,",
						"          original_balance as decimal(10,0),",
						"          available_balance as decimal(10,0),",
						"          curr_balance as decimal(10,0),",
						"          status as string,",
						"          branch as string,",
						"          account_type as string,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string,",
						"          share_type_code_id as integer,",
						"          product_id as integer,",
						"          account_id as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     mapColumn(",
						"          share_id,",
						"          account_id = PWC_Key,",
						"          min_balance = MINIMUMBALANCE,",
						"          open_date = OPENDATE,",
						"          close_date = CLOSEDATE,",
						"          share_type_code_id = TYPE,",
						"          original_balance = ORIGINALBALANCE,",
						"          available_balance = BALANCE,",
						"          product_id = TYPE",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_transaction_data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "transactiondataflow",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "transactiondataflow",
								"type": "DatasetReference"
							},
							"name": "sink",
							"description": "Export data to ",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "CombineDateTime"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PWC_Key as string,",
						"          BALSEGCOUNT as string,",
						"          COMMENTCODE as string,",
						"          TRANSFERCODE as string,",
						"          ADJUSTMENTCODE as string,",
						"          REGECODE as string,",
						"          REGDCHECKCODE as string,",
						"          REGDTRANSFERCODE as string,",
						"          VOIDCODE as string,",
						"          SUBACTIONCODE as string,",
						"          SEQUENCENUMBER as string,",
						"          EFFECTIVEDATE as string,",
						"          POSTDATE as string,",
						"          POSTTIME as string,",
						"          USERNUMBER as string,",
						"          USEROVERRIDE as string,",
						"          SECURITYLEVELS as string,",
						"          DESCRIPTION as string,",
						"          ACTIONCODE as string,",
						"          SOURCECODE as string,",
						"          BALANCECHANGE as string,",
						"          INTEREST as string,",
						"          NEWBALANCE as string,",
						"          FEEAMOUNT as string,",
						"          ESCROWAMOUNT as string,",
						"          LASTTRANDATE as string,",
						"          MATURITYLOANDUEDATE as string,",
						"          COMMENT as string,",
						"          BRANCH as string,",
						"          CONSOLENUMBER as string,",
						"          BATCHSEQUENCE as string,",
						"          SALESTAXAMOUNT as string,",
						"          ACTIVITYDATE as string,",
						"          BILLEDFEEAMOUNT as string,",
						"          PROCESSORUSER as string,",
						"          MEMBERBRANCH as string,",
						"          PREVAVAILBALANCE as string,",
						"          SUBSOURCE as string,",
						"          CONFIRMATIONSEQ as string,",
						"          MICRACCTNUM as string,",
						"          MICRRT as string,",
						"          RECURRINGTRAN as string,",
						"          FEEEXMTCRTSYAMT as string,",
						"          ESCROWUNPAIDBALCHG as string,",
						"          ESCROWAPPLIEDBALCHG as string,",
						"          UNAPPLIEDPARTIALPMTCHG as string,",
						"          FEECOUNTBY as string,",
						"          LATECHGWAIVEDAMT as string,",
						"          LATECHGUNPAIDCHGAMT as string,",
						"          PREVLATECHGDATE as string,",
						"          PREVLATECHGACCRUED as string,",
						"          LATECHGFIELDSVALID as string,",
						"          BALSEGID1 as string,",
						"          BALSEGPMTCHANGEDATE1 as string,",
						"          INTEFFECTDATE as string,",
						"          BALSEGPREVFIRSTPMTDATE1 as string,",
						"          DRAFTNUMBER as string,",
						"          TRACERNUMBER as string,",
						"          DISPOSITIONFEE as string,",
						"          TERMINATIONFEE as string,",
						"          MISCEXPENSEAMOUNT as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source",
						"source derive(transaction_date = toTimestamp(\r",
						"  concat(toString(POSTDATE, 'yyyy-MM-dd'), ' ', toString(POSTTIME, 'HH:mm')),\r",
						"  'yyyy-MM-dd HH:mm:ss.SSS'\r",
						"),",
						"          transaction_code = case(\r",
						"  toString(ACTIONCODE) == 'D', 1,\r",
						"  toString(SOURCECODE) == 'F', 3,\r",
						"  toString(ACTIONCODE) == 'W', 2\r",
						"),",
						"          Transaction_amount = toInteger(BALANCECHANGE),",
						"     partitionBy('hash', 1)) ~> CombineDateTime",
						"CombineDateTime filter(Transaction_amount != 0) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          PWC_Key as string,",
						"          BALSEGCOUNT as string,",
						"          COMMENTCODE as string,",
						"          TRANSFERCODE as string,",
						"          ADJUSTMENTCODE as string,",
						"          REGECODE as string,",
						"          REGDCHECKCODE as string,",
						"          REGDTRANSFERCODE as string,",
						"          VOIDCODE as string,",
						"          SUBACTIONCODE as string,",
						"          SEQUENCENUMBER as string,",
						"          EFFECTIVEDATE as string,",
						"          POSTDATE as string,",
						"          POSTTIME as string,",
						"          USERNUMBER as string,",
						"          USEROVERRIDE as string,",
						"          SECURITYLEVELS as string,",
						"          DESCRIPTION as string,",
						"          ACTIONCODE as string,",
						"          SOURCECODE as string,",
						"          BALANCECHANGE as string,",
						"          INTEREST as string,",
						"          NEWBALANCE as string,",
						"          FEEAMOUNT as string,",
						"          ESCROWAMOUNT as string,",
						"          LASTTRANDATE as string,",
						"          MATURITYLOANDUEDATE as string,",
						"          COMMENT as string,",
						"          BRANCH as string,",
						"          CONSOLENUMBER as string,",
						"          BATCHSEQUENCE as string,",
						"          SALESTAXAMOUNT as string,",
						"          ACTIVITYDATE as string,",
						"          BILLEDFEEAMOUNT as string,",
						"          PROCESSORUSER as string,",
						"          MEMBERBRANCH as string,",
						"          PREVAVAILBALANCE as string,",
						"          SUBSOURCE as string,",
						"          CONFIRMATIONSEQ as string,",
						"          MICRACCTNUM as string,",
						"          MICRRT as string,",
						"          RECURRINGTRAN as string,",
						"          FEEEXMTCRTSYAMT as string,",
						"          ESCROWUNPAIDBALCHG as string,",
						"          ESCROWAPPLIEDBALCHG as string,",
						"          UNAPPLIEDPARTIALPMTCHG as string,",
						"          FEECOUNTBY as string,",
						"          LATECHGWAIVEDAMT as string,",
						"          LATECHGUNPAIDCHGAMT as string,",
						"          PREVLATECHGDATE as string,",
						"          PREVLATECHGACCRUED as string,",
						"          LATECHGFIELDSVALID as string,",
						"          BALSEGID1 as string,",
						"          BALSEGPMTCHANGEDATE1 as string,",
						"          INTEFFECTDATE as string,",
						"          BALSEGPREVFIRSTPMTDATE1 as string,",
						"          DRAFTNUMBER as string,",
						"          TRACERNUMBER as string,",
						"          DISPOSITIONFEE as string,",
						"          TERMINATIONFEE as string,",
						"          MISCEXPENSEAMOUNT as string",
						"     ),",
						"     partitionFileNames:['transaction.csv'],",
						"     partitionBy('hash', 1)) ~> sink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformation_Member_account')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "member_accountcsv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "member_account",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PWC_Key as string,",
						"          TYPE as string,",
						"          LASTFMDATE as string,",
						"          OPENDATE as string,",
						"          CLOSEDATE as string,",
						"          BRANCH as string,",
						"          RESTRICTACCESS as string,",
						"          REFERENCE as string,",
						"          WARNINGCODE1 as string,",
						"          WARNINGCODE2 as string,",
						"          WARNINGCODE3 as string,",
						"          WARNINGCODE4 as string,",
						"          WARNINGCODE5 as string,",
						"          WARNINGCODE6 as string,",
						"          WARNINGCODE7 as string,",
						"          WARNINGCODE8 as string,",
						"          WARNINGCODE9 as string,",
						"          WARNINGCODE10 as string,",
						"          WARNINGCODE11 as string,",
						"          WARNINGCODE12 as string,",
						"          WARNINGCODE13 as string,",
						"          WARNINGCODE14 as string,",
						"          WARNINGCODE15 as string,",
						"          WARNINGCODE16 as string,",
						"          WARNINGCODE17 as string,",
						"          WARNINGCODE18 as string,",
						"          WARNINGCODE19 as string,",
						"          WARNINGCODE20 as string,",
						"          PAYMENTHISTORY1 as string,",
						"          PAYMENTHISTORY2 as string,",
						"          PAYMENTHISTORY3 as string,",
						"          PAYMENTHISTORY4 as string,",
						"          PAYMENTHISTORY5 as string,",
						"          PAYMENTHISTORY6 as string,",
						"          MEMBERSTATUS as string,",
						"          CORRESPONDDATE as string,",
						"          PROXYDATE as string,",
						"          HEADOFHOUSEHOLD as string,",
						"          WARNINGEXPIRATION1 as string,",
						"          WARNINGEXPIRATION2 as string,",
						"          WARNINGEXPIRATION3 as string,",
						"          WARNINGEXPIRATION4 as string,",
						"          WARNINGEXPIRATION5 as string,",
						"          WARNINGEXPIRATION6 as string,",
						"          WARNINGEXPIRATION7 as string,",
						"          WARNINGEXPIRATION8 as string,",
						"          WARNINGEXPIRATION9 as string,",
						"          WARNINGEXPIRATION10 as string,",
						"          WARNINGEXPIRATION11 as string,",
						"          WARNINGEXPIRATION12 as string,",
						"          WARNINGEXPIRATION13 as string,",
						"          WARNINGEXPIRATION14 as string,",
						"          WARNINGEXPIRATION15 as string,",
						"          WARNINGEXPIRATION16 as string,",
						"          WARNINGEXPIRATION17 as string,",
						"          WARNINGEXPIRATION18 as string,",
						"          WARNINGEXPIRATION19 as string,",
						"          WARNINGEXPIRATION20 as string,",
						"          NSFMONTHLYCOUNT1 as string,",
						"          NSFMONTHLYCOUNT2 as string,",
						"          NSFMONTHLYCOUNT3 as string,",
						"          NSFMONTHLYCOUNT4 as string,",
						"          NSFMONTHLYCOUNT5 as string,",
						"          NSFMONTHLYCOUNT6 as string,",
						"          NSFMONTHLYCOUNT7 as string,",
						"          NSFMONTHLYCOUNT8 as string,",
						"          NSFMONTHLYCOUNT9 as string,",
						"          NSFMONTHLYCOUNT10 as string,",
						"          NSFMONTHLYCOUNT11 as string,",
						"          NSFMONTHLYCOUNT12 as string,",
						"          NSFMONTHLYCOUNT13 as string,",
						"          NSFMONTHLYCOUNT14 as string,",
						"          NSFMONTHLYCOUNT15 as string,",
						"          NSFMONTHLYCOUNT16 as string,",
						"          NSFMONTHLYCOUNT17 as string,",
						"          NSFMONTHLYCOUNT18 as string,",
						"          NSFMONTHLYCOUNT19 as string,",
						"          NSFMONTHLYCOUNT20 as string,",
						"          NSFMONTHLYCOUNT21 as string,",
						"          NSFMONTHLYCOUNT22 as string,",
						"          NSFMONTHLYCOUNT23 as string,",
						"          NSFMONTHLYCOUNT24 as string,",
						"          NSFTODAY as string,",
						"          MEMBERGROUP as string,",
						"          COMMERCIALCODE as string,",
						"          FMLASTPURGEDATE as string,",
						"          STATEREPORTING as string,",
						"          HOUSEHOLDACCOUNT as string,",
						"          HOUSEHOLDSTATEMENT as string,",
						"          FROZENMODE as string,",
						"          INVALIDATTEMPTCOUNT as string,",
						"          INVALIDATTEMPTDATE as string,",
						"          INVALIDATTEMPTTIME as string,",
						"          STATEMENTMAILCODE as string,",
						"          RELATIONSHIPCODE as string,",
						"          RELATIONSHIPOVERRIDE as string,",
						"          RELATIONSHIPOVERRIDEEFFDATE as string,",
						"          RELATIONSHIPOVERRIDEEXPDATE as string,",
						"          KRHOLDBASEAMOUNT as string,",
						"          KRTOTALAMOUNT as string,",
						"          KRTOTALDATE as string,",
						"          ESTMTNOTIFY as string,",
						"          ESTMTENABLE as string,",
						"          CRTOTALAMOUNT as string,",
						"          CDTOTALAMOUNT as string,",
						"          FRCRTOTALAMOUNT as string,",
						"          FRCDTOTALAMOUNT as string,",
						"          USERCHAR1 as string,",
						"          USERCHAR2 as string,",
						"          USERCHAR3 as string,",
						"          USERCHAR4 as string,",
						"          USERAMOUNT1 as string,",
						"          USERAMOUNT2 as string,",
						"          USERDATE1 as string,",
						"          USERDATE2 as string,",
						"          ENABLEFLOAT as string,",
						"          FRCRUNITS as string,",
						"          FRCDUNITS as string,",
						"          PRGDRECACTIVITYDT as string,",
						"          RECORDCHANGEDATE as string,",
						"          CAPPEDFEESCOUNTCAP as string,",
						"          CAPPEDFEESAMOUNTCAP as string,",
						"          CREATEDBYUSER as string,",
						"          CREATEDATBRANCH as string,",
						"          WRTOTALAMOUNT as string,",
						"          WDTOTALAMOUNT as string,",
						"          NONREGCCCHECKHOLDBASEAMT as string,",
						"          NONREGCCCHECKTOTALAMT as string,",
						"          LIMITUSAGEDATE as string,",
						"          COUNTLIMIT1 as string,",
						"          COUNTLIMIT2 as string,",
						"          COUNTLIMIT3 as string,",
						"          COUNTLIMIT4 as string,",
						"          COUNTLIMIT5 as string,",
						"          COUNTLIMIT6 as string,",
						"          LIMITCOUNT1 as string,",
						"          LIMITCOUNT2 as string,",
						"          LIMITCOUNT3 as string,",
						"          LIMITCOUNT4 as string,",
						"          LIMITCOUNT5 as string,",
						"          LIMITCOUNT6 as string,",
						"          LIMIT1 as string,",
						"          LIMIT2 as string,",
						"          LIMIT3 as string,",
						"          LIMIT4 as string,",
						"          LIMIT5 as string,",
						"          LIMIT6 as string,",
						"          LIMITAMOUNT1 as string,",
						"          LIMITAMOUNT2 as string,",
						"          LIMITAMOUNT3 as string,",
						"          LIMITAMOUNT4 as string,",
						"          LIMITAMOUNT5 as string,",
						"          LIMITAMOUNT6 as string,",
						"          PERITEMLIMIT1 as string,",
						"          PERITEMLIMIT2 as string,",
						"          PERITEMLIMIT3 as string,",
						"          PERITEMLIMIT4 as string,",
						"          PERITEMLIMIT5 as string,",
						"          PERITEMLIMIT6 as string,",
						"          VERSIONID as string,",
						"          UUID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source1",
						"source1 derive(product_id = iifNull(TYPE,'p')) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          account_id as integer,",
						"          min_balance as decimal(10,2),",
						"          open_date as date,",
						"          close_date as date,",
						"          branch as string,",
						"          status as string,",
						"          household_account_number as string,",
						"          member_group_name as string,",
						"          product_id as integer,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string,",
						"          account_type_id as integer,",
						"          anonymized_member_id as long",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     mapColumn(",
						"          account_id = PWC_Key,",
						"          open_date = OPENDATE,",
						"          close_date = CLOSEDATE,",
						"          account_type_id = TYPE,",
						"          branch = BRANCH,",
						"          product_id",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformation_share_account')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Share_accountcsv",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Share_account",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PWC_Key as string,",
						"          ID as string,",
						"          CHECKDIGITS as string,",
						"          TYPE as string,",
						"          LASTFMDATE as string,",
						"          LASTTRANDATE as string,",
						"          OPENDATE as string,",
						"          CLOSEDATE as string,",
						"          REFERENCE as string,",
						"          WARNINGCODE1 as string,",
						"          WARNINGCODE2 as string,",
						"          WARNINGCODE3 as string,",
						"          WARNINGCODE4 as string,",
						"          WARNINGCODE5 as string,",
						"          WARNINGCODE6 as string,",
						"          WARNINGCODE7 as string,",
						"          WARNINGCODE8 as string,",
						"          WARNINGCODE9 as string,",
						"          WARNINGCODE10 as string,",
						"          WARNINGCODE11 as string,",
						"          WARNINGCODE12 as string,",
						"          WARNINGCODE13 as string,",
						"          WARNINGCODE14 as string,",
						"          WARNINGCODE15 as string,",
						"          WARNINGCODE16 as string,",
						"          WARNINGCODE17 as string,",
						"          WARNINGCODE18 as string,",
						"          WARNINGCODE19 as string,",
						"          WARNINGCODE20 as string,",
						"          SERVICE1 as string,",
						"          SERVICE2 as string,",
						"          SERVICE3 as string,",
						"          SERVICE4 as string,",
						"          SERVICE5 as string,",
						"          SERVICE6 as string,",
						"          SERVICE7 as string,",
						"          SERVICE8 as string,",
						"          SHARECODE as string,",
						"          IRSCODE as string,",
						"          DIVPOSTCODE as string,",
						"          LASTDIVDATE as string,",
						"          LASTDIVAMOUNT as string,",
						"          DIVYTD as string,",
						"          DIVLASTYEAR as string,",
						"          DIVFROMOPEN as string,",
						"          DIVTYPE as string,",
						"          DIVRATE as string,",
						"          DIVACCRUALDATE as string,",
						"          DIVACCRUAL as string,",
						"          WITHHOLDINGCODE as string,",
						"          WITHHOLDINGYTD as string,",
						"          WITHHOLDINGLASTYEAR as string,",
						"          PENALTYTYPE as string,",
						"          PENALTYYTD as string,",
						"          PENALTYLASTYEAR as string,",
						"          BALANCE as string,",
						"          ORIGINALBALANCE as string,",
						"          MINIMUMBALANCE as string,",
						"          INSURANCETYPE as string,",
						"          INSURANCEMAXIMUM as string,",
						"          INSURANCEBALANCEAGE1 as string,",
						"          INSURANCEBALANCEAGE2 as string,",
						"          INSURANCEBALANCEAGE3 as string,",
						"          INSURANCEBALANCEAGE4 as string,",
						"          MINIMUMDEPOSIT as string,",
						"          MINIMUMWITHDRAWAL as string,",
						"          WITHDRAWALLIMIT as string,",
						"          WITHDRAWALCOUNT as string,",
						"          WITHDRAWNFROMOPEN as string,",
						"          WITHDRAWALFEETYPE as string,",
						"          WITHDRAWALFEECOUNT as string,",
						"          LASTPURGEDATE as string,",
						"          STATEMENTGROUP as string,",
						"          STATEMENTDATE as string,",
						"          STATEMENTMAILCODE as string,",
						"          REGECOUNT as string,",
						"          REGDCHECKCOUNT as string,",
						"          REGDTRANSFERCOUNT as string,",
						"          MATURITYPOSTCODE as string,",
						"          MATURITYDATE as string,",
						"          TERMFREQUENCY as string,",
						"          TERMPERIOD as string,",
						"          CERTIFICATENUMBER as string,",
						"          DESCRIPTION as string,",
						"          LOANPAYMENTHOLD as string,",
						"          STATEMENTPREVDATE as string,",
						"          BONDINTYTD as string,",
						"          BONDINTLASTYEAR as string,",
						"          NSFMONTHTODATE as string,",
						"          NSFYTD as string,",
						"          NSFLASTYEAR as string,",
						"          XFRMONTHTODATE as string,",
						"          XFRYTD as string,",
						"          XFRLASTYEAR as string,",
						"          WARNINGEXPIRATION1 as string,",
						"          WARNINGEXPIRATION2 as string,",
						"          WARNINGEXPIRATION3 as string,",
						"          WARNINGEXPIRATION4 as string,",
						"          WARNINGEXPIRATION5 as string,",
						"          WARNINGEXPIRATION6 as string,",
						"          WARNINGEXPIRATION7 as string,",
						"          WARNINGEXPIRATION8 as string,",
						"          WARNINGEXPIRATION9 as string,",
						"          WARNINGEXPIRATION10 as string,",
						"          WARNINGEXPIRATION11 as string,",
						"          WARNINGEXPIRATION12 as string,",
						"          WARNINGEXPIRATION13 as string,",
						"          WARNINGEXPIRATION14 as string,",
						"          WARNINGEXPIRATION15 as string,",
						"          WARNINGEXPIRATION16 as string,",
						"          WARNINGEXPIRATION17 as string,",
						"          WARNINGEXPIRATION18 as string,",
						"          WARNINGEXPIRATION19 as string,",
						"          WARNINGEXPIRATION20 as string,",
						"          FEECOUNT1 as string,",
						"          FEECOUNT2 as string,",
						"          FEECOUNT3 as string,",
						"          FEECOUNT4 as string,",
						"          STATEWITHHOLDINGCODE as string,",
						"          STATEWITHHOLDINGYTD as string,",
						"          STATEWITHHOLDINGLASTYEAR as string,",
						"          CUTOTALSUSECODE as string,",
						"          DIVPERIODSTART as string,",
						"          DIVPERIODBALDAYS as string,",
						"          CHARGEOFFAMOUNT as string,",
						"          CHARGEOFFDATE as string,",
						"          CHARGEOFFTYPE as string,",
						"          CREDITREPORTINGCODE as string,",
						"          CREDITREPORTNUMBER as string,",
						"          BRANCH as string,",
						"          CREDITREPORTOCCURDATE as string,",
						"          CREDITREPORTLASTSTATUS as string,",
						"          CREDITREPORTCOMMENT as string,",
						"          BUMPRATE as string,",
						"          BUMPEFFECTIVEDATE as string,",
						"          BUMPEXPIRATIONDATE as string,",
						"          IRSPLAN as string,",
						"          ORIGINALDEPOSITDATE as string,",
						"          ORIGINALDEPOSIT as string,",
						"          CREDITREPORTCONSUMERINFO as string,",
						"          CREDITREPORTCOMPLIANCE as string,",
						"          ACTIVITYDATE as string,",
						"          COURTESYPAYMONTHTODATE as string,",
						"          COURTESYPAYYTD as string,",
						"          COURTESYPAYLASTYEAR as string,",
						"          OVERDRAFTTOLERANCE as string,",
						"          CDDIVACCRYTD as string,",
						"          CDDIVACCRLASTYR as string,",
						"          AMORTIZATIONSCHD as string,",
						"          AMORTIZATIONSCHDTYPE as string,",
						"          DIVIDENDRATEMARGINSIGN as string,",
						"          DIVIDENDRATEPERIODDATE as string,",
						"          DIVIDENDRATEPERIODFREQ as string,",
						"          DIVIDENDRATEMARGIN as string,",
						"          DIVIDENDRATEMAX as string,",
						"          DIVIDENDRATEMIN as string,",
						"          PERIODICCAP as string,",
						"          PERIODICSTARTRATE as string,",
						"          CALLITEMSCHD as string,",
						"          CALLITEMSCHDTYPE as string,",
						"          MEMBERUSERTRANSFERCODE as string,",
						"          CORPORATEUSERTRANSFERCODE as string,",
						"          MEMBERBRANCHSUPPORT as string,",
						"          MCDIVYTD as string,",
						"          MCDIVLASTYEAR as string,",
						"          USERCHAR1 as string,",
						"          USERCHAR2 as string,",
						"          USERCHAR3 as string,",
						"          USERCHAR4 as string,",
						"          USERAMOUNT1 as string,",
						"          USERAMOUNT2 as string,",
						"          USERDATE1 as string,",
						"          USERDATE2 as string,",
						"          PUTITEMSCHD as string,",
						"          PUTITEMSCHDTYPE as string,",
						"          LEDGERACCRUAL as string,",
						"          LEDGERACCRUALDATE as string,",
						"          CURRDIVPAYABLE as string,",
						"          CURRMONTHPAIDDIV as string,",
						"          MTDPAIDDIVS as string,",
						"          MTDACCRUEDDIVS as string,",
						"          MTDEARNEDDIVS as string,",
						"          PREMTHDIVPAID1 as string,",
						"          PREMTHDIVPAID2 as string,",
						"          PREMTHDIVPAID3 as string,",
						"          PREMTHDIVACCRUED1 as string,",
						"          PREMTHDIVACCRUED2 as string,",
						"          PREMTHDIVACCRUED3 as string,",
						"          PREMTHDIVEARNED1 as string,",
						"          PREMTHDIVEARNED2 as string,",
						"          PREMTHDIVEARNED3 as string,",
						"          PREMTHDIVEARNED4 as string,",
						"          PREMTHDIVEARNED5 as string,",
						"          PREMTHDIVEARNED6 as string,",
						"          PREMTHDIVEARNED7 as string,",
						"          PREMTHDIVEARNED8 as string,",
						"          PREMTHDIVEARNED9 as string,",
						"          PREMTHDIVEARNED10 as string,",
						"          PREMTHDIVEARNED11 as string,",
						"          PREMTHDIVEARNED12 as string,",
						"          MTDPRIORRATEACCRUAL as string,",
						"          LASTACCRUALUPDATEDATE as string,",
						"          UNPAIDFEEYTD as string,",
						"          UNPAIDFEELASTYEAR as string,",
						"          OVERDRAFTFEEYTD as string,",
						"          OVERDRAFTFEELASTYR as string,",
						"          LASTCRREPORTDATE as string,",
						"          CREDITREPORTCONSUMERINFODATE as string,",
						"          EXTACHXFRDAILYLIMITIN as string,",
						"          EXTACHXFRDAILYLIMITOUT as string,",
						"          STATEWITHHOLDINGQTD as string,",
						"          STATEWITHHOLDINGLASTQTR as string,",
						"          ANALYSISGROUPPRIMARYACCT as string,",
						"          ANALYSISGROUPPRIMARYID as string,",
						"          ANALYSISPMTACCT as string,",
						"          ANALYSISPMTSLID as string,",
						"          ANALYSISPMTIDTYPE as string,",
						"          NICKNAME as string,",
						"          RENEWSHARETYPE as string,",
						"          RENEWTERMFREQ as string,",
						"          RENEWTERMPERIOD as string,",
						"          DIVDISBUPDTACTVTYD as string,",
						"          SWEEPBALANCETYPE as string,",
						"          SWEEPTARGETMINIMUM as string,",
						"          SWEEPTARGETMAXIMUM as string,",
						"          SWEEPPRIORITY as string,",
						"          LASTDIRECTDEPDATE as string,",
						"          LASTDIRECTDEPAMT as string,",
						"          REGDCTRSTARTDAY as string,",
						"          RECORDCHANGEDATE as string,",
						"          CAPPEDFEESAMTPERIOD as string,",
						"          CAPPEDFEESAMOUNTCAP as string,",
						"          CAPPEDFEESCNTPERIOD as string,",
						"          CAPPEDFEESCOUNTCAP as string,",
						"          CREATEDBYUSER as string,",
						"          CREATEDATBRANCH as string,",
						"          ESCROWEDLOANID as string,",
						"          AUTHFEEOPTION1 as string,",
						"          AUTHFEEOPTION2 as string,",
						"          AUTHFEEOPTION3 as string,",
						"          AUTHFEEOPTION4 as string,",
						"          AUTHFEEOPTION5 as string,",
						"          ODTAUTHFEESRCCODELIST1 as string,",
						"          ODTAUTHFEESRCCODELIST2 as string,",
						"          ODTAUTHFEESRCCODELIST3 as string,",
						"          ODTAUTHFEESRCCODELIST4 as string,",
						"          FEEEXEMPTCRTSYBAL as string,",
						"          NSFFEEMTD as string,",
						"          NSFFEEYTD as string,",
						"          NSFFEELY as string,",
						"          COURTESYFEEMTD as string,",
						"          COURTESYFEEYTD as string,",
						"          COURTESYFEELY as string,",
						"          NEGATIVEBALANCEDATE as string,",
						"          CREDITREPORTORIGINALAMOUNTRPTD as string,",
						"          NEGATIVEBALANCENOTICETYPE as string,",
						"          NEGATIVEBALANCENOTICENUMBER as string,",
						"          NEGATIVEBALANCENOTICEDATE as string,",
						"          ESCROWYTD as string,",
						"          ESCROWLASTYEAR as string,",
						"          CHAPTER4WITHHOLDINGCODE as string,",
						"          CHAPTER4WITHHELDYTD as string,",
						"          CHAPTER4WITHHELDLSTYR as string,",
						"          YEARENDBALANCE as string,",
						"          IRS1042SUFID as string,",
						"          POSITIVEPAYDRAFT as string,",
						"          VERSIONID as string,",
						"          UUID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source",
						"source derive(share_id = concat(PWC_Key, ID),",
						"     partitionBy('hash', 1)) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          share_id as long,",
						"          min_balance as decimal(10,2),",
						"          open_date as date,",
						"          close_date as date,",
						"          original_balance as decimal(10,0),",
						"          available_balance as decimal(10,0),",
						"          curr_balance as decimal(10,0),",
						"          status as string,",
						"          branch as string,",
						"          account_type as string,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string,",
						"          share_type_code_id as integer,",
						"          product_id as integer,",
						"          account_id as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     mapColumn(",
						"          share_id,",
						"          account_id = PWC_Key,",
						"          min_balance = MINIMUMBALANCE,",
						"          open_date = OPENDATE,",
						"          close_date = CLOSEDATE,",
						"          share_type_code_id = TYPE,",
						"          original_balance = ORIGINALBALANCE,",
						"          available_balance = BALANCE,",
						"          product_id = TYPE",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformation_transaction_data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "trans",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sample_output",
								"type": "DatasetReference"
							},
							"name": "sink",
							"description": "Export data to ",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "CombineDateTime"
						},
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TranId as string,",
						"          PARENTID as string,",
						"          SEQUENCENUMBER as string,",
						"          EFFECTIVEDATE as string,",
						"          POSTDATE as string,",
						"          POSTTIME as string,",
						"          DESCRIPTION as string,",
						"          ACTIONCODE as string,",
						"          SOURCECODE as string,",
						"          BALANCECHANGE as float,",
						"          INTEREST as string,",
						"          NEWBALANCE as string,",
						"          FEEAMOUNT as string,",
						"          COMMENT as string,",
						"          BRANCH as string,",
						"          PWC_key as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source",
						"source derive(transaction_code = case(\r",
						"  (BALANCECHANGE < 0 && toString(ACTIONCODE) == 'D'), 2, \r",
						"  toString(ACTIONCODE) == 'D', 1,\r",
						"  (BALANCECHANGE > 0 && toString(SOURCECODE) == 'F'), 3,\r",
						"  toString(SOURCECODE) == 'F', 3,\r",
						"  (BALANCECHANGE > 0 && toString(ACTIONCODE) == 'W'), 1,\r",
						"   toString(ACTIONCODE) == 'W', 2\r",
						"),",
						"          SHARE_ID = concat(PWC_key,PARENTID),",
						"     partitionBy('hash', 1)) ~> CombineDateTime",
						"CombineDateTime filter(BALANCECHANGE != 0) ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          PWC_Key as string,",
						"          BALSEGCOUNT as string,",
						"          COMMENTCODE as string,",
						"          TRANSFERCODE as string,",
						"          ADJUSTMENTCODE as string,",
						"          REGECODE as string,",
						"          REGDCHECKCODE as string,",
						"          REGDTRANSFERCODE as string,",
						"          VOIDCODE as string,",
						"          SUBACTIONCODE as string,",
						"          SEQUENCENUMBER as string,",
						"          EFFECTIVEDATE as string,",
						"          POSTDATE as string,",
						"          POSTTIME as string,",
						"          USERNUMBER as string,",
						"          USEROVERRIDE as string,",
						"          SECURITYLEVELS as string,",
						"          DESCRIPTION as string,",
						"          ACTIONCODE as string,",
						"          SOURCECODE as string,",
						"          BALANCECHANGE as string,",
						"          INTEREST as string,",
						"          NEWBALANCE as string,",
						"          FEEAMOUNT as string,",
						"          ESCROWAMOUNT as string,",
						"          LASTTRANDATE as string,",
						"          MATURITYLOANDUEDATE as string,",
						"          COMMENT as string,",
						"          BRANCH as string,",
						"          CONSOLENUMBER as string,",
						"          BATCHSEQUENCE as string,",
						"          SALESTAXAMOUNT as string,",
						"          ACTIVITYDATE as string,",
						"          BILLEDFEEAMOUNT as string,",
						"          PROCESSORUSER as string,",
						"          MEMBERBRANCH as string,",
						"          PREVAVAILBALANCE as string,",
						"          SUBSOURCE as string,",
						"          CONFIRMATIONSEQ as string,",
						"          MICRACCTNUM as string,",
						"          MICRRT as string,",
						"          RECURRINGTRAN as string,",
						"          FEEEXMTCRTSYAMT as string,",
						"          ESCROWUNPAIDBALCHG as string,",
						"          ESCROWAPPLIEDBALCHG as string,",
						"          UNAPPLIEDPARTIALPMTCHG as string,",
						"          FEECOUNTBY as string,",
						"          LATECHGWAIVEDAMT as string,",
						"          LATECHGUNPAIDCHGAMT as string,",
						"          PREVLATECHGDATE as string,",
						"          PREVLATECHGACCRUED as string,",
						"          LATECHGFIELDSVALID as string,",
						"          BALSEGID1 as string,",
						"          BALSEGPMTCHANGEDATE1 as string,",
						"          INTEFFECTDATE as string,",
						"          BALSEGPREVFIRSTPMTDATE1 as string,",
						"          DRAFTNUMBER as string,",
						"          TRACERNUMBER as string,",
						"          DISPOSITIONFEE as string,",
						"          TERMINATIONFEE as string,",
						"          MISCEXPENSEAMOUNT as string",
						"     ),",
						"     partitionFileNames:['transaction.csv'],",
						"     partitionBy('hash', 1)) ~> sink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/comments_transaction')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Trans_comments",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "comments_sink",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TranId as string,",
						"          CommentID as string,",
						"          PARENTID as integer,",
						"          SEQUENCENUMBER as string,",
						"          EFFECTIVEDATE as string,",
						"          POSTDATE as date,",
						"          POSTTIME as string,",
						"          Comment as string,",
						"          PWC_Key as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(comment_id = concat(TranId, CommentID),",
						"          time = lpad(toString(POSTTIME), 4, '0')) ~> derivedColumn1",
						"derivedColumn1 derive(post_date = concat(\r",
						"  toString(POSTDATE, 'yyyy-MM-dd'), \r",
						"  ' ', \r",
						"  substring(lpad(toString(time), 4, '0'), 0, 2), \r",
						"  ':', \r",
						"  substring(lpad(toString(time), 4, '0'), 2, 2)\r",
						"),",
						"     partitionBy('hash', 1)) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          comment_id as long,",
						"          post_date as timestamp,",
						"          comment_value as string,",
						"          created_date as timestamp,",
						"          created_by as string,",
						"          updated_date as timestamp,",
						"          updated_by as string,",
						"          transaction_id as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          comment_id,",
						"          post_date,",
						"          comment_value = Comment,",
						"          transaction_id = TranId",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/member_stories')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "member_stories",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "member_stories_sink",
								"type": "DatasetReference"
							},
							"name": "sink",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "derivedColumn2"
						},
						{
							"name": "flatten1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "derivedColumn3"
						},
						{
							"name": "surrogateKey1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Comments as string,",
						"          DetailEntryValue as string,",
						"          Value as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source",
						"source derive(fsh_name = substring(\r",
						"    Comments,\r",
						"    locate('Added by: ', Comments) + length('Added by: '),\r",
						"    locate(' - ', Comments) - (locate('Added by: ', Comments) + length('Added by: '))\r",
						"),",
						"          id = substring(\r",
						"    Comments,\r",
						"    locate(' - ', Comments) + length(' - '),\r",
						"    locate(' -- ', Comments) - (locate(' - ', Comments) + length(' - '))\r",
						"),",
						"          branch_id = substring(\r",
						"    Comments,\r",
						"    locate(' -- ', Comments) + length(' -- '),\r",
						"    locate(' On: ', Comments) - (locate(' -- ', Comments) + length(' -- '))\r",
						"),",
						"          story_date = substring(\r",
						"    Comments,\r",
						"    locate('On: ', Comments) + length('On: '),\r",
						"    locate('***', Comments, locate('***', Comments) + 1) - (locate('On: ', Comments) + length('On: '))\r",
						"),",
						"          comments_array = split(Comments, '***')) ~> derivedColumn2",
						"derivedColumn2 foldDown(unroll(comments_array),",
						"     mapColumn(",
						"          Comments,",
						"          DetailEntryValue,",
						"          Value,",
						"          fsh_name,",
						"          id,",
						"          branch_id,",
						"          story_date,",
						"          comments_array",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> flatten1",
						"derivedColumn3 filter(length(replace(toString(comments_array), ' ', '')) > 0",
						"&& !startsWith(toString(comments_array), 'Added by:')) ~> filter1",
						"flatten1 derive(story_id = id,",
						"          story_reason = comments_array,",
						"          story_date = toString(toTimestamp(story_date, 'MM/dd/yyyy hh:mm:ss a'), 'yyyy-MM-dd HH:mm:ss.SSS')) ~> derivedColumn3",
						"filter1 keyGenerate(output(story_id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey1",
						"surrogateKey1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          story_id as long,",
						"          story_date as timestamp,",
						"          story_reason as string,",
						"          story_details as string,",
						"          fhs_name as string,",
						"          fhs_id as string,",
						"          branch_id as string,",
						"          account_id as integer,",
						"          story_source_type_code_id as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     saveOrder: 1,",
						"     mapColumn(",
						"          story_id,",
						"          story_date,",
						"          story_details = Value,",
						"          fhs_name = fsh_name,",
						"          fhs_id = id,",
						"          branch_id,",
						"          story_reason",
						"     )) ~> sink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/member_details')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "member_details_csv",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "member_details_sink",
								"type": "DatasetReference"
							},
							"name": "sink",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          add_date as string,",
						"          PWC_Key as integer,",
						"          ORDINAL as string,",
						"          TYPE as string,",
						"          SUBTYPE as string,",
						"          MAILOVERRIDE as string,",
						"          SSNOVERRIDE as string,",
						"          SSNCERTIFICATION as string,",
						"          SSNTYPE as string,",
						"          EFFECTIVEDATE as string,",
						"          EXPIRATIONDATE as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          SUFFIX as string,",
						"          EXTRAADDRESS as string,",
						"          STREET as string,",
						"          CITY as string,",
						"          STATE as string,",
						"          ZIPCODE as string,",
						"          LASTFMDATE as string,",
						"          CARRIERROUTE as string,",
						"          ADDRESSTYPE as string,",
						"          DEATHDATE as string,",
						"          ECOACODE as string,",
						"          COUNTRY as string,",
						"          COUNTRYCODE as string,",
						"          RECORDCHANGEDATE as string,",
						"          MBRSTATUS as string,",
						"          MBRSTATUSFMDATE as string,",
						"          MBRCREATEDATE as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source",
						"source derive(name = replace(FirstName, char(0), ''),",
						"          {e-mail} = LastName,",
						"          state = substring(rtrim(STATE), 1, 2)) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          member_id as integer,",
						"          name as string,",
						"          last_name as string,",
						"          date_of_birth as date,",
						"          ssn as string,",
						"          address as string,",
						"          city as string,",
						"          state as string,",
						"          zip_code as string,",
						"          phone as string,",
						"          email as string,",
						"          branch as string,",
						"          status as string,",
						"          start_date as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          member_id = PWC_Key,",
						"          name,",
						"          last_name = LastName,",
						"          address = STREET,",
						"          city = CITY,",
						"          state = derivedColumn1@state,",
						"          zip_code = ZIPCODE,",
						"          start_date = MBRCREATEDATE,",
						"          email = {e-mail}",
						"     )) ~> sink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_MEMBERACCOUNT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "member_account_data",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Member_account",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-08T19:05:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Member_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SHAREACCOUNT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_SHARE_ACCOUNT",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_share_account",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-08T19:05:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_share_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_TRANSACTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Asondate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_transaction_data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 32,
								"computeType": "MemoryOptimized"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "CopyDataActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Dataflow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "transaction.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "update fss1.watermark_table\nSET date = CAST('@{variables('currentDateTime')}' AS TIMESTAMP),\n    lines_copied = @{variables('rowsCopied')}\nWHERE \"source_table\" = 'ch_transaction_1';",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "transaction_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_date",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									},
									{
										"source": {
											"name": "Transaction_amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_amount",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SOURCECODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payment_method",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "transaction_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_type_code_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "PWC_Key",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "share_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "NEWBALANCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "balance",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "incomingfilesfolder",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "transaction",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Asondate",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "currentDateTime",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "rowsCopied",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CopyDataActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "rowsCopied",
							"value": {
								"value": "@activity('CopyDataActivity').output.rowscopied",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"currentDateTime": {
						"type": "String"
					},
					"rowsCopied": {
						"type": "Integer"
					},
					"lastmodifiedreftime": {
						"type": "String"
					},
					"latestfile": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-08T19:05:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_transaction_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MEMBERACCOUNT_DATA_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "member_account_data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Start_time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Transformation_Member_account",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "pipelinerunstatus",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "End_time",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzurePostgreSql1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": {
										"value": "insert into fss.pipelinerunstatus\n(pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time,status,error_message)\nvalues (\n  '@{pipeline().Pipeline}',\n  '@{pipeline().RunId}',\n  '@{formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss')}',\n  '@{pipeline().TriggerType}',\n  '@{variables('End_time')}',\n  '@{variables('Start_time')}',\n  '@{variables('status')}',\n  '@{variables('error_message')}'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Start_time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Start_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "End_time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "member_account_data",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "End_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"End_time": {
						"type": "String"
					},
					"Start_time": {
						"type": "String"
					},
					"status": {
						"type": "String"
					},
					"error_message": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-19T21:46:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Transformation_Member_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHAREACCOUNT_DATA_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_SHARE_ACCOUNT",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Transformation_share_account",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-19T21:46:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Transformation_share_account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRANSACTION_DATA_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transaction_data_flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Transformation_transaction_data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 32,
								"computeType": "MemoryOptimized"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "copy_transaction_csv",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "transaction_data_flow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "transaction.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TranId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "BALANCECHANGE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_amount",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "NEWBALANCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "balance",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SOURCECODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payment_method",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ACTIONCODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_type_code_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "PWC_key",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "share_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "1_transaction_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "transaction",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-19T21:46:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Transformation_transaction_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/comments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "comments",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "comments_transaction",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-19T21:46:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/comments_transaction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/member_stories')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "member_stories",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Start_time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "member_stories",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Start_time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Start_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "End_time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "member_stories",
								"dependencyConditions": [
									"Failed",
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "End_time",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pipelinerunstatus",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "End_time",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "member_stories",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzurePostgreSql1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "insert into fss.pipelinerunstatus\n(pl_name, pl_runid, pl_triggertime, pl_triggertype, End_time, Start_time,status,error_message)\nvalues (\n  '@{pipeline().Pipeline}',\n  '@{pipeline().RunId}',\n  '@{formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss')}',\n  '@{pipeline().TriggerType}',\n  '@{variables('End_time')}',\n  '@{variables('Start_time')}',\n  '@{activity('member_stories').status}',\n  '@{if(equals(activity('member_stories').status, 'Failed'), activity('member_stories').error.message, null)}'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Start_time": {
						"type": "String"
					},
					"End_time": {
						"type": "String"
					},
					"Status": {
						"type": "String"
					},
					"Error_message": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-19T21:46:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/member_stories')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Member_details')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "member_details",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/member_details')]"
			]
		}
	]
}