credithumandf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "credithumandf"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzurePostgreSql1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzurePostgreSql1'"
		},
		"PostgreSql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'PostgreSql'"
		},
		"AzurePostgreSql1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "credithumandb.postgres.database.azure.com"
		},
		"AzurePostgreSql1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "credit_human_db"
		},
		"AzurePostgreSql1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "credithumanadmin"
		},
		"PostgreSql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "credithumandb.postgres.database.azure.com"
		},
		"PostgreSql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "credit_human_db"
		},
		"PostgreSql_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "credithumanadmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DF_combinedatetime')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Dataflow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_CombineDateTime",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 32,
								"computeType": "MemoryOptimized"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_CombineDateTime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pl_load_blob_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get folder metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "data_load_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "incomingfilesfolder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachfile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get folder metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get folder metadata').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "transaction.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "SEQUENCENUMBER",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "transaction_id",
														"type": "Int32",
														"physicalType": "integer"
													}
												},
												{
													"source": {
														"name": "BALANCECHANGE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "transaction_amount",
														"type": "Decimal",
														"physicalType": "numeric"
													}
												},
												{
													"source": {
														"name": "NEWBALANCE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "balance",
														"type": "Decimal",
														"physicalType": "numeric"
													}
												},
												{
													"source": {
														"name": "DESCRIPTION",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "description",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "SOURCECODE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "payment_method",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "ACTIONCODE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "transaction_type_code_id",
														"type": "Int32",
														"physicalType": "integer"
													}
												},
												{
													"source": {
														"name": "PWC_Key",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "share_id",
														"type": "Int64",
														"physicalType": "bigint"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "incomingfilesfolder",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzurePostgreSqlTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "data_load_date",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ETLSTARTTIMEvariable",
							"value": {
								"value": "@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Notcopiedfiles",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "End_Audit",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "start_audit",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ETLENDTIMEvariable",
							"value": "[[\"@formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')\"]"
						}
					},
					{
						"name": "start_audit",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "ForEachfile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzurePostgreSql1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "insert into fss1.audit_pipeline(audit_id, batch_id, datasetname, tablename, taskname, etlstarttime, etlendtime, deltacondition, deltarecordsread, status, errormessage,created_DTTM)\nvalues ('@{pipeline().parameters.audit_id}',\n'@{pipeline().parameters.Batch_Id}',\n'@{pipeline().parameters.datasetname}',\n'@{pipeline().parameters.tablename}',\n'@{pipeline().parameters.taskname}',\n'@{pipeline().parameters.etlstarttime}',\n'@{pipeline().parameters.etlendtime}',\n'@{pipeline().parameters.deltacondition}',\n'@{pipeline().parameters.deltarecordsread}',\n'@{pipeline().parameters.status}',\n'@{pipeline().parameters.errormessage}',\n'@{pipeline().parameters.created_dttm}'\n);",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "End_Audit",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "ForEachfile",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzurePostgreSql1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "insert into fss1.audit_pipeline(audit_id, batch_id, datasetname, tablename, taskname, etlstarttime, etlendtime, deltacondition, deltarecordsread, [status], errormessage,created_DTTM)\nvalues ('@{pipeline().parameters.audit_id}'\n'@{pipeline().parameters.Batch_Id}',\n'@{pipeline().parameters.datasetname}',\n'@{pipeline().parameters.tablename}',\n'@{pipeline().parameters.taskname}',\n'@{pipeline().parameters.etlstarttime}',\n'@{pipeline().parameters.etlendtime}',\n'@{pipeline().parameters.deltacondition}',\n'@{pipeline().parameters.deltarecordsread}',\n'@{pipeline().parameters.status}',\n'@{pipeline().parameters.errormessage}',\n'@{pipeline().parameters.created_dttm}'\n);",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Batch_Id": {
						"type": "string",
						"defaultValue": "account"
					},
					"datasetname": {
						"type": "string",
						"defaultValue": "transaction"
					},
					"tablename": {
						"type": "string",
						"defaultValue": "account_idb"
					},
					"taskname": {
						"type": "string",
						"defaultValue": "updated"
					},
					"etlstarttime": {
						"type": "string",
						"defaultValue": "2025-10-27 09:30:50.725 +0530"
					},
					"etlendtime": {
						"type": "string",
						"defaultValue": "2025-10-27 09:30:50.725 +0530"
					},
					"deltacondition": {
						"type": "string",
						"defaultValue": "Null"
					},
					"deltarecordsread": {
						"type": "string",
						"defaultValue": "Null"
					},
					"status": {
						"type": "string",
						"defaultValue": "success"
					},
					"errormessage": {
						"type": "string"
					},
					"created_dttm": {
						"type": "string",
						"defaultValue": "2025-10-27 09:30:35.827 +0530"
					},
					"audit_id": {
						"type": "int",
						"defaultValue": 5
					}
				},
				"variables": {
					"ETLSTARTTIMEvariable": {
						"type": "String",
						"defaultValue": "2025-10-24 08:11:50.725 +0530"
					},
					"ETLENDTIMEvariable": {
						"type": "String",
						"defaultValue": "2025-10-24 08:11:50.725 +0530"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-17T14:36:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/incomingfilesfolder')]",
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1')]",
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_transactiondata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "BulkInsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SEQUENCENUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "transaction_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_date",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									},
									{
										"source": {
											"name": "BALANCECHANGE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_amount",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "NEWBALANCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "balance",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SOURCECODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payment_method",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ACTIONCODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_type_code_id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "PWC_Key",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "share_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "incomingfilesfolder",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzurePostgreSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/incomingfilesfolder')]",
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "fss1",
					"table": "ch_transaction"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dest_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().dest_filename",
							"type": "Expression"
						},
						"container": "archive"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PostgreSql",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/incomingfilesfolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "transaction.csv",
						"container": "chfiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PWC_Key",
						"type": "String"
					},
					{
						"name": "BALSEGCOUNT",
						"type": "String"
					},
					{
						"name": "COMMENTCODE",
						"type": "String"
					},
					{
						"name": "TRANSFERCODE",
						"type": "String"
					},
					{
						"name": "ADJUSTMENTCODE",
						"type": "String"
					},
					{
						"name": "REGECODE",
						"type": "String"
					},
					{
						"name": "REGDCHECKCODE",
						"type": "String"
					},
					{
						"name": "REGDTRANSFERCODE",
						"type": "String"
					},
					{
						"name": "VOIDCODE",
						"type": "String"
					},
					{
						"name": "SUBACTIONCODE",
						"type": "String"
					},
					{
						"name": "SEQUENCENUMBER",
						"type": "String"
					},
					{
						"name": "EFFECTIVEDATE",
						"type": "String"
					},
					{
						"name": "POSTDATE",
						"type": "String"
					},
					{
						"name": "POSTTIME",
						"type": "String"
					},
					{
						"name": "USERNUMBER",
						"type": "String"
					},
					{
						"name": "USEROVERRIDE",
						"type": "String"
					},
					{
						"name": "SECURITYLEVELS",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "ACTIONCODE",
						"type": "String"
					},
					{
						"name": "SOURCECODE",
						"type": "String"
					},
					{
						"name": "BALANCECHANGE",
						"type": "String"
					},
					{
						"name": "INTEREST",
						"type": "String"
					},
					{
						"name": "NEWBALANCE",
						"type": "String"
					},
					{
						"name": "FEEAMOUNT",
						"type": "String"
					},
					{
						"name": "ESCROWAMOUNT",
						"type": "String"
					},
					{
						"name": "LASTTRANDATE",
						"type": "String"
					},
					{
						"name": "MATURITYLOANDUEDATE",
						"type": "String"
					},
					{
						"name": "COMMENT",
						"type": "String"
					},
					{
						"name": "BRANCH",
						"type": "String"
					},
					{
						"name": "CONSOLENUMBER",
						"type": "String"
					},
					{
						"name": "BATCHSEQUENCE",
						"type": "String"
					},
					{
						"name": "SALESTAXAMOUNT",
						"type": "String"
					},
					{
						"name": "ACTIVITYDATE",
						"type": "String"
					},
					{
						"name": "BILLEDFEEAMOUNT",
						"type": "String"
					},
					{
						"name": "PROCESSORUSER",
						"type": "String"
					},
					{
						"name": "MEMBERBRANCH",
						"type": "String"
					},
					{
						"name": "PREVAVAILBALANCE",
						"type": "String"
					},
					{
						"name": "SUBSOURCE",
						"type": "String"
					},
					{
						"name": "CONFIRMATIONSEQ",
						"type": "String"
					},
					{
						"name": "RECURRINGTRAN",
						"type": "String"
					},
					{
						"name": "FEEEXMTCRTSYAMT",
						"type": "String"
					},
					{
						"name": "ESCROWUNPAIDBALCHG",
						"type": "String"
					},
					{
						"name": "ESCROWAPPLIEDBALCHG",
						"type": "String"
					},
					{
						"name": "UNAPPLIEDPARTIALPMTCHG",
						"type": "String"
					},
					{
						"name": "FEECOUNTBY",
						"type": "String"
					},
					{
						"name": "LATECHGWAIVEDAMT",
						"type": "String"
					},
					{
						"name": "LATECHGUNPAIDCHGAMT",
						"type": "String"
					},
					{
						"name": "PREVLATECHGDATE",
						"type": "String"
					},
					{
						"name": "PREVLATECHGACCRUED",
						"type": "String"
					},
					{
						"name": "LATECHGFIELDSVALID",
						"type": "String"
					},
					{
						"name": "BALSEGID1",
						"type": "String"
					},
					{
						"name": "BALSEGPMTCHANGEDATE1",
						"type": "String"
					},
					{
						"name": "INTEFFECTDATE",
						"type": "String"
					},
					{
						"name": "BALSEGPREVFIRSTPMTDATE1",
						"type": "String"
					},
					{
						"name": "DRAFTNUMBER",
						"type": "String"
					},
					{
						"name": "TRACERNUMBER",
						"type": "String"
					},
					{
						"name": "DISPOSITIONFEE",
						"type": "String"
					},
					{
						"name": "TERMINATIONFEE",
						"type": "String"
					},
					{
						"name": "MISCEXPENSEAMOUNT",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('AzurePostgreSql1_properties_typeProperties_server')]",
					"port": "5432",
					"database": "[parameters('AzurePostgreSql1_properties_typeProperties_database')]",
					"sslMode": 2,
					"username": "[parameters('AzurePostgreSql1_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzurePostgreSql1_password')]"
					},
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('PostgreSql_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('PostgreSql_properties_typeProperties_database')]",
					"username": "[parameters('PostgreSql_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PostgreSql_password')]"
					},
					"sslMode": 2,
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_CombineDateTime')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "incomingfilesfolder",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "incomingfilesfolder",
								"type": "DatasetReference"
							},
							"name": "sink",
							"rejectedDataLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "CombineDateTime"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PWC_Key as short,",
						"          BALSEGCOUNT as boolean,",
						"          COMMENTCODE as boolean,",
						"          TRANSFERCODE as boolean,",
						"          ADJUSTMENTCODE as boolean,",
						"          REGECODE as boolean,",
						"          REGDCHECKCODE as boolean,",
						"          REGDTRANSFERCODE as boolean,",
						"          VOIDCODE as boolean,",
						"          SUBACTIONCODE as string,",
						"          SEQUENCENUMBER as integer,",
						"          EFFECTIVEDATE as string,",
						"          POSTDATE as string,",
						"          POSTTIME as short,",
						"          USERNUMBER as short,",
						"          USEROVERRIDE as short,",
						"          SECURITYLEVELS as boolean,",
						"          DESCRIPTION as string,",
						"          ACTIONCODE as string,",
						"          SOURCECODE as string,",
						"          BALANCECHANGE as double,",
						"          INTEREST as double,",
						"          NEWBALANCE as double,",
						"          FEEAMOUNT as double,",
						"          ESCROWAMOUNT as double,",
						"          LASTTRANDATE as string,",
						"          MATURITYLOANDUEDATE as string,",
						"          COMMENT as string,",
						"          BRANCH as short,",
						"          CONSOLENUMBER as short,",
						"          BATCHSEQUENCE as short,",
						"          SALESTAXAMOUNT as double,",
						"          ACTIVITYDATE as string,",
						"          BILLEDFEEAMOUNT as double,",
						"          PROCESSORUSER as short,",
						"          MEMBERBRANCH as string,",
						"          PREVAVAILBALANCE as double,",
						"          SUBSOURCE as short,",
						"          CONFIRMATIONSEQ as integer,",
						"          RECURRINGTRAN as boolean,",
						"          FEEEXMTCRTSYAMT as double,",
						"          ESCROWUNPAIDBALCHG as double,",
						"          ESCROWAPPLIEDBALCHG as double,",
						"          UNAPPLIEDPARTIALPMTCHG as double,",
						"          FEECOUNTBY as boolean,",
						"          LATECHGWAIVEDAMT as double,",
						"          LATECHGUNPAIDCHGAMT as double,",
						"          PREVLATECHGDATE as string,",
						"          PREVLATECHGACCRUED as double,",
						"          LATECHGFIELDSVALID as boolean,",
						"          BALSEGID1 as string,",
						"          BALSEGPMTCHANGEDATE1 as string,",
						"          INTEFFECTDATE as string,",
						"          BALSEGPREVFIRSTPMTDATE1 as string,",
						"          DRAFTNUMBER as string,",
						"          TRACERNUMBER as string,",
						"          DISPOSITIONFEE as double,",
						"          TERMINATIONFEE as double,",
						"          MISCEXPENSEAMOUNT as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 100,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source",
						"source derive(transaction_date = toTimestamp(\r",
						"  concat(toString(POSTDATE, 'yyyy-MM-dd'), ' ', toString(POSTTIME)),\r",
						"  'yyyy-MM-dd HH:mm:ss.SSS'\r",
						")) ~> CombineDateTime",
						"CombineDateTime sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          PWC_Key as string,",
						"          BALSEGCOUNT as string,",
						"          COMMENTCODE as string,",
						"          TRANSFERCODE as string,",
						"          ADJUSTMENTCODE as string,",
						"          REGECODE as string,",
						"          REGDCHECKCODE as string,",
						"          REGDTRANSFERCODE as string,",
						"          VOIDCODE as string,",
						"          SUBACTIONCODE as string,",
						"          SEQUENCENUMBER as string,",
						"          EFFECTIVEDATE as string,",
						"          POSTDATE as string,",
						"          POSTTIME as string,",
						"          USERNUMBER as string,",
						"          USEROVERRIDE as string,",
						"          SECURITYLEVELS as string,",
						"          DESCRIPTION as string,",
						"          ACTIONCODE as string,",
						"          SOURCECODE as string,",
						"          BALANCECHANGE as string,",
						"          INTEREST as string,",
						"          NEWBALANCE as string,",
						"          FEEAMOUNT as string,",
						"          ESCROWAMOUNT as string,",
						"          LASTTRANDATE as string,",
						"          MATURITYLOANDUEDATE as string,",
						"          COMMENT as string,",
						"          BRANCH as string,",
						"          CONSOLENUMBER as string,",
						"          BATCHSEQUENCE as string,",
						"          SALESTAXAMOUNT as string,",
						"          ACTIVITYDATE as string,",
						"          BILLEDFEEAMOUNT as string,",
						"          PROCESSORUSER as string,",
						"          MEMBERBRANCH as string,",
						"          PREVAVAILBALANCE as string,",
						"          SUBSOURCE as string,",
						"          CONFIRMATIONSEQ as string,",
						"          RECURRINGTRAN as string,",
						"          FEEEXMTCRTSYAMT as string,",
						"          ESCROWUNPAIDBALCHG as string,",
						"          ESCROWAPPLIEDBALCHG as string,",
						"          UNAPPLIEDPARTIALPMTCHG as string,",
						"          FEECOUNTBY as string,",
						"          LATECHGWAIVEDAMT as string,",
						"          LATECHGUNPAIDCHGAMT as string,",
						"          PREVLATECHGDATE as string,",
						"          PREVLATECHGACCRUED as string,",
						"          LATECHGFIELDSVALID as string,",
						"          BALSEGID1 as string,",
						"          BALSEGPMTCHANGEDATE1 as string,",
						"          INTEFFECTDATE as string,",
						"          BALSEGPREVFIRSTPMTDATE1 as string,",
						"          DRAFTNUMBER as string,",
						"          TRACERNUMBER as string,",
						"          DISPOSITIONFEE as string,",
						"          TERMINATIONFEE as string,",
						"          MISCEXPENSEAMOUNT as string",
						"     ),",
						"     partitionFileNames:['transaction.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/incomingfilesfolder')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		}
	]
}